<template>
    <b-container fluid>
        <h1 class="h1 subtitle">{{title}}</h1>
        <b-row class="main-row" v-if="cart.products.length === 0">
            <p class="mx-auto">Please add some products into the cart!</p>
        </b-row>
        <b-row class="main-row" v-else>
            <b-col class="prod-col" xs="12" sm="12" md="12" lg="10" xl="10">
                <div class="card">
                <table class="table table-hover shopping-cart-wrap">
                <thead class="text-muted">
                <tr>
                <th scope="col" class="text ">Product</th>
                <th scope="col" class="text quantity-field">Quantity</th>
                <th scope="col" class="text price-col">Price</th>
                <th scope="col" class="text-right text">Action</th>
                </tr>
                </thead>
                <tbody v-for="cartProduct in cart.products" :key="cartProduct.product.productId">
                <tr>
                <td>
                    <figure class="media">
                        <div class="img-wrap img-with-two-col"><img :src="cartProduct.product.imageOne" class="img-thumbnail img-sm"></div>
                        <figcaption class="media-body img-with-two-col">
                            <p class="title text-truncate" style="white-space: pre-line">{{cartProduct.product.name}}</p>
                        </figcaption>
                        <p class="title text-truncate img-with-one-col text" style="white-space: pre-line">{{cartProduct.product.name}}</p>
                    </figure> 
                </td>
                <td> 
                    <input class="quantity-field" type="number" value="1" min="1" max="99"  v-model="cartProduct.quantity"  @input="checkInputQuantity(cartProduct)">
                </td>
                <td class="price-col"> 
                    <div class="price-wrap"> 
                        <var class="price text">{{cartProduct.quantity*cartProduct.product.price}}€</var>
                        <br>
                        <small class="text-muted text">({{cartProduct.product.price}}€ each)</small> 
                    </div> <!-- price-wrap .// -->
                </td>
                <td class="text-right">
                    <a href="#" class="btn btn-outline-danger delete-with-two-col text" @click="removeProduct(cartProduct.product.productId)"> × Remove</a>
                    <a href="#" class="btn btn-outline-danger delete-with-one-col text" @click="removeProduct(cartProduct.product.productId)"> × </a>
                </td>
                </tr>
                </tbody>
                </table>
                </div>
            </b-col>
            <b-col class="buy-col">
                <div class="summary mt-2">
                    <p class="text mb-0 total-p">Total: <strike class="stike-content" v-if="total!==discountedTotal">{{total}}€</strike> {{discountedTotal}}€</p>
                    <ButtonBuy class="mt-3 text" buttonName="Buy now!" @purchase-completed="purchaseCompleted"/>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import CartApi from '../../services/CartApi';
import Cart from '../../models/Cart';
import CartProduct from '../../models/CartProduct';
import ButtonBuy from '@/components/Shop/ButtonBuy.vue';

@Component({
    components: {
        ButtonBuy,
    },
})
export default class ShopCart extends Vue {
    private title: string;
    private discountedTotal: number;
    private cart: Cart;
    private total: number;

    constructor() {
        super();
        this.total = 0;
        this.discountedTotal = 0;
        this.title = 'Cart';
        this.cart = {
            userId: '',
            products: [],
            price: 0,
            discountedPrice: 0,
        };
    }

    private cartProductIndex(productId: string) {
        return this.cart.products.findIndex((cartProd) => cartProd.product.productId === productId);
    }

    private removeProduct(productId: string) {
        const prodIndex = this.cartProductIndex(productId);
        this.updateTotal(this.cart.products[prodIndex].product.price, this.cart.products[prodIndex].quantity, false);
        this.cart.products.splice(prodIndex, 1);
        this.performUpdateRequest(productId, 0); // Delete product from cart inserting 0 as quantity
    }

    private purchaseCompleted() {
        if(this.cart.products.length > 0) {
            this.cart.products = [];
            this.total = 0;
            alert("Purchase completed!");
        } else {
            alert("Plese put some products into the cart!");
        }
    }

    private checkInputQuantity(cartProduct: CartProduct) {
        if (cartProduct.quantity > 99) {
            cartProduct.quantity = 99;
        }
        if (cartProduct.quantity <  1) {
            cartProduct.quantity = 1;
        }
        this.performUpdateRequest(cartProduct.product.productId, cartProduct.quantity);
    }

    private performUpdateRequest(productId: string, quantity: number) {
         CartApi.postUpdateCartProducts(productId, quantity)
                .then((res: any) => {
                    this.total = 0;
                    this.cart.products.forEach((cartProd) => this.updateTotal(cartProd.product.price, cartProd.quantity, true));
                    this.discountedTotal = res.data.discountedPrice;
                })
                .catch((error: any) => console.log(`Failed to update product quantity with id: ${productId} and quantity: ${quantity}`));
    }

    private updateTotal(singleItemPrice: number, itemQuantity: number, sum: boolean) {
        if (sum) {
            this.total += (singleItemPrice * itemQuantity);
        } else {
            this.total -= (singleItemPrice * itemQuantity);
        }
    }

    private clearCartPreview() {
        this.cart.products = [];
        this.total = 0;
        this.discountedTotal = 0;
    }

    private mounted() {
        this.getCartProducts();
    }
    private async getCartProducts() {
        if (this.$cookies.isKey('userIsLogged')) {
            const response = await CartApi.getUserCart();
            this.cart = response.data;
            this.cart.products.forEach((cartProd) => this.updateTotal(cartProd.product.price, cartProd.quantity, true));
            this.discountedTotal = this.cart.discountedPrice;
        }
    }
}
</script>

<style lang="scss" scoped src="./style.scss" />

