$column-height: 86vh;

$mobile-column-prod-height: 72vh;
$mobile-column-stuff-height: 12vh;

.stike-content {
    color: rgba(112, 109, 109, 0.753);
}

.total-p {
    font-weight: bold;
}
.img-thumbnail {
    max-width: 120px;
    max-height: 120px;
}
.prod-col {
max-height: $column-height; 
overflow-y: auto;
}

.img-with-one-col {
    display: none;
}

.delete-with-one-col {
    display: none;
}

#quantity-field {
    width: auto;
}

@media screen and (max-height: 920px) {
    .prod-col {
        max-height: 82vh; 
    }
}

@media screen and (max-height: 720px) {
    .prod-col {
        max-height: 78vh; 
    }
}

@media screen and (max-height: 590px) {
    .prod-col {
        max-height: 74vh; 
    }
}

@media screen and (max-height: 500px) {
    .prod-col {
        max-height: 70vh; 
    }
}

@media screen and (min-width: 2400px) {
    .main-row {
        margin-left: 30vw;
        margin-right: 30vw;
    }
}
@media screen and (min-width: 1600px) {
    .main-row {
        margin-left: 20vw;
        margin-right: 20vw;
    }
}
@media screen and (min-width: 1250px) {
    .main-row {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

@media screen and (max-width: 990px) {
  .prod-col {
      height: 70vh;
  }
  .buy-col {
      height: $mobile-column-stuff-height;
  }
} 

//For resize quantity
@media screen and (max-width: 676px) {
    .quantity-field {
        width: 60px;
    }
}
@media screen and (max-width: 378px) {
    .price-col {
        display: none;
    }
}

//For products images
@media screen and (max-width: 600px) {
  .img-with-two-col {
      display: none;
  }
  .img-with-one-col { //Shows only product name with one col
      display: block;
  }
  .prod-col {
    height: 63vh;
}
}
//For Remove button
@media screen and (max-width: 480px) {
  .delete-with-two-col {
      display: none;
  }
  .delete-with-one-col { //Shows only X with one col
      display: block;
      width: 43px;
      font-size: 1.2em;
      font-weight: bold;
  }
}


@media screen and (max-width: 990px) and (max-height: 661px) {
    .prod-col {
        height: 62vh; 
    }
}
