<template>
  <div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title subtitle">About Us</h2>
                        <p class="aboutus-text text">Our goal is to make health and fitness attainable, affordable and approachable.</p>
                        <p class="aboutus-text text">We believe fitness should be accessible to everyone, everywhere, regardless of income level or access to a gym. That's why we offer hundreds of free, full-length workout videos, the most affordable and effective workout programs on the web, meal plans, and helpful health, nutrition and fitness information.</p>
                    </div>
                </div>
                <div id="image-container" class="col-md-4 col-sm-6 col-xs-12 mt-5">
                    <div class="aboutus-banner">
                        <img src="https://i1.wp.com/danteinlinea.com/wp-content/uploads/2017/01/OC3J7D0.jpg?fit=960%2C874&ssl=1" alt="Hello world!">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="fas fa-heart icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4 class="sub-subtitle">Work with heart</h4>
                                    <p class="text">Over 500 free workouts range from 10-85 minutes long, from beginner level to elite athlete, from HIIT to Pilates, and strength training to bodyweight.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="fas fa-fist-raised icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4 class="sub-subtitle">Reliable services</h4>
                                    <p class="text">Our workout plans use our online fitness calendar to provide detailed, day-by-day plans, creating incredible, sustainable results.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="fas fa-headset icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4 class="sub-subtitle">Great support</h4>
                                    <p class="text">Over 500 free workouts range from 10-85 minutes long, from beginner level to elite athlete, from HIIT to Pilates, and strength training to bodyweight.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped src="./style.scss"/>
