<template>
  <div id="app">

  <b-navbar id="nav" class="nav_bg" toggleable="lg" type="light">
    <b-navbar-brand to="/">
    <img src="./assets/niceLogo_tiny.png" class="d-inline-block align-top nav-logo">
    </b-navbar-brand>
    <NotificationBell v-if="someoneIsLogged()" id="bell"></NotificationBell>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>

      <b-navbar-nav>
        <b-nav-item class="nav-link text" v-if="userIsLogged()" to="/userRequest">Plan Request</b-nav-item>
        <b-nav-item class="nav-link text" v-if="userIsLogged()" to="/userPlan">User Plans</b-nav-item>
        <b-nav-item class="nav-link text" to="/leaderboard">Leaderboard</b-nav-item>
        <b-nav-item class="nav-link text" v-if="userIsLogged()" to="/user">User</b-nav-item>
        <b-nav-item class="nav-link text" v-if="coachIsLogged()" to="/coachProfile">Profile</b-nav-item>
        <b-nav-item class="nav-link text" v-if="coachIsLogged()" to="/coachPlans">Plans</b-nav-item>
        <b-nav-item class="nav-link text" v-if="coachIsLogged()" to="/selectRequest">Requests</b-nav-item>
        <b-nav-item class="nav-link text" v-if="adminIsLogged()" to="/admin">Admin</b-nav-item>
        <!-- SHOP -->
        <b-nav-item-dropdown v-if="userIsLogged()" right class="nav-link">
          <template slot="button-content"><em>Shop</em></template>
          <b-dropdown-item class="nav-link" to="/shop">Shop</b-dropdown-item>
          <b-dropdown-item class="nav-link" to="/cart">Cart</b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item v-else-if="!someoneIsLogged()" class="nav-link" to="/shop">Shop</b-nav-item>
        <!-- CRUD operations -->
        <b-nav-item class="nav-link text" v-if="adminIsLogged()" to="/crud">CRUD</b-nav-item>

        <b-nav-item class="nav-link text" to="/about">About</b-nav-item>

      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <!-- SIGNUP SIGNIN -->
        <b-nav-item class="nav-link" v-if="!someoneIsLogged()" right>
          <b-button variant="light" class="logout-link" href="#" @click.prevent="goToUserAccess()">Account</b-button>
        </b-nav-item>
        <div id="rightContainer" v-else right>

        <Logout id="logout"/>
        </div>

      </b-navbar-nav>

    </b-collapse>
  </b-navbar>
  <router-view/>
  </div>
</template>


<script lang='ts'>
    import { Component, Vue } from 'vue-property-decorator';
    import { CredentialsUtils } from './Utils';
    import Logout from '@/components/SignUpSignIn/Logout.vue';
    import NotificationBell from '@/components/NotificationBell.vue';

    @Component({
      components: {
        Logout,
        NotificationBell,
      },
    })
    export default class App extends Vue {
      //Check if someone is logged
      private someoneIsLogged() {
        return CredentialsUtils.someoneIsLoggedIn();
      }
      //Check if user is logged
      private userIsLogged() {
        return CredentialsUtils.userIsLogged();
      }
      //Check if coach is logged
      private coachIsLogged() {
        return CredentialsUtils.coachIsLogged();
      }
      //Check if coach is logged
      private adminIsLogged() {
        return CredentialsUtils.adminIsLogged();
      }

      private goToUserAccess() {
        this.$router.push('/user-access');
      }
    }
   </script>

<style lang="scss">
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

#bell {
top:6px;
right:200px;
position:absolute;
}



#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  a {
    font-size: 1em;
    &.router-link-exact-active {
      color: black;
      font-weight: bold;
    }
  }
}

.navbar {
  border-bottom:2px solid #f4623A;
}

.nav-logo {
  width: 85px;
  height: 35px;
}

.access-link {
    padding: 0.1rem 1rem !important;
    border-radius: 5rem !important;
    border: 1px solid #8C8C8C !important;
    font-weight: bold;
    margin-bottom: 0.3rem !important;
    position: relative !important;
}

.ml-auto {

}

#rightContainer {
  width:50px !important;
  top:4px;
  right:100px;
  position:absolute;
}

ul.ml-auto {

width:280px !important;
}



@media (max-width: 991px) {


  ul.ml-auto {
  width:100% !important;
  margin-left:0 !important;
  }
  li.nav-link {
  width:100% !important;
  }

  #rightContainer {
    width:100% !important;
    top:0;
    left:0;
    right:0;
    position:relative;
  }

  #bell {
  top:2px;
  left: 48% !important;

  width:40px !important;
  }

  .notifications {
    width:420px !important;
    right: 0px !important;
    left: -200px !important;
  }

  .groupofnotes {
  font-size:90% !important;
  }
  .num{
  left: 12px !important;
  }

}

@media (max-width: 450px) {


  .notifications {
    width:320px !important;
    right: 0px !important;
    left: -150px !important;
  }

  .groupofnotes {
  font-size:65% !important;
  }

}

@media (max-width: 330px) {


  .notifications {
    width:300px !important;
    right: 0px !important;
    left: -150px !important;
  }

  .groupofnotes {
  font-size:55% !important;
  }

}


</style>
