<template>
  <div class="container">
    <div>
      <h3 id="title-product" class="h3 text mt-2 sub-sub-title">{{productsTitle}}</h3>

      <div>
        <b-modal v-if="indexIsCorrect()" id="select-quantity-modal" centered  :title="getSelectedProd().name" @ok="completeAdditionToCart" ok-variant="success" cancel-variant="light">
          <b-container>
            <b-row>
              <b-col>
                <label for="quantity-field"> Select product quantity:</label>
                <input id="quantity-field" type="number" value="1" min="1" max="99"  v-model="selectedQuantity">
              </b-col>
            </b-row>
          </b-container>
        </b-modal>
      </div>

      <div class="row" v-if="products.length > 0">
        <div class="col-md-3 col-sm-6 mt-1" v-for="(product, index) in products" :key="product.id">
          <div class="product-grid">
            <div class="product-image">
              <a href="#">
                <img
                  class="pic-1"
                  :src="product.imageOne"
                />
                <img
                  class="pic-2"
                  :src="product.imageTwo"
                />
              </a>
              
              <ul class="social">
                <li>
                  <a href="#" @click="setSelectedProd(index)" role="button" v-b-modal.modal-1 data-tip="Quick View">
                    <i class="fa fa-search">
                    </i>
                  </a>
                </li>
                <li>
                  <a href="#" data-tip="Add to Cart" v-show="ifUserIsLogged" v-b-modal.select-quantity-modal @click="setSelectedProd(index)">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                </li>
              </ul>
              <div v-if="product.onSale">
                <span class="product-new-label">Sale</span>
                <span class="product-discount-label">{{100 - Math.round((100 * product.discountedPrice)/product.price)}}%</span>
              </div>
            </div>
            <div :class="[
                        'product-content',
                        ifUserIsLogged ? 'product-content-logged' : 'product-content-not-logged',
                        ]">
              <h3 class="title">
                <p>{{product.name}}</p>
              </h3>

              <div v-if="product.onSale" class="price">
                {{product.discountedPrice}}€
                <span>{{product.price}}€</span>
              </div>
              <div v-else class="price">
                {{product.price}}€
              </div>
              
              <a class="add-to-cart" v-show="ifUserIsLogged" v-b-modal.select-quantity-modal href='#' @click="setSelectedProd(index)">+ Add To Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row" v-else>
        <div class="col">
          <p>No products belonging to {{productsTitle}} have been found!</p>
        </div>
      </div>
    </div>
  
  <div>

    <b-modal v-if="indexIsCorrect()" id="modal-1" :title="getSelectedProd().name" hide-footer>
      <div class="card">
			<div class="container-fluid">
				<div class="row">
					<div class="preview col-md-6 image-preview-container">
						  <div class="tab-pane active" id="pic-1"><img :src="getSelectedProd().imageOne" /></div>					
					</div>
					<div class="details col-md-6">
						<p class="price" v-if="getSelectedProd().onSale">
              <b>Previous price:</b>
              <strike>{{getSelectedProd().price}}€</strike>
              <br>
              <b>Current price:</b> 
              <span>{{getSelectedProd().discountedPrice}}€</span>
            </p>
            <p class="price" v-else><b>Current price:</b>
              <span>{{getSelectedProd().price}}€</span>
            </p>
					</div>
				</div>
        <div class="row">
          <div class="col">
            <p class="product-title"></p>
						<p class="product-description"><b>Description:</b><br>{{getSelectedProd().description}}</p>
          </div>
			  </div>
        <div class="row">
          <div class="col">
							<button class="action-button" type="button" v-b-modal.select-quantity-modal v-show="ifUserIsLogged">Add to cart</button>
          </div> 
        </div>
			</div>
		</div>
    </b-modal>
  </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import ShopApi from '../../../services/ShopApi';
import CartApi from '../../../services/CartApi';
import Product from '../../../models/Product';
import { Prop, Watch } from 'vue-property-decorator';

@Component
export default class ShopProducts extends Vue {
  @Prop(Number) private readonly categoryId!: number;
  @Prop(String) private readonly categoryName!: string;
  private productsTitle: string;
  private products: Product[];
  private selectedProduct: number;
  private selectedQuantity: number;
  private ifUserIsLogged: boolean;

  constructor() {
    super();
    this.productsTitle = '';
    this.products = [];
    this.selectedQuantity = 1;
    this.selectedProduct = -1;
    this.ifUserIsLogged = this.$cookies.isKey('userIsLogged');
  }

  @Watch('selectedQuantity') private quantityChanged(val: number, oldVal: number) {
    if (val < 1) {
      this.selectedQuantity = 1;
    } else if (val > 99) {
      this.selectedQuantity = 99;
    }
  }

  private indexIsCorrect() {
    return this.selectedProduct >= 0 && this.selectedProduct <= this.products.length;
  }

  private setSelectedProd(prodIndex: number) {
    if (prodIndex >= 0 && prodIndex < this.products.length) {
      this.selectedProduct = prodIndex;
    } else {
      console.log('Wrong product index!');
    }
  }

  private getSelectedProd() {
    return this.products[this.selectedProduct];
  }

  private completeAdditionToCart() {
    const tmpSelectedProd = this.getSelectedProd();
    if (tmpSelectedProd != null && tmpSelectedProd.productId.toString.length > 0) {
      CartApi
      .postUpdateCartProducts(tmpSelectedProd.productId, this.selectedQuantity)
      .then((res) => {
        const finalPrice = tmpSelectedProd.onSale ?
        tmpSelectedProd.discountedPrice : tmpSelectedProd.price;
        this.$emit('new-product-added-to-cart', {
          product: tmpSelectedProd,
          quantity: this.selectedQuantity,
        });
        this.resetSelectedProduct();
      })
      .catch((error) => {
        // Probably the cart doesn't exist
        CartApi.getUserCart().then((res) => {
          this.completeAdditionToCart();
        }).catch((err) => {
          // Probably there is a problem with the server!
          console.log('Error trying to send product to server' + err);
          this.resetSelectedProduct();
        });
      });
    }
  }

  private resetSelectedProduct() {
    this.selectedQuantity = 1;
    this.selectedProduct = -1;
  }

  @Watch('categoryId') private onChildChanged(val: number, oldVal: number) {
    this.getProducts();
  }

  // Lifecycle hook
  private mounted() {
    this.ifUserIsLogged = this.$cookies.isKey('userIsLogged');
    this.getProducts();
  }
  private async getProducts() {
    const response = (this.categoryId === 0) ? await ShopApi.getAllProducts() :
                                              await ShopApi.getProductsByCategory(this.categoryId);
    this.productsTitle = (this.categoryId !== 0) ? this.categoryName : 'All products';
    this.products = response.data;
  }
}
</script>


<style scoped src='./style.css'/>
