<template>
  <div class="container col-12">

    <AddEditAchievement 
      v-if="showAddEditComponent" 
      v-bind:achievementToEdit="selectedAchievement" 
      @operationCompleted="changeEditComponentVisibility(false)"/>
    
    <b-button variant="light" class="add-stuff-button"
      v-else 
      @click="changeEditComponentVisibility(true)">
      <i class="fas fa-plus text-primary"></i> 
      Add new achievement
    </b-button>

    <div class="filters row">
      <!-- Select filter type -->
      <div class="form-group col-sm-2">
        <b-form-select v-model="selectedFilter" :options="filterOptions" class="mb-3" required>
          <template slot="first">
            <option value="" disabled>-- Select filter type --</option>
          </template>
        </b-form-select>
      </div>
      <!-- Search by name -->
      <div class="form-group col-sm-3" v-if="selectedFilter === FILTER_BY_NAME">
        <input v-model="searchKey" type="text" class="form-control" placeholder="Achievement name" id="search-element"/>
      </div>
      <!-- Search by id -->
      <div class="form-group col-sm-3" v-if="selectedFilter === FILTER_BY_ID">
        <input v-model="searchKey" type="number" class="form-control" placeholder="Achievement id" id="search-element"/>
      </div>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>Achivement ID <a href="#" @click="sortTable(FILTER_BY_ID)"><i class="fas fa-sort-up"></i></a></th>
        <th>Name <a href="#" @click="sortTable(FILTER_BY_NAME)"><i class="fas fa-sort-up"></i></a></th>
        <th>Icon</th>
        <th>Description</th>
        <th>Exercise <a href="#" @click="sortTable(FILTER_BY_EXERCISE)"><i class="fas fa-sort-up"></i></a></th>
        <th>Amount</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="achievement in renderedAchievements" :key="achievement.achievementId">
        <td>{{ achievement.achievementId}}</td>
        <td>{{ achievement.name}}</td>
        <td>{{(achievement.icon) ? checkTextMaxLength(achievement.icon) : '--'}}</td>
        <td>{{ achievement.description}}</td>
        <td>{{ achievement.card.exercise.name}}</td>
        <td>{{ achievement.card.amount}}</td>
        <td>
        <div class="btn-group-vertical" role="group">
          <!-- Edit Achievement -->
          <b-button variant="outline-info"
          @click="changeEditComponentVisibility(true, achievement)"
          >Edit</b-button>
          <!-- Delete Achievement -->
          <button type="button" class="btn btn-outline-danger"
          @click="deleteAchievement(achievement)">Delete</button>
        </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>


<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import CRUDApi from '../../../services/CRUDApi';
import Achievement from '../../../models/Achievement';
import Exercise from '../../../models/Exercise';
import { Card } from '../../../models/Achievement';
import { Watch } from 'vue-property-decorator';
import CrudUtils from './../CrudUtils';
import FilterOption from './../CrudUtils';
import AddEditAchievement from './AddEditAchievement.vue';

@Component({
  components: {
    AddEditAchievement,
  }
})
export default class CRUD extends Vue {
  private readonly FILTER_BY_NAME = 'name';
  private readonly FILTER_BY_ID = 'id';
  private readonly FILTER_BY_EXERCISE = 'exercise';
  private readonly textMaxLength: number = 200;

  private searchKey: string;
  private filterOptions: FilterOption[];
  private selectedFilter: string;
  private selectedAchievement!: Achievement | null;

  private achievements: Achievement[];
  private renderedAchievements: Achievement[];

  private showAddEditComponent: boolean = false;
  
  constructor() {
    super();
    this.achievements = [];
    this.searchKey = '';
    this.selectedFilter = '';
    this.filterOptions = [];  
    this.renderedAchievements = [];
  }

  // Lifecycle hook
  private mounted() {
    this.getAchievements();
    this.filterOptions = CrudUtils.getFilterOptions([this.FILTER_BY_NAME, this.FILTER_BY_ID]);
  }

  private async getAchievements() {
    const response = await CRUDApi.getAchivement();
    console.log(response);
    this.achievements = response.data;
    this.updateGUI();
  }

  private deleteAchievement(achievement: Achievement) {
    CRUDApi.deleteAchievement(achievement.achievementId)
    .then((res) => {
      let index = this.achievements.indexOf(achievement);
      if (index !== -1) {
        this.achievements.splice(index, 1);
        this.updateGUI();
      }
    })
    .catch((error) => {
      console.log(`Error during achievement deletion: ${error}`);
    })
  }
  
  private updateGUI() {
    this.renderedAchievements = this.achievements;
  }

  private sortTable(sortBy: string) {
    switch(sortBy) {
      case this.FILTER_BY_ID:
        this.renderedAchievements = this.achievements.sort(function(a, b) {
          return CrudUtils.compareNumberAsc(a.achievementId, b.achievementId);
        });
        break;
      case this.FILTER_BY_NAME:
        this.renderedAchievements = this.achievements.sort(function(a, b){
          return CrudUtils.compareStringAsc(a.name, b.name);
        });
        break;
      case this.FILTER_BY_EXERCISE:
        this.renderedAchievements = this.achievements.sort(function(a, b){
          return CrudUtils.compareStringAsc(a.card.exercise.name, b.card.exercise.name);
        });
        break;
    }
  }

  private changeEditComponentVisibility(show:boolean, achievement: Achievement | null = null) {
    this.showAddEditComponent = show;
    this.selectedAchievement = achievement;
    this.getAchievements();
  }

  @Watch('searchKey') private onValueChange(newSearchKey: string) {
    if (newSearchKey.length === 0) {
      this.renderedAchievements = this.achievements;
    } else {
      this.renderedAchievements = (
        (this.selectedFilter === this.FILTER_BY_NAME) ? 
          CrudUtils.searchByName(this.achievements, newSearchKey) : 
          this.searchById()
        ) as Achievement[];
    }
  }

  private searchById() {
    let filtered: Achievement[] = [];
    this.achievements.forEach(ach => {
      if (ach.achievementId.toString() == this.searchKey) {
        filtered.push(ach);
      }
    });
    return filtered;
  }

  private checkTextMaxLength(text: string): string {
    return CrudUtils.checkTextMaxLength(text, this.textMaxLength);
  }
}
</script>

<style lang="scss" scoped src="./../style/crud.scss">