<template>
        <div class="card card-body col-md-6 col-xl-4 mx-auto mt-3">
            <h3 class="text-center subtitle ">Create/Update achievement</h3>

            <b-row class="text-center">
                <b-col></b-col>
                <b-col cols="4">
                    <b-button variant="light" class="add-stuff-button" @click="closeComponent()">
                        <i class="fas fa-arrow-left text-danger"></i> Close
                    </b-button>
                </b-col>
                <b-col></b-col>
            </b-row>

            <form class="mt-3" @submit="checkForm">
                <p>{{additionCompleted}}</p>
                <div class="form-group input-group">
                    <input type="name" class="form-control" required placeholder="Achievement name" v-model="name"/>
                </div>

                <div class="form-group input-group">
                    <b-form-textarea id="textarea" v-model="description" placeholder="Enter achievement description" required/>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="far fa-image"></i> </span>
                    </div>
                    <input type="file" accept=".svg" id="svgPicker" ref="mySVG" @change="previewSVG()">
                </div>

                <div class="form-group input-group">
                    <!-- INSERIRE PREVIEW DELL'SVG -->
                    <div v-if="achievementToEdit" v-html="achievementToEdit.icon"></div>
                    <div v-else v-html="selectedIcon" class="h-10"></div>
                </div>

                <div class="form-group input-group">
                    <b-form-select v-model="selectedExercise" :options="exerciseOptions" class="mb-3" required>
                        <template slot="first">
                            <option value="" disabled>-- Please select achievement exercise --</option>
                        </template>
                    </b-form-select>
                </div>
               
                <div class="form-group">
                    <label for="amount-field" class="float-left text">Insert amount reps or seconds:</label>
                    <input type="number" class="form-control" min="1" required placeholder="Amount" v-model="amount">
                </div>
                  
                <button type="submit" class="action-button" style="width: 50%">Add/Update achievement</button>
            </form>
        </div>
</template>

<script lang="ts">
import Vue from 'vue';
import UserAccessApi from '../../../services/UserAccessApi';
import CRUDApi from '../../../services/CRUDApi';
import Achievement from '../../../models/Achievement';
import { Card } from '../../../models/Achievement';
import CoachApi from "../../../services/CoachApi";
import Exercise from "../../../models/Exercise";
import Component from 'vue-class-component';
import { Watch, Prop } from 'vue-property-decorator';

interface SelectOption {
    value: string;
    text: string;
}


@Component
export default class Registration extends Vue {
    @Prop(Object) private achievementToEdit!: Achievement;
    private name: string;
    private description: string;
    private selectedExercise: string;
    private amount: number;
    private selectedIcon: string;

    private exercises!: Exercise[];
    private exerciseOptions: SelectOption[];

    private additionCompleted: string;

    constructor() {
        super();
        this.name = '';
        this.description = '';
        this.amount = 1;
        this.exerciseOptions = [];
        this.additionCompleted = '';
        this.selectedExercise = '';
        this.selectedIcon = '';
    }

    private previewSVG() {
        const selFile = (this.$refs.mySVG as any).files[0];
        if(selFile) {
            let reader = new FileReader();
            let content: string = '';

            reader.onload = (e) => {
                this.selectedIcon = reader.result as string;
            }

            //Async reading
            reader.readAsText(selFile); 
        }
    }

    private findExerciseById() {
        return this.exercises.find((ex) => ex.exerciseId === Number.parseInt(this.selectedExercise));
    }
    
    private checkForm(event: Event) {
        const tmpSelectedExercise = this.findExerciseById();
        if(tmpSelectedExercise) {
            let newCard: Card = {
                amount: this.amount,
                exercise: tmpSelectedExercise,
                weight: 0,
            }
            let newAchivement: Achievement = {
                achievementId: -1,
                name: this.name,
                description: this.description,
                icon: this.selectedIcon,
                card: newCard,
            }
            this.performRequest(newAchivement);
        }
        event.preventDefault();
    }

    private performRequest(newAchivement: Achievement) {
        if(this.achievementToEdit) {
            this.updateAchievement(newAchivement);
        } else {
            this.createAchievement(newAchivement);
        }
    }

    private createAchievement(achievement: Achievement) {
        CRUDApi.putNewAchievement(achievement)
        .then((res) => {
            this.additionCompleted = "Achievement added with success!";
            setTimeout(() => this.additionCompleted = '', 2000);
            this.closeComponent();
        })
        .catch((error) => {
            console.log(error);
        });
    }

    private updateAchievement(achievement: Achievement) {
        achievement.achievementId = this.achievementToEdit.achievementId;
        CRUDApi.updateAchievement(achievement)
        .then((res) => {
            this.additionCompleted = "Achievement updated with success!";
            setTimeout(() => this.additionCompleted = '', 2000);
            this.closeComponent();
        })
        .catch((error) => {
            console.log(error);
        });
    }

    private closeComponent() {
        this.$emit('operationCompleted');
    }

    private mounted() {
        this.getExercises();
        if(this.achievementToEdit && !this.objectIsEmpty(this.achievementToEdit)) {
            this.name = this.achievementToEdit.name;
            this.description = this.achievementToEdit.description;
            this.selectedExercise = this.achievementToEdit.card.exercise.exerciseId + '';
            this.amount = this.achievementToEdit.card.amount;
            this.selectedIcon = (this.achievementToEdit.icon) ? this.achievementToEdit.icon : '';
        }
    }

    private objectIsEmpty(obj: Object) {
        for(var key in obj) {
            if(obj.hasOwnProperty(key))
                return false;
        }
        return true;
    }

    private async getExercises() {
        const response = await CoachApi.getExList();
        response.data.forEach((exercise: Exercise) => this.exerciseOptions.push({
            value: exercise.exerciseId + '',
            text: exercise.name,
        }));
        this.exercises = (response.data) ? response.data : [];
    }
}
</script>

<style lang="scss" src="../../SignUpSignIn/Styles/form-style.scss" />

<style lang="scss" scoped src="./../style/crud.scss">
