<template>
<div class="container">
	<div class="row" v-if="idVal.length > 0">
		<div class="col-md-12">

			<div v-bind:id="'myCarousel' + idVal" class="carousel slide" data-ride="carousel" data-interval="0">

            <!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div v-for="(recommProducts, index) in recommRows" :key="index" :class="['item', 'carousel-item', index==0 ? 'active' : '']">
                    <div class="row">
                        <div class="col-sm-12" v-for="recomm in recommProducts.getProducts()" :key="recomm.id">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img :src="recomm.imageOne" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>{{recomm.name}}</h4>
									<p class="item-price" v-if="recomm.onSale"><strike>{{recomm.price}}€</strike> <span>{{recomm.discountedPrice}}€</span></p>
                                    <p class="item-price" v-else><span>{{recomm.price}}€</span></p>
									<a href="#" class="btn btn-primary" @click="addToCart(recomm.productId)" v-if="userIsLogged">Buy</a>
								</div>
							</div>
						</div>
                    </div>
				</div>
			</div>

            <!-- Carousel controls -->
			<a id="leftC" class="carousel-control left carousel-control-prev" v-bind:href="'#myCarousel' + idVal" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a id="rightC" class="carousel-control right carousel-control-next" v-bind:href="'#myCarousel' + idVal" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
		</div>
	</div>
</div>
</template>

<script lang="ts">
import Vue from 'vue';
import CartApi from '../../services/CartApi';
import ShopApi from '../../services/ShopApi';
import Product from '../../models/Product';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import Cart from '../../models/Cart';
// Single carousel row
class RecommRow {
	// If you change this value you shoud also change boostrap cols sizes!!
    private readonly maxProdForRow = 1;
    private products: Product[];
    constructor() {
        this.products = [];
    }
    public addProduct(product: Product) {
        this.products.push(product);
        return this.isFull();
    }
    public getProducts() {
        return this.products;
    }
    public isFull() {
        return this.products.length === this.maxProdForRow;
    }
}
@Component({
  props: {
		idVal: {
        type: String,
    },
  },
})
export default class RecommendedProducts extends Vue {
	@Prop(Array) private data!: Product[];
    private recommRows: RecommRow[];
    private userIsLogged: boolean;
    constructor() {
        super();
        this.recommRows = [];
        this.userIsLogged = this.$cookies.isKey('userIsLogged');
    }
    // Lifecycle hook
    private mounted() {
        this.getProducts();
    }
    private async getProducts() {
				let currentRecommRow = 0;
				let newRow = false;
				this.data.forEach((prod: Product) => {
						if (newRow) {currentRecommRow++; }
						if (this.recommRows[currentRecommRow] == null) {
							this.recommRows.push(new RecommRow());
						}
						newRow = this.recommRows[currentRecommRow].addProduct(prod);
        });
				if (currentRecommRow === 0) {
					$('#leftC').addClass( 'hidden' );
					$('#rightC').addClass( 'hidden' );
				}
    }
    private addToCart(productId: string) {

        CartApi.getUserCart().then((res) => {
            let cart:Cart = res.data;
            let quant =  cart.products.filter(prod => prod.product.productId === productId)[0].quantity;
            CartApi.postUpdateCartProducts(productId, quant+1)
            .then((res) => {
                alert('Product added to cart!');
            })
            .catch((err: any) => {
                alert('A problem occurred!');
            });
        }).catch((err) => {
            // If the promise fails probably is because the user have no cart, so try to create it.
            CartApi.postUpdateCartProducts(productId, 1)
            .then((res) => {
                alert('Product added to cart!');
            })
            .catch((err: any) => {
                alert('A problem occurred!');
            });
        })
    }
}
</script>

<style scoped src="./style.css" />
