<template>
        <div class="card card-body col-md-6 col-xl-4 mx-auto mt-3">
            <h3 class="text-center subtitle ">Create/Update exercise</h3>

            <b-row class="text-center">
                <b-col></b-col>
                <b-col cols="4">
                    <b-button variant="light" class="add-stuff-button" @click="closeComponent()">
                        <i class="fas fa-arrow-left text-danger"></i> Close
                    </b-button>
                </b-col>
                <b-col></b-col>
            </b-row>

            <form class="mt-3" @submit="checkForm">
                <p>{{additionCompleted}}</p>
                <div class="form-group input-group">
                    <input type="name" class="form-control" required placeholder="Exercise name" v-model="name"/>
                </div>

                <div class="form-group input-group">
                    <b-form-textarea id="textarea" v-model="description" placeholder="Enter exercise description" required/>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="far fa-image"></i> </span>
                    </div>
                    <input type="url" class="form-control" required placeholder="Image url" v-model="exerciseImg">
                </div>

                <div class="form-group input-group">
                    <img class="image-class-size" :src="exerciseImg" alt="Exercise image">
                </div>

                 <div class="form-group">
                    <label>Select muscles:</label>
                    <br>
                    <MultiselectMuscle id="multiselect-muscles" class="mb-3" @muscles-changed="updateMusclesList" :currentSelectedMuscles="(exerciseToEdit) ? exerciseToEdit.muscles : []"/>
                </div> <!-- form-group// -->

                <div class="form-group">
                    <div class="form-check form-check-inline float-left ml-3">
                        <input class="form-check-input" type="checkbox" id="isTimed" v-model="cbIsTimed">
                        <label class="form-check-label text" for="isTimed">Is timed?</label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline float-left ml-3">
                        <input class="form-check-input" type="checkbox" id="isMapNeeded" v-model="cbIsMapNeeded">
                        <label class="form-check-label text" for="isMapNeeded">Is map needed?</label>
                    </div>
                    <br>
                    <div class="form-group">
                    <div class="form-check form-check-inline float-left ml-3">
                        <input class="form-check-input" type="checkbox" id="requireWeight" v-model="cbRequireWeight">
                        <label class="form-check-label text" for="requireWeight">Exercise require weight info?</label>
                    </div>
                </div>
                </div>
                  
                <button type="submit" class="action-button" style="width: 50%">Add/Update exercise</button>
            </form>
        </div>
</template>

<script lang="ts">
import Vue from 'vue';
import UserAccessApi from '../../../services/UserAccessApi';
import CRUDApi from '../../../services/CRUDApi';
import CoachApi from "../../../services/CoachApi";
import Exercise from "../../../models/Exercise";
import Muscle from '../../../models/Muscle';
import Component from 'vue-class-component';
import { Watch, Prop } from 'vue-property-decorator';
import MultiselectMuscle from './MultiselectMuscle.vue';


@Component({
    components: {
        MultiselectMuscle,
    }
})
export default class Registration extends Vue {
    @Prop(Object) private exerciseToEdit!: Exercise | null;
    private name: string;
    private description: string;
    private selectedMuscles: Muscle[];
    private cbIsMapNeeded: boolean;
    private cbRequireWeight: boolean;
    private cbIsTimed: boolean;
    private exerciseImg: string;

    private additionCompleted: string;

    constructor() {
        super();
        this.name = '';
        this.description = '';
        this.additionCompleted = '';
        this.selectedMuscles = [];
        this.cbIsMapNeeded = false;
        this.cbRequireWeight = false;
        this.cbIsTimed = false;
        this.exerciseImg = '';
    }

   private updateMusclesList(musclesSelected: Muscle[]) {
       this.selectedMuscles = musclesSelected;
   }
 
    private checkForm(event: Event) {
        const tmpExercise: Exercise = {
            exerciseId: (this.exerciseToEdit) ? this.exerciseToEdit.exerciseId : 0,
            name: this.name,
            description: this.description,
            isTimed: this.cbIsTimed,
            isMapNeeded: this.cbIsMapNeeded,
            isWeightNeeded: this.cbRequireWeight,
            muscles: this.selectedMuscles,
            exerciseImage: this.exerciseImg,
        };
        this.performRequest(tmpExercise);
        event.preventDefault();
    }

    private performRequest(newExercise: Exercise) {
        if(this.exerciseToEdit) {
            this.updateExercise(newExercise);
        } else {
            this.createNewExercise(newExercise);
        }
    }

    private createNewExercise(exercise: Exercise) {
        CRUDApi.putNewExercise(exercise)
        .then((res) => {
            this.additionCompleted = "Exercise added with success!";
            setTimeout(() => this.additionCompleted = '', 2000);
            this.closeComponent();
        })
        .catch((error) => {
            console.log(error);
        });
    }

    private updateExercise(exercise: Exercise) {
        CRUDApi.updateExercise(exercise)
        .then((res) => {
            this.additionCompleted = "Exercise updated with success!";
            setTimeout(() => this.additionCompleted = '', 2000);
            this.closeComponent();
        })
        .catch((error) => {
            console.log(error);
        });
    }

    private closeComponent() {
        this.$emit('operationCompleted');
    }

    private mounted() {
        if(this.exerciseToEdit && !this.objectIsEmpty(this.exerciseToEdit)) {
            this.name = this.exerciseToEdit.name;
            this.description = this.exerciseToEdit.description;
            this.cbIsTimed = this.booleanIsNull(this.exerciseToEdit.isTimed);
            this.cbIsMapNeeded = this.booleanIsNull(this.exerciseToEdit.isMapNeeded);
            this.cbRequireWeight = this.booleanIsNull(this.exerciseToEdit.isWeightNeeded);
            this.selectedMuscles = this.exerciseToEdit.muscles;
            this.exerciseImg = this.exerciseToEdit.exerciseImage;
        console.log(this.exerciseToEdit.exerciseImage);
        }
    }

    private objectIsEmpty(obj: Object) {
        for(var key in obj) {
            if(obj.hasOwnProperty(key))
                return false;
        }
        return true;
    }

    private booleanIsNull(booleanVal: boolean) {
        return (booleanVal) ? true : false;
    }
}
</script>

<style lang="scss" src="../../SignUpSignIn/Styles/form-style.scss" />

<style lang="scss" scoped src="./../style/crud.scss">