<template>
  <div class="container col-12">

    <AddEditExercise 
      v-if="showAddEditComponent" 
      v-bind:exerciseToEdit="selectedExercise" 
      @operationCompleted="changeEditComponentVisibility(false)"/>
    
    <b-button variant="light" class="add-stuff-button"
      v-else 
      @click="changeEditComponentVisibility(true)">
      <i class="fas fa-plus text-primary"></i> 
      Add new exercise
    </b-button>

    <div class="filters row">
      <!-- Select filter type -->
      <div class="form-group col-sm-2">
        <b-form-select v-model="selectedFilter" :options="filterOptions" class="mb-3" required>
          <template slot="first">
            <option value="" disabled>-- Select filter type --</option>
          </template>
        </b-form-select>
      </div>
      <!-- Search by name -->
      <div class="form-group col-sm-3" v-if="selectedFilter === FILTER_BY_NAME">
        <input v-model="searchKey" type="text" class="form-control" placeholder="Exercise name" id="search-element"/>
      </div>
      <!-- Search by id -->
      <div class="form-group col-sm-3" v-if="selectedFilter === FILTER_BY_ID">
        <input v-model="searchKey" type="number" class="form-control" placeholder="Exercise id" id="search-element"/>
      </div>
      <!-- Search by muscle -->
      <div class="form-group col-sm-3" v-if="selectedFilter === FILTER_BY_MUSCLE">
        <input v-model="searchKey" type="number" class="form-control" placeholder="Muscle" id="search-element"/>
      </div>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>Exercise ID <a href="#" @click="sortTable(FILTER_BY_ID)"><i class="fas fa-sort-up"></i></a></th>
        <th>Name <a href="#" @click="sortTable(FILTER_BY_NAME)"><i class="fas fa-sort-up"></i></a></th>
        <th>Description</th>
        <th>Image</th>
        <th>IsTimed</th>
        <th>isMapNeeded</th>
        <th>isWeightNeeded</th>
        <th>Muscles</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="exercise in renderedExercises" :key="exercise.exerciseId">
        <td>{{ exercise.exerciseId }}</td>
        <td>{{ exercise.name}}</td>
        <td>{{ exercise.description}}</td>
        <td>{{ exercise.exerciseImage }}</td>
        <td>{{ exercise.isTimed }}</td>
        <td>{{ exercise.isMapNeeded }}</td>
        <td>{{ exercise.isWeightNeeded }}</td>
        <td> {{ exercise.muscles.map(muscle => muscle.name) }} </td>
        <td>
        <div class="btn-group-vertical" role="group">
          <!-- Edit Achievement -->
          <b-button variant="outline-info"
          @click="changeEditComponentVisibility(true, exercise)"
          >Edit</b-button>
          <!-- Delete Achievement -->
          <button type="button" class="btn btn-outline-danger"
          @click="deleteExercise(exercise)">Delete</button>
        </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>


<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import CoachApi from "../../../services/CoachApi";
import CRUDApi from '../../../services/CRUDApi';
import Exercise from '../../../models/Exercise';
import Muscle from '../../../models/Muscle';
import { Watch } from 'vue-property-decorator';
import CrudUtils from './../CrudUtils';
import FilterOption from './../CrudUtils';
import AddEditExercise from './AddEditExercise.vue';

@Component({
  components: {
    AddEditExercise,
  }
})
export default class CRUD extends Vue {
  private readonly FILTER_BY_NAME = 'name';
  private readonly FILTER_BY_ID = 'id';
  private readonly FILTER_BY_MUSCLE = 'muscle';

  private searchKey: string;
  private filterOptions: FilterOption[];
  private selectedFilter: string;
  private selectedExercise!: Exercise | null;

  private exercises: Exercise[];
  private renderedExercises: Exercise[];

  private showAddEditComponent: boolean = false;
  
  constructor() {
    super();
    this.exercises = [];
    this.searchKey = '';
    this.selectedFilter = '';
    this.filterOptions = [];  
    this.renderedExercises = [];
  }

  // Lifecycle hook
  private mounted() {
    this.getExercises();
    this.filterOptions = CrudUtils.getFilterOptions([this.FILTER_BY_NAME, this.FILTER_BY_ID]);
  }

  private async getExercises() {
    const response = await CoachApi.getExList();
    this.exercises = response.data;
    this.updateGUI();
  }

  private deleteExercise(exercise: Exercise) {
    CRUDApi.deleteExercise(exercise.exerciseId)
    .then((res) => {
      let index = this.exercises.indexOf(exercise);
      if (index !== -1) {
        this.exercises.splice(index, 1);
        this.updateGUI();
      }
    })
    .catch((error) => {
      console.log(`Error during exercise deletion: ${error}`);
    })
  }
  
  private updateGUI() {
    this.renderedExercises = this.exercises;
  }

  private sortTable(sortBy: string) {
    switch(sortBy) {
      case this.FILTER_BY_ID:
        this.renderedExercises = this.exercises.sort(function(a, b) {
          return CrudUtils.compareNumberAsc(a.exerciseId, b.exerciseId);
        });
        break;
      case this.FILTER_BY_NAME:
        this.renderedExercises = this.exercises.sort(function(a, b){
          return CrudUtils.compareStringAsc(a.name, b.name);
        });
        break;
      case this.FILTER_BY_MUSCLE:
        this.renderedExercises = this.exercises.sort(function(a: Exercise, b: Exercise){
          return CrudUtils.compareStringAsc(a.muscles.toString(), b.muscles.toString());
        });
        break;
    }
  }

  private exerciseDefensiveCopy(exercise: Exercise): Exercise {
    return {
      exerciseId: exercise.exerciseId,
      name: exercise.name,
      description: exercise.description,
      isTimed: exercise.isTimed,
      isMapNeeded: exercise.isMapNeeded,
      isWeightNeeded: exercise.isWeightNeeded,
      muscles: exercise.muscles.slice(),
      exerciseImage: exercise.exerciseImage,
    } as Exercise
  }

  private changeEditComponentVisibility(show:boolean, exercise: Exercise | null = null) {
    this.showAddEditComponent = show;
    let tmpExe = (exercise) ? this.exerciseDefensiveCopy(exercise) : null
    this.selectedExercise = tmpExe;
    this.getExercises();
  }

  @Watch('searchKey') private onValueChange(newSearchKey: string) {
    if (newSearchKey.length === 0) {
      this.renderedExercises = this.exercises;
    } else {
      this.renderedExercises = (
        (this.selectedFilter === this.FILTER_BY_NAME) ? 
          CrudUtils.searchByName(this.exercises, newSearchKey) : 
          this.searchById()
        ) as Exercise[];
    }
  }

  private searchById() {
    let filtered: Exercise[] = [];
    this.exercises.forEach(ach => {
      if (ach.exerciseId.toString() == this.searchKey) {
        filtered.push(ach);
      }
    });
    return filtered;
  }
}
</script>

<style lang="scss" scoped src="./../style/crud.scss">