<template>
  <div class="multiselect">
    <div class="selected-hold" :class="{ focus: hasFocus }" @click.self="$refs.search.focus()">
      <!-- Template for selected muscles -->
      <div class="selected-item tag mint" v-for="(selectedItem, index) in selectedMusclesList" :key="index">
        <span class="mt-1 text">
          {{ selectedItem.name }} 
          <a @click="removeSelected(index)" tabindex="-1"><i class="fas fa-times"></i></a>
        </span>
      </div>
      <!--Search field, inserted at the end of the selected items!-->
      <input
        type="text"
        class="item-search"
        ref="search"
        v-model="searchTerm"
        @focus="showSuggestPanel = true; hasFocus = true;"
        @blur="showSuggestPanel = false; hasFocus = false"
      />
      <!--Set of muscles elements-->
      <div class="suggest-panel" v-show="showSuggestPanel" ref="panel">
        <div
          class="suggest-item"
          v-for="(suggestedElem, index) in filteredSuggest()"
          :key="index"
          :class="{ active: activeVertical === index, disabled: strikeElement(suggestedElem) }"
          @mousedown.prevent="addSelected(suggestedElem.value || suggestedElem)"
          @mouseover="activeVertical = index"
        >{{suggestedElem.name}}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import CoachApi from "../../../services/CoachApi";
import Muscle from '../../../models/Muscle';
import CrudUtils from "../CrudUtils"

@Component
export default class MultiselectMuscle extends Vue {
  @Prop({
    type: Array,
    default: () => [],
  }) currentSelectedMuscles!: Muscle[];

  private searchTerm: string;
  //List of the existing muscles
  private muscleList: Muscle[];
  //List of selected muscles
  private selectedMusclesList: Muscle[];
  private activeVertical: number;
  private showSuggestPanel: boolean;
  private hasFocus: boolean;

  constructor() {
    super();
    this.searchTerm = "";
    this.muscleList = [];
    this.selectedMusclesList = [];
    this.activeVertical = 0;
    this.showSuggestPanel = false;
    this.hasFocus = false;
    if(this.currentSelectedMuscles) {
      this.selectedMusclesList = this.currentSelectedMuscles;
    }
  }

  private strikeElement(muscle: Muscle) {
    for(let i = 0; i < this.selectedMusclesList.length; i++) {
      if (this.selectedMusclesList[i].muscleId === muscle.muscleId) {
        return true;        
      }
    }
    return false;
  }

  private filteredSuggest() {
    //If the search term is not null...
    //When someone write something inside the field return true
    if (!this.searchTerm) return this.muscleList;
    return CrudUtils.searchByName(this.muscleList, this.searchTerm);
  }
  
  private addSelected(val: any) {
    if (this.selectedMusclesList.includes(val)) return;

    this.selectedMusclesList.push(val);
    this.searchTerm = "";

    this.$emit('muscles-changed', this.selectedMusclesList);
  }
  
  private removeSelected(index: any) {
    this.selectedMusclesList.splice(index, 1);
    this.$emit('muscles-changed', this.selectedMusclesList);
  }

  private mounted() {
    const response = CoachApi.getMuscleList();
    response
      .then(res => {
        this.muscleList = res.data;
      })
      .catch(error => {
        console.log(error);
      });
  }
}
</script>
<style scoped lang="scss" src="../../SignUpSignIn/Styles/multiselect-style.scss" />