<template>
    <b-container>
        <div align="center">
            <a class="action-button" @click="buyAllTheStuff">{{buttonName}}</a></div>
    </b-container>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import CartApi from '../../services/CartApi';
import { Prop, Watch } from 'vue-property-decorator';

@Component({
    props: {
        buttonName: String,
    },
})
export default class ButtonBuy extends Vue {

    constructor() {
        super();
    }

    private buyAllTheStuff() {
        if (this.$cookies.isKey('userIsLogged')) {
            const response = CartApi.deleteUserCart();
            response.then((res) => {
                // Necessary only to clean cart preview
                this.$emit('purchase-completed');
            })
            .catch((error) => {
                console.log(`[ButtonBuy] error: ${error}`);
            });
        } else {
            setTimeout(() => this.$router.push('/user-access'), 1500);
        }
    }
}
</script>


<style scoped>
.example_c {
color: #494949 !important;
font-size:1.2em;
text-decoration: none;
background: #ffffff;
padding: 10px 20px 10px 20px;
border: 4px solid #494949 !important;
display: inline-block;
transition: all 0.4s ease 0s;
}
.example_c:hover {
color: #ffffff !important;
background: #f6b93b;
border-color: #f4623a !important;
transition: all 0.4s ease 0s;
}
</style>