<template>
    <b-row>
      <b-col class="scrolling-wrapper-flexbox" sm="7" md="8" lg="9" xl="9">
        <b-card-group deck v-for="cartProduct in cart.products" :key="cartProduct.product.productId"> 
          <b-card class="product-card mr-4" border-variant="info">
            <b-row class="card-group-style my-auto" >
              <b-col class="col-1">
                <img class="prod-preview-style" :src="cartProduct.product.imageOne" alt="Card product">
              </b-col>
              <b-col class="my-auto">
                <div>
                  <span>
                    <!-- Name -->
                    <b-row>
                      <b-col class="col-6">
                        <span class="product-info-label">Name:</span>
                      </b-col>
                      <b-col class="col-6 ml-0">
                        <span class="product-info">{{checkProductNameLenght(cartProduct.product.name)}}</span>
                      </b-col>
                    </b-row>
                    <!-- Price -->
                    <b-row>
                      <b-col class="col-6">
                        <span class="product-info-label">Price:</span>
                      </b-col>
                      <b-col class="col-6">
                        <span class="product-info">{{cartProduct.product.onSale ? cartProduct.product.discountedPrice : cartProduct.product.price}}€</span>
                      </b-col>
                    </b-row>
                    <!-- Quantity -->
                    <b-row>
                      <b-col class="col-6">
                        <span class="product-info-label">Quantity:</span>
                      </b-col>
                      <b-col class="col-6">
                        <span class="product-info">{{cartProduct.quantity}}</span>
                      </b-col>
                    </b-row>
                  </span>
              </div>
              </b-col>
            </b-row>
            
          </b-card>
         </b-card-group>
      </b-col>
      <b-col class="summary">
        <div class="center-summary">
            <label class="text total">Total: <strike class="stike-content" v-if="fullPriceTotal !== discountedTotal">{{fullPriceTotal}}€</strike> {{discountedTotal}}€</label>
            <ButtonBuy class="button-buy" @purchase-completed="clearCartPreview" buttonName="One click buy!"/>
        </div>
      </b-col>
    </b-row>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import CartApi from '../../services/CartApi';
import { CartProductUtils } from '../../services/CartApi';
import Cart from '../../models/Cart';
import CartProduct from '../../models/CartProduct';
// import { Product } from '../../services/ShopApi';
import { Prop, Watch } from 'vue-property-decorator';
import ButtonBuy from './ButtonBuy.vue';

@Component({
  components: {
    ButtonBuy,
  },
})

export default class ShopProducts extends Vue {
  @Prop(Object) private readonly productToAdd!: CartProduct;
  private productNameMaxLenght: number;
  private cart: Cart;
  private discountedTotal: number;
  private fullPriceTotal: number;
  private fastBuy: boolean;

  constructor() {
    super();
    this.cart = {
      userId: '',
      products: [],
      price: 0,
      discountedPrice: 0,
    };
    this.discountedTotal = 0;
    this.fullPriceTotal = 0;
    this.fastBuy = true;
    this.productNameMaxLenght = 15;
  }

  private checkProductNameLenght(productName: string) {
    const tmp =  productName.length > this.productNameMaxLenght ? productName.toLowerCase().substring(0, (this.productNameMaxLenght - 1)) + '...' : productName.toLowerCase();
    return tmp;
  }

  private updateProductQuantity(indexProd: number, toAdd: string) {
    const toInteger = Number.parseInt(toAdd);
    this.cart.products[indexProd].quantity = this.cart.products[indexProd].quantity + toInteger;
  }

  @Watch('productToAdd', {deep: true}) private onChildChanged(newCartProduct: CartProduct, oldVal: CartProduct) {
    const productExists = this.cart.products.findIndex((cartProd) => cartProd.product.productId === newCartProduct.product.productId);
    if (productExists !== -1) {
      this.updateProductQuantity(productExists, newCartProduct.quantity.toString());
    } else {
      this.cart.products.push(newCartProduct);
    }
    this.updateTotal(newCartProduct);
  }

  private updateTotal(cartProduct: CartProduct) {
    this.discountedTotal += CartProductUtils.getDiscountedPrice(cartProduct);
    this.fullPriceTotal += CartProductUtils.getFullPrice(cartProduct);
    this.cart.price = this.fullPriceTotal;
    this.cart.discountedPrice = this.discountedTotal;
  }

  private clearCartPreview() {
    if(this.cart.products.length > 0) {
      this.cart.products = [];
      this.cart.price = 0;
      this.cart.discountedPrice = 0;

      this.discountedTotal = 0;
      this.fullPriceTotal = 0;
      alert("Purchase completed!");
    } else {
      alert("Plese put some products into the cart!");
    }
  }

  private mounted() {
    this.getCartProducts();
  }
  private async getCartProducts() {
    const response = await CartApi.getUserCart();
    this.cart = response.data;
    this.cart.products.forEach((cartProd) => this.updateTotal(cartProd));
  }
}
</script>

<style lang="scss" scoped>
.stike-content {
    color: rgba(112, 109, 109, 0.753);
}
.card-group-style {
  max-height: 100px;
}
.prod-preview-style {
  height: 110px;
  width: 110px;
}
.button-buy {
  min-width: 200px;
}
.total {
  font-weight: bold;
}

.product-info-label {
  float:right;
}
.product-info {
  float:left;
}

.product-card {
  width: 380px;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}

p span {
    display: block;
}

.center-summary { 
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

