<template>
  <div class="container">
    <div v-if="!showMobile">
      <div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item text" v-for="category in categories" :key="category.categoryId" @click="loadProducts(category)">{{category.name}}</li>
      </ul>
      </div>
    </div>

    <div v-else>
      <label id="select-label" for="select-category" class="mb-0 mt-0">Selected category:</label>
      <select id="select-category" title="Select a products category">
        <option v-for="category in categories" :key="category.categoryId" 
         @click="loadProducts(category)" 
         :value="category.categoryId">
          {{category.name}}
        </option>
      </select>
    </div>
    
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import ShopApi from '../../services/ShopApi';
import Category from '../../models/Category';
import { Prop } from 'vue-property-decorator';

interface WindowSize {
  width: number;
  height: number;
}

@Component
export default class ShopCategories extends Vue {
  private static readonly ALL_PRODUCT = 'All products';
  private static readonly ALL_PRODUCT_ID = 0;
  @Prop(Boolean) private readonly showMobile!: boolean;
  private categories: Category[];
  private window: WindowSize;
  private readonly maxMobileWidth: number = 575;

  constructor() {
    super();
    this.categories = [{
      categoryId: 0,
      name: ShopCategories.ALL_PRODUCT,
      }];
    this.window = {
      width: 1200,
      height: 1000,
    }
  }

  // Lifecycle hook
  private mounted() {
    this.getCategories();
  }
  private async getCategories() {
    const response = await ShopApi.getCategories();
    this.categories = this.categories.concat(response.data);
  }

  private loadProducts(selectedCategory: Category) {
    this.$emit('categoryselected', selectedCategory.categoryId, selectedCategory.name);
  }
}
</script>

<style scoped>
#select-label {
  float: left; 
}
#select-category {
  width:100%;
}
.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}
button{
  border-left-color: #f4623a;
  border-right-color: #f4623a;
  background-color: #facdc1;
  border-left-width: 2px;
  border-right-width: 2px;
  color:black;
  position:relative;
  font-size:1.1em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#f4623a;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f4623a;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
li:hover {
  color:#f4623a;
}
li:active {
  background-color: rgb(206, 199, 199);
  transform: translateY(4px);
}
</style>

