<template>
        <div class="card card-body col-md-6 col-xl-4 mx-auto mt-3">
            <h3 class="text-center subtitle ">Create/Update products</h3>
            <b-row class="text-center">
                <b-col></b-col>
                <b-col cols="4">
                    <b-button variant="light" class="add-stuff-button">
                        <router-link class="text-dark" style="text-decoration: none;" :to="{ name: 'crud'}"><i class="fas fa-arrow-left text-danger"></i> Go back</router-link>
                    </b-button>
                </b-col>
                <b-col></b-col>
            </b-row>
            

            <form class="mt-3" @submit="checkForm">
                <p>{{additionCompleted}}</p>
                <div class="form-group input-group">
                    <input type="name" class="form-control" required placeholder="Product name" v-model="name"/>
                </div>

                <div class="form-group input-group">
                    <b-form-select v-model="selectedCategory" :options="categoriesOptions" class="mb-3" required>
                        <template slot="first">
                            <option value="" disabled>-- Please select product category --</option>
                        </template>
                    </b-form-select>
                </div>

                <div class="form-group">
                    <label for="exercises">Select exercises:</label>
                    <br>
                    <MultiselectExercises id="exercises" class="mt-1 mb-3" @exercises-changed="updateExercisesList" :currentSelectedExercises="productToEdit.exercises"/>
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                    <b-form-textarea id="textarea" v-model="description" placeholder="Enter product description" required/>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="far fa-image"></i> </span>
                    </div>
                    <input type="url" class="form-control" required placeholder="First image url" v-model="imageOne">
                </div>

                <div class="form-group input-group d-flex justify-content-center">
                    <img class="image-class-size" :src="imageOne" alt="Image one preview">
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="far fa-image"></i> </span>
                    </div>
                    <input type="url" class="form-control" placeholder="[Opt] Second image url" v-model="imageTwo">
                </div>

                <div class="form-group input-group d-flex justify-content-center">
                    <img class="image-class-size" :src="imageTwo" alt="Image two preview">
                </div>

                <div class="form-group input-group">
                    <input type="number" class="form-control" min="0" required placeholder="Product price" v-model="price">
                    <div class="input-group-append">
                        <span class="input-group-text"> <i class="fas fa-euro-sign"></i> </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="agreement" v-model="onSale">
                        <label class="form-check-label text" for="agreement">Is on sale?</label>
                    </div>
                </div>

                <div class="form-group input-group" v-if="onSale">
                    <input type="number" class="form-control" required placeholder="Discount percentage" min="1" v-model="discountPercentage">
                    <div class="input-group-append">
                        <span class="input-group-text"> <i class="fas fa-percentage"></i> </span>
                    </div>
                </div>

                <div class="form-group input-group d-flex justify-content-center">
                    <p>Final price: {{calculateFinalPrice()}}€</p>
                </div>
                

                <button type="submit" class="action-button" style="width: 50%">Add/Update product</button>
            </form>
        </div>
</template>

<script lang="ts">
import Vue from 'vue';
import UserAccessApi from '../../../../services/UserAccessApi';
import CRUDApi from '../../../../services/CRUDApi';
import ShopApi from '../../../../services/ShopApi';
import Product from '../../../../models/Product';
import Category from '../../../../models/Category';
import Exercise from '../../../../models/Exercise';
import Component from 'vue-class-component';
import { Watch, Prop } from 'vue-property-decorator';
import MultiselectExercises from './MultiselectExercises.vue'

interface SelectOption {
    value: string;
    text: string;
}

@Component({
    components: {
        MultiselectExercises,
    }
})
export default class Registration extends Vue {
    @Prop(Object) private productToEdit!: Product;
    private isAnAddition: boolean;

    private categoriesOptions: SelectOption[] 
    private selectedCategory: string;
    private name: string;
    private description: string;
    private imageOne: string;
    private imageTwo: string;
    private price: number;
    private onSale: boolean;
    private exercises: Exercise[];

    private additionCompleted: string;
    private discountPercentage: number;

    constructor() {
        super();
        this.categoriesOptions = [];
        this.selectedCategory = '';
        this.name = '';
        this.description = '';
        this.imageOne = '';
        this.imageTwo = '';
        this.price = 0;
        this.onSale = false;

        this.exercises = [];
        
        this.additionCompleted = '';
        this.discountPercentage = 0;

        this.isAnAddition = false;
    }
    
    private checkForm(event: Event) {
        const prodId = (this.productToEdit) ? Number.parseInt(this.productToEdit.productId) : -1;
        let newProd = {
                productId: prodId,
                categoryId: Number.parseInt(this.selectedCategory),
                name: this.name,
                description: this.description,
                imageOne: this.imageOne,
                imageTwo: this.imageTwo,
                price: this.price,
                discountedPrice: this.calculateFinalPrice(),
                onSale: this.onSale,
                exercises: this.exercises,
            };
        this.performRequest(newProd);
        event.preventDefault();
    }

    private performRequest(newProd: any) {
        if(!this.isAnAddition) {
            this.updateProduct(newProd);
        } else {
            this.createNewProduct(newProd);
        }
    }

    private createNewProduct(newProduct: Product) {
        CRUDApi.putNewProduct(newProduct)
        .then((res) => {
            this.additionCompleted = "Product added with success!";
            setTimeout(() => this.additionCompleted = '', 2000);
        })
        .catch((error) => {
            console.log(error);
        });
    }

    private updateProduct(product: Product) {
        CRUDApi.updateProduct(product)
        .then((res: any) => {
            this.additionCompleted = "Product added with success!";
            setTimeout(() => this.additionCompleted = '', 2000);
        })
        .catch((error: any) => {
            console.log(error);
        });
    }

    private updateExercisesList(newExercises: Exercise[]) {
        this.exercises = newExercises;
    }

    private calculateFinalPrice() {
        return (this.onSale) ? this.price - ((this.price * this.discountPercentage)/100) : this.price;
    }

    private mounted() {
        this.getCategories();
        if(this.productToEdit && !this.objectIsEmpty(this.productToEdit)) {
            this.selectedCategory = this.productToEdit.categoryId + '';
            this.discountPercentage = 
                Math.round((this.productToEdit.price - this.productToEdit.discountedPrice) * 
                    (100 / this.productToEdit.price));
            this.name = this.productToEdit.name;
            this.description = this.productToEdit.description;
            this.imageOne = this.productToEdit.imageOne;
            this.imageTwo = this.productToEdit.imageTwo;
            this.price = this.productToEdit.price;
            this.onSale = this.productToEdit.onSale;
            this.exercises = this.productToEdit.exercises;
            this.isAnAddition = false;
        } else {
            this.isAnAddition = true;
        }
    }

    private objectIsEmpty(obj: Object) {
        for(var key in obj) {
            if(obj.hasOwnProperty(key))
                return false;
        }
        return true;
    }

    private async getCategories() {
        const response = await ShopApi.getCategories();
        response.data.forEach((category: Category) => this.categoriesOptions.push({
            value: category.categoryId + '',
            text: category.name,
        }));
    }
}
</script>

<style lang="scss" src="../../../SignUpSignIn/Styles/form-style.scss" />

<style lang="scss" scoped src="../../style/crud.scss">
