<template>
  <div class="multiselect">
    <div class="selected-hold" :class="{ focus: hasFocus }" @click.self="$refs.search.focus()">
      <!-- Template for selected esercises -->
      <div class="selected-item tag mint" v-for="(selectedItem, index) in selectedExercisesList" :key="index">
        <span class="mt-1 text">
          {{ selectedItem.name }} 
          <a @click="removeSelected(index)" tabindex="-1"><i class="fas fa-times"></i></a>
        </span>
      </div>
      <!--Search field, inserted at the end of the selected items!-->
      <input
        type="text"
        class="item-search"
        ref="search"
        v-model="searchTerm"
        @focus="showSuggestPanel = true; hasFocus = true;"
        @blur="showSuggestPanel = false; hasFocus = false"
      />
      <!--Set of exercises elements-->
      <div class="suggest-panel" v-show="showSuggestPanel" ref="panel">
        <div
          class="suggest-item"
          v-for="(suggestedElem, index) in filteredSuggest()"
          :key="index"
          :class="{ active: activeVertical === index, disabled: strikeElement(suggestedElem) }"
          @mousedown.prevent="addSelected(suggestedElem.value || suggestedElem)"
          @mouseover="activeVertical = index"
        >{{suggestedElem.name}}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import CoachApi from "../../../../services/CoachApi";
import Exercise from "../../../../models/Exercise";
import CrudUtils from "../../CrudUtils"

@Component
export default class MultiselectExercises extends Vue {
  @Prop({
    type: Array,
    default: () => [],
  }) currentSelectedExercises!: Exercise[];

  private searchTerm: string;
  //List of the existing exercises
  private exerciseList: Exercise[];
  //List of selected exercises
  private selectedExercisesList: Exercise[];
  private activeVertical: number;
  private showSuggestPanel: boolean;
  private hasFocus: boolean;

  constructor() {
    super();
    this.searchTerm = "";
    this.exerciseList = [];
    this.selectedExercisesList = [];
    this.activeVertical = 0;
    this.showSuggestPanel = false;
    this.hasFocus = false;
    if(this.currentSelectedExercises) {
      this.selectedExercisesList = this.currentSelectedExercises;
    }
  }

  private strikeElement(exercise: Exercise) {
    for(let i = 0; i < this.selectedExercisesList.length; i++) {
      if (this.selectedExercisesList[i].exerciseId === exercise.exerciseId) {
        return true;        
      }
    }
    return false;
  }

  private filteredSuggest() {
    //If the search term is not null...
    //When someone write something inside the field return true
    if (!this.searchTerm) return this.exerciseList;
    return CrudUtils.searchByName(this.exerciseList, this.searchTerm);
  }
  
  private addSelected(val: any) {
    if (this.selectedExercisesList.includes(val)) return;

    this.selectedExercisesList.push(val);
    this.searchTerm = "";

    this.$emit('exercises-changed', this.selectedExercisesList);
  }

  private removeSelected(index: any) {
    this.selectedExercisesList.splice(index, 1);
    this.$emit('exercises-changed', this.selectedExercisesList);
  }

  private mounted() {
    const response = CoachApi.getExList();
    response
      .then(res => {
        this.exerciseList = res.data;
      })
      .catch(error => {
        console.log(error);
      });
  }
}
</script>
<style scoped lang="scss" src="../../../SignUpSignIn/Styles/multiselect-style.scss" />