<template>
    <div class="card card-body">
        <img src="../../assets/niceLogo.png" class="logo">
        <h3 class="text-center subtitle">Account Login</h3>
        <p>{{loginError}}</p>
        <form class="mt-3" method="POST" action='' @submit="checkForm">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input type="email" class="form-control" name="email" placeholder="Email" required v-model="email">
            </div>

            <PasswordField placeholderText="Password" passwordChangedEventName="passwordchanged" @passwordchanged="passwordChanged"/>

            <b-form-group label="Login as:">
                <b-form-radio-group
                    id="btn-radios-2"
                    v-model="selectedRole"
                    buttons
                    button-variant="light"
                    size="lg"
                    name="radio-btn-outline">
                <b-form-radio name="user-radio" :value="ROLE_USER.value">{{ROLE_USER.text}}</b-form-radio>
                <b-form-radio name="trainer-radio" :value="ROLE_TRAINER.value">{{ROLE_TRAINER.text}}</b-form-radio>
                <b-form-radio name="admin-radio" :value="ROLE_ADMIN.value">{{ROLE_ADMIN.text}}</b-form-radio>
            </b-form-radio-group>

    </b-form-group>

            <button type="submit" class="action-button">Login</button>
        </form>
    </div>
</template>

<script lang="ts">
import UserAccessApi from '../../services/UserAccessApi';
import Vue from 'vue';
import Component from 'vue-class-component';
import PasswordField from '@/components/SignUpSignIn/PasswordField.vue'; // @ is an alias to /src
@Component({
    components: {
        PasswordField,
    },
})

export default class Login extends Vue {
    private readonly ROLE_USER = {value: 'U', text: 'User'};
    private readonly ROLE_TRAINER = {value: 'T', text: 'Trainer'};
    private readonly ROLE_ADMIN = {value: 'A', text: 'Admin'};

    private email: string;
    private password: string;
    private loginError: string;
    private selectedRole: string;

    constructor() {
        super();
        this.email = '';
        this.password = '';
        this.loginError = '';
        this.selectedRole = this.ROLE_USER.value;
    }

    public passwordChanged(passwordValue: string) {
        this.password = passwordValue;
    }
    private checkForm(event: Event) {
        const tmpSelectedRole = this.selectedRole;

        let response;
        switch(tmpSelectedRole) {
            case this.ROLE_USER.value:
                response = UserAccessApi.postLoginUser(this.email, this.password);
                break;
            case this.ROLE_TRAINER.value:
                response = UserAccessApi.postLoginCoach(this.email, this.password);
                break;
            case this.ROLE_ADMIN.value:
                response = UserAccessApi.postLoginAdmin(this.email, this.password);
                break;
        }

        if (response !== undefined) {
            response.then((r: any) => {
                this.loginError = r.data.msg;
                let goToPage: string = '/';
                switch (tmpSelectedRole) {
                    case this.ROLE_USER.value:
                        this.$cookies.set('userIsLogged', r.data.token);
                        this.$cookies.set('id', r.data._id);
                        goToPage = '/userPlan';
                        break;
                    case this.ROLE_TRAINER.value:
                        this.$cookies.set('coachIsLogged', r.data.token);
                        this.$cookies.set('id', r.data._id);
                        goToPage = '/coachProfile';
                        break;
                    case this.ROLE_ADMIN.value:
                        this.$cookies.set('adminIsLogged', r.data.token);
                        this.$cookies.set('id', r.data._id);
                        goToPage = '/admin';
                        break;
                }
                this.$router.push(goToPage);
            })
            .catch((error: any) => {
                this.loginError = error.response.data.description;
                setTimeout(() => this.loginError='', 2000);
            });
        } else {
            console.log('Error Api returned an undefined promise or some one has changed radiobutton values!');
        }
        event.preventDefault();
    }
}
</script>
<style lang="scss" scoped src="./Styles/form-style.scss"/>
