<template>
    <b-nav-item class="nav-link">
        <b-button variant="light" class="logout-link" href="#" @click.prevent="logout">Logout</b-button>
    </b-nav-item>
</template>

<script lang="ts">
import Vue from 'vue';
import UserAccessApi from '../../services/UserAccessApi';
import Component from 'vue-class-component';

@Component
export default class Logout extends Vue {
    private logout() {
        const response = this.performRequest();
        if (response !== undefined) {
            response
            .then((res) => this.cleanAuthCookiesAndGoToRegister())
            .catch((error) => {
                console.log(error.response.status);
                if (error.response.status === 401 || error.response.status === 400) {
                    console.log('unauthorized, logging out ...');
                    this.cleanAuthCookiesAndGoToRegister();
                }
                console.log(error.response.data);
            });
        } else {
            console.log('UserAccessApi.ts returned undefined promise for the logout request!');
        }
    }

    private performRequest() {
        if (this.$cookies.isKey('userIsLogged')) { return UserAccessApi.postLogoutUser() };
        if (this.$cookies.isKey('coachIsLogged')) { return UserAccessApi.postLogoutTrainer() };
        if (this.$cookies.isKey('adminIsLogged')) { return UserAccessApi.postLogoutAdmin() };
    }

    private cleanAuthCookiesAndGoToRegister() {
        this.$cookies.remove('userIsLogged');
        this.$cookies.remove('coachIsLogged');
        this.$cookies.remove('adminIsLogged');
        this.$cookies.remove('id');
        this.$router.push('/user-access');
    }
}
</script>

<style lang="scss">
.logout-link {
    padding: 0.3rem 1rem !important;
    border-radius: 5rem !important;
    border: 1px solid #8C8C8C !important;
    font-weight: bold;
    color: black;
    position: relative !important;
}
</style>
