<template>
  <div class="multiselect">
    <div class="selected-hold" :class="{ focus: hasFocus }" @click.self="$refs.search.focus()">
      <!-- Template for selected tags -->
      <div class="selected-item tag mint" v-for="(selectedItem, index) in selectedTagList" :key="index">
        <span class="mt-1 text">
          {{ selectedItem.name }}
          <a @click="removeSelected(index)" tabindex="-1"><i class="fas fa-times"></i></a>
        </span>
      </div>
      <!--Search field, inserted at the end of the selected items!-->
      <input
        type="text"
        class="item-search"
        ref="search"
        v-model="searchTerm"
        @focus="showSuggestPanel = true; hasFocus = true;"
        @blur="showSuggestPanel = false; hasFocus = false"
      />
      <!--Set of tag elements-->
      <div class="suggest-panel" v-show="showSuggestPanel" ref="panel">
        <div
          class="suggest-item"
          v-for="(suggestedElem, index) in filteredSuggest()"
          :key="index"
          :class="{ active: activeVertical === index, disabled: strikeElement(suggestedElem)}"
          @mousedown.prevent="addSelected(suggestedElem.value || suggestedElem)"
          @mouseover="activeVertical = index"
        >{{suggestedElem.name}}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import UserRequestApi from '../../services/UserRequestApi';
import Muscle from '../../models/Muscle';

@Component
export default class Multiselect extends Vue {
  @Prop({
    type: Array,
    default: () => [],
  }) private readonly currentTrainerTags!: Muscle[];
  private searchTerm: string;
  private musclesList: Muscle[];
  private selectedTagList: Muscle[];
  private activeVertical: number;
  private showSuggestPanel: boolean;
  private hasFocus: boolean;

  constructor() {
    super();
    this.searchTerm = '';
    this.musclesList = [];
    this.selectedTagList = [];
    this.activeVertical = 0;
    this.showSuggestPanel = false;
    this.hasFocus = false;
  }

  private filteredSuggest() {
    // If the search term is not null...
    // When someone write something inside the field return true
    if (!this.searchTerm) return this.musclesList;

    const filtered: Muscle[] = [];
    const searchUpper = this.searchTerm.toUpperCase();
    this.musclesList.forEach((tag) => {
      const tagUpper = tag.name.toUpperCase();
      if (tagUpper.includes(searchUpper)) {
        filtered.push(tag);
      }
    });

    return filtered;
  }
  private addSelected(val: any) {
    if (this.contains(val)) { return; }

    this.selectedTagList.push(val);
    this.searchTerm = '';

    this.$emit('tagslist-changed', this.selectedTagsToId());
  }

  private selectedTagsToId() {
    const tmpSelTag: number[] = [];
    this.selectedTagList.forEach((element) => {
      tmpSelTag.push(element.muscleId);
    });
    return tmpSelTag;
  }

  private strikeElement(muscle: Muscle) {
    for (let i = 0; i < this.selectedTagList.length; i++) {
      if (this.selectedTagList[i].muscleId === muscle.muscleId) {
        return true;
      }
    }
    return false;
  }

  private removeSelected(index: any) {
    this.selectedTagList.splice(index, 1);
    this.$emit('tagslist-changed', this.selectedTagsToId());
  }

  private mounted() {
    const response = UserRequestApi.getMuscles();
    response
      .then((res) => {
        this.musclesList = res.data;
      })
      .catch((error) => {
        console.log(error);
      });
    this.selectedTagList = (this.currentTrainerTags === undefined) ? [] : this.currentTrainerTags;
  }

  private contains(val: any) {
    for (let i = 0; i < this.selectedTagList.length; i++) {
      if (this.selectedTagList[i].muscleId === val.muscleId) { return true };
    }
    return false;
  }
}
</script>

<style scoped lang="scss" src="./Styles/multiselect-style.scss" />
