<template>
    <div class="form-group input-group">
        <div class="input-group">
            <input :type="passwordFieldType" class="form-control" :placeholder="placeholderText" v-model="password" v-on:keyup="notifyParent">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" @click="switchPasswordVisibility"><span :class="showHideClassPassword"></span></button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, PropSync } from 'vue-property-decorator';

@Component({
  props: {
    placeholderText: String,
  },
})
export default class PasswordField extends Vue {
    // Necessario definirla qui o non riesco ad accederci
    @Prop(String) private readonly passwordChangedEventName!: string;
    private passwordFieldType: string;
    private showHideClassPassword: string;
    private password: string;
    constructor() {
        super();
        this.password = '';
        this.passwordFieldType = 'password';
        this.showHideClassPassword = 'fas fa-eye';
    }
    public switchPasswordVisibility(event: Event) {
        if (this.passwordFieldType === 'password') {
            this.passwordFieldType = 'text';
            this.showHideClassPassword = 'fas fa-eye-slash';
        } else {
            this.passwordFieldType = 'password';
            this.showHideClassPassword = 'fas fa-eye';
        }
        event.preventDefault();
    }
    public notifyParent() {
        this.$emit(this.passwordChangedEventName, this.password);
    }
}
</script>

<style lang="scss">

.form-control:focus {
    border-color: #f4623a !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 136, 13, 0.6) !important;
  }
</style>