<template>
        <div class="card card-body">
            <img src="../../assets/niceLogo.png" class="logo">
            <h3 class="text-center subtitle ">{{componentTitle}}</h3>
            <b-button variant="light" class="add-stuff-button" v-if="userToEdit">
                <router-link class="text-dark" style="text-decoration: none;" :to="{ name: 'crud'}"><i class="fas fa-arrow-left text-danger"></i> Go back</router-link>
            </b-button>
            <form class="mt-3">
                <p>{{registrationCompleted}}</p>
                <div v-if="errors.length>0">
                    <b class="text">Please correct the following error(s):</b>
                    <ul>
                        <li class="text" v-for="error in errors" :key='error.text'>{{error.text}}</li>
                    </ul>
                </div>
                <div class="form-group input-group">
                    <input type="name" class="form-control" required placeholder="First name" v-model="newUser.firstName">
                </div>
                <div class="form-group input-group">
                    <input type="name" class="form-control" required placeholder="Last name" v-model="newUser.lastName">
                </div>
                <div class="form-group">
                    <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" value="0" v-model="selectedGender" :disabled='editingUser'>
                        <span class="form-check-label text"> Male </span>
                    </label>
                    <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" value="1" v-model="selectedGender" :disabled='editingUser'>
                        <span class="form-check-label text"> Female</span>
                    </label>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input type="email" class="form-control" required placeholder="Email address" :disabled='editingUser' v-model="newUser.email" @onkeyup="validEmail(newUser.email)">
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-home"></i> </span>
                    </div>
                    <input type="text" class="form-control" required placeholder="Address" v-model="newUser.address">
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-calendar-alt"></i> </span>
                    </div>
                    <input type="date" :max="currentDate" class="form-control" required v-model="userBirthday">
                </div>

                <PasswordField placeholderText="Password" passwordChangedEventName="passwordchanged" @passwordchanged="passwordChanged" v-if="!editingUser"/>

                <PasswordField placeholderText="Confirm Password" passwordChangedEventName="confirmationpasswordchanged" @confirmationpasswordchanged="confirmationPasswordChanged" v-if="!editingUser"/>

                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="registerAsCoach" :disabled='editingUser' v-model="newUser.isACoach">
                        <label class="form-check-label text" for="registerAsCoach" v-if="!editingUser">Register as coach.</label>
                        <label class="form-check-label text" for="registerAsCoach" v-else>Is a coach.</label>
                    </div>
                </div>

                <div v-if="newUser.isACoach" class="form-group">
                    <label for="tags">Select your tags:</label>
                    <br>
                    <Multiselect class="mt-1 mb-3" @tagslist-changed="updateTagsList" :currentTrainerTags="(userToEdit) ? userToEdit.muscles : []"/>
                </div> <!-- form-group// -->

                <div class="form-group" v-if="!editingUser">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="agreement" required v-model="checked">
                        <label class="form-check-label text" for="agreement">I agree to terms.</label>
                    </div>
                </div>

                <button type="submit" class="action-button" @click.prevent="checkForm">Register</button>
            </form>
        </div>
</template>


<script lang="ts">
import UserAccessApi from '../../services/UserAccessApi';
import CRUDApi from '../../services/CRUDApi';
import { NewUser, UserWithId, UpdatedUser } from '../../models/User';
import Vue from 'vue';
import Component from 'vue-class-component';
import { Watch, Prop } from 'vue-property-decorator';
import PasswordField from '@/components/SignUpSignIn/PasswordField.vue'; // @ is an alias to /src
import Multiselect from '@/components/SignUpSignIn/Multiselect.vue';

declare interface Error {
    text: string;
}

@Component({
    components: {
        PasswordField,
        Multiselect,
    },
})
export default class Registration extends Vue {
    @Prop(String) private componentTitle!: string;
    @Prop(Object) private userToEdit!: UserWithId;
    // True if form submit cause user creation | false if submit form cause edit user passed
    private createNewUser: boolean;
    // Used in order to disable isACoach checkbox if he's editing a user
    private editingUser: boolean;
    private errors: Error[];
    private newUser: NewUser;
    private confirmPassword: string;
    private registrationCompleted: string;
    private checked: boolean;
    private currentDate: string;
    private userBirthday: string;
    private selectedGender: string;

    constructor() {
        super();
        this.errors = [];
        this.newUser = {
            firstName: '',
            lastName: '',
            email: '',
            password: '',
            address: '',
            sex: -1,
            birthdate: new Date(),
            isACoach: false,
            trainerTags: [],
            muscles: [],
            profileImage: '',
            level: 0,
            experience: 0,
            achievements: []
        };
        // By default we are going to create a new user
        this.createNewUser = true;
        // By default the user can use the checkox;
        this.editingUser = false;
        this.confirmPassword = '';
        this.registrationCompleted = '';
        this.checked = false;
        this.currentDate = this.formatDate(new Date());
        this.userBirthday = this.currentDate;
        this.selectedGender = '-1';
    }

   
    private checkForm(event: Event) {
        // Clean tags and muscles if is not a coach
        if (!this.newUser.isACoach) {
            this.newUser.trainerTags = [];
            this.newUser.muscles = [];
        }

        if (this.editingUser) {
            if (this.checkUpdateFields()) {
                this.newUser.sex = Number.parseInt(this.selectedGender);
                this.newUser.birthdate = new Date(this.userBirthday);
                this.performUpdateRequest();
            }
        } else {
            if (this.checkRegistrationFields()) {
                this.newUser.email = this.newUser.email.toLowerCase();
                this.newUser.sex = Number.parseInt(this.selectedGender);
                this.newUser.birthdate = new Date(this.userBirthday);
                this.performCreateRequest();
            }
        }
        event.preventDefault();
    }

    private checkUpdateFields() {
        this.errors = [];
        if (new Date(this.userBirthday) > new Date(this.currentDate)) {
            this.errors.push({text: 'Please, select a correct date;'});
        }  else {
            return true;
        }
        return false;
    }

    private checkRegistrationFields() {
        this.errors = [];
        if( !this.validEmail(this.newUser.email)) {
          this.errors.push({text: 'Check your email!'});
        } else if (!this.editingUser && this.confirmPassword !== this.newUser.password) {
            this.errors.push({text: 'Password don\'t match;'});
        } else if (!this.editingUser && this.newUser.password.length < 4) {
            this.errors.push({text: 'Password must be at least 4;'});
            // if im not changing the password and i'm editing a user
        } else if (!this.checked) {
            this.errors.push({text: 'Please, agree to give your soul to the:\n' +
            '\'Amici della mappa interattiva Company\''});
        } else if (this.selectedGender === '-1') {
            this.errors.push({text: 'Please, select your gender!'});
        } else if (new Date(this.userBirthday) > new Date()) {
            this.errors.push({text: 'Please, select a correct date;'});
        }  else {
            return true;
        }
        return false;
    }

    private updateTagsList(updatedTagList: number[]) {
        this.newUser.trainerTags = updatedTagList;
        this.newUser.muscles = updatedTagList;
    }
    private confirmationPasswordChanged(confirmationPasswordValue: string) {
        this.confirmPassword = confirmationPasswordValue;
    }
    private passwordChanged(passwordValue: string) {
        this.newUser.password = passwordValue;
    }

    private validEmail(email: string) {
      const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (!re.test(email)) {
          this.errors.push({text: 'Check your email!'});
          return false;
      }
      return true;
    }

    private cleanErrors() {
        this.errors = [];
    }

    private performCreateRequest() {
        UserAccessApi.postRegister(this.newUser)
                    .then((r) => {
                        this.registrationCompleted = 'Registration completed successfully!';
                        let goToPage: string = '/';
                        if (this.newUser.isACoach) {
                            this.$cookies.set('coachIsLogged', r.data.token);
                            goToPage = '/coachProfile';
                        } else {
                            this.$cookies.set('userIsLogged', r.data.token);
                            goToPage = '/userPlan';
                        }
                        this.$router.push(goToPage);
                    })
                    .catch((error) => {
                        this.errors.push({text: error.response.data.description});
                    });
    }

    private performUpdateRequest() {
        const tmpUpdatedUser: UpdatedUser = {
            _id: this.userToEdit._id,
            // oldPassword: 
            // password: 
            firstName: this.newUser.firstName,
            lastName: this.newUser.lastName,
            birthdate: this.newUser.birthdate,
            address: this.newUser.address,
        };
        CRUDApi.updateUser(tmpUpdatedUser);
    }

    private formatDate(date: Date) {
        const dayNow = '';
        let monthNow = '';
        if (date.getMonth().toString().length === 1) {
            monthNow = '0';
        }
        monthNow += (date.getMonth() + 1);
        const formattedDate = date.getFullYear() + '-'
            + monthNow + '-'
            + date.getDate();
        return formattedDate;
    }

    private mounted() {
        if (this.userToEdit && !this.objectIsEmpty(this.userToEdit)) {
            // We are going to edit an existing user.
            this.createNewUser = false;
            this.newUser = this.userToEdit;
            this.selectedGender = ((this.userToEdit.sex) ? this.userToEdit.sex : 0) + '';
            this.userBirthday = this.userToEdit.birthdate.toString().substring(0, 10);
            this.editingUser = true;
        }
    }

    private objectIsEmpty(obj: object) {
        for (const key in obj) {
            if (obj.hasOwnProperty(key)) {
                return false;
            }
        }
        return true;
    }

}
</script>


<style lang="scss" src="./Styles/form-style.scss" />
