<template>
    <b-container fluid class="containerStyle">
         <b-row :class="[userIsLogged ? 'first-row-logged' : '']">
             <b-col :class="[
                        'p-3',
                        userIsLogged ? 'colCat-logged' : 'colCat-unlogged',
                        ]" sm md="4" lg="3" xl="2">
                <b-row v-if="!showMobile">
                    <b-col>
                        <h1 class="subtitle">{{title}}</h1>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <ShopCategories @categoryselected="changeProducts" :showMobile="showMobile"/>
                    </b-col>
                </b-row>
            </b-col>
            <b-col :class="[
                        'p-3',
                        userIsLogged ? 'colProd-logged' : 'colProd-unlogged',
                        ]" sm>               
                <ShopProducts @new-product-added-to-cart="addToCart" :categoryName="currentSelectedCategoryName" :categoryId="currentSelectedCategoryId"/>               
            </b-col>
        </b-row>
         <ShopPreview class="colPrev mt-1" v-if="userIsLogged" :productToAdd="newProduct"/> 
    </b-container>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import ShopCategories from '@/components/Shop/ShopCategories.vue';
import ShopProducts from '@/components/Shop/ShopProducts/ShopProducts.vue';
import ShopPreview from '@/components/Shop/ShopPreview.vue';
import CartProduct from '../../models/Cart';

interface WindowSize {
  width: number;
  height: number;
}

@Component({
    components: {
        ShopCategories,
        ShopProducts,
        ShopPreview,
    },
})

export default class Shop extends Vue {
    private title: string;
    private currentSelectedCategoryName: string;
    private currentSelectedCategoryId: number;
    private newProduct: object;
    private userIsLogged: boolean;

    private window: WindowSize;
    private showMobile: boolean;
    private readonly maxMobileWidth: number = 575;

    constructor() {
        super();
        this.title = 'VTShop';
        this.currentSelectedCategoryName = '';
        this.currentSelectedCategoryId = 0;
        this.newProduct = {};
        this.userIsLogged = this.checkIfUserIsLogged();
        this.window = {
            width: 1200,
            height: 1000,
        };
        this.showMobile = false;
    }
    private changeProducts(categoryId: number, categoryName: string) {
        this.currentSelectedCategoryId = categoryId;
        this.currentSelectedCategoryName = categoryName;
    }
    private addToCart(productToAdd: CartProduct) {
        this.newProduct = productToAdd;
    }
    private mounted() {
        this.userIsLogged = this.checkIfUserIsLogged();
    }
    private checkIfUserIsLogged() {
       return this.$cookies.isKey('userIsLogged');
    }

    private handleResize() {
        this.window.width = window.innerWidth;
        this.window.height = window.innerHeight;
        this.showMobile = (this.window.width < this.maxMobileWidth);
    }

    private created() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();
    }

    private destroyed() {
        window.removeEventListener('resize', this.handleResize);
    }
}
</script>

<style lang="scss" src="./style.scss" scoped />
