$column-height-logged: 92vh;
$column-height-unlogged: 79vh;
$column-prev-height: 10vh;

$partition-border: 2px solid darkgray;

$mobile-column-cat-height: 30vh;
$mobile-column-prod-height: 60vh;

.colCat-unlogged {
    max-height: $column-height-logged;
    overflow-y: auto;
    min-width: 180px;
}

.colProd-unlogged {
    height: $column-height-logged;
    overflow-y: auto;
    border-left: $partition-border;
}

.colCat-logged {
    @extend .colCat-unlogged;
    max-height: $column-height-unlogged;
}

.colProd-logged {
    @extend .colProd-unlogged;
    height: $column-height-unlogged;
}
.first-row-logged {
    border-bottom: $partition-border;
    height: auto;
}
.colPrev {
    height: $column-prev-height;
}

@media screen and (max-height: 1090px) {
    .colCat-unlogged {
        max-height: 90vh;
    }

    .colProd-unlogged {
        height: 90vh;
    }
    .colCat-logged {
        max-height: 70vh;
    }

    .colProd-logged {
        height: 70vh;
    }

}

@media screen and (max-height: 920px) {

    .colCat-unlogged {
        max-height: 88vh;
    }

    .colProd-unlogged {
        height: 88vh;
    }
    .colCat-logged {
        max-height: 70vh;
    }

    .colProd-logged {
        height: 70vh;
    }

}

@media screen and (max-height: 800px) {


    .colCat-logged {
        max-height: 68vh;
    }

    .colProd-logged {
        height: 68vh;
    }

}

@media screen and (max-height: 750px) {
    // Hide cart preview
  .colPrev {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .colCat-logged {
    max-height: 88vh;
    border: none;
  }
  .colProd-logged {
    height: 88vh;
    border: none;
  }
  .first-row-logged {
    border-bottom: none;
  }

  .colCat-unlogged {
      max-height: 86vh;
  }

  .colProd-unlogged {
      height: 86vh;
  }
}
@media screen and (max-height: 606px) {
    .colCat-logged {
        max-height: 82vh;
    }

    .colProd-logged {
        height: 82vh;
    }

    .colCat-unlogged {
        max-height: 83vh;
    }

    .colProd-unlogged {
        height: 83vh;
    }
}



@media screen and (max-width: 575px) {
  .colPrev {
    display: none;
  }
  .colCat-logged {
      height: 12vh;
      border: none;
  }
  .first-row-logged {
      border-bottom: none;
  }
  .colProd-logged {
      height: 78vh;
      border: none;
  }
  .colCat-unlogged {
      height: 12vh;
  }
  .colProd-unlogged {
      height: 78vh;
  }
}
