<template>
    <div class="cont">
      <svg style="display: none;">
    <symbol id="product-icon" viewBox="0 0 26.458 26.458">


      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 360 360" style="enable-background:new 0 0 360 360;" xml:space="preserve">
    <g id="XMLID_1004_">
    <path id="XMLID_1005_" style="fill:#DEDDE0;" d="M160,280v-30h20v-30h-20v-30h20v-50H0v190h180v-50H160z M130,300H30V170h100V300z"
      />
    <polygon id="XMLID_1008_" style="fill:#CDCDD0;" points="180,190 330,190 330,220 180,220 180,250 245,250 245,280 180,280
      180,330 360,330 360,140 180,140 	"/>
    <polygon id="XMLID_1009_" style="fill:#FF9811;" points="260,90 260,110 180,110 180,140 360,140 360,90 	"/>
    <polygon id="XMLID_1010_" style="fill:#FFDA44;" points="180,110 100,110 100,90 0,90 0,140 180,140 	"/>
    <polygon id="XMLID_1011_" style="fill:#FFFFFF;" points="160,280 180,280 245,280 245,250 180,250 160,250 	"/>
    <polygon id="XMLID_1012_" style="fill:#FFFFFF;" points="160,220 180,220 330,220 330,190 180,190 160,190 	"/>
    <rect id="XMLID_1013_" x="30" y="170" style="fill:#ACABB1;" width="100" height="130"/>
    <path id="XMLID_1014_" style="fill:#565659;" d="M180,110h80V90V70h-40c0-22.092-17.908-40-40-40s-40,17.908-40,40h-40v20v20H180z"
      />
    </g>
    </svg>



    </symbol>
    </svg>


     <b-tabs content-class="mt-3" justified>
       <b-tab title="Trainer Approvation" :active="notPlanId === ''">
      <h1 v-if="trainers.length === 0 && notUserId === ''">No requests available</h1>
      <div v-if="!findTrainerFromNotificationId()">
        <h1>You have already processed this request</h1>
        <button class="action-button" @click="resetNotificationValue">Back</button>
      </div>
    <div class="planDiv" v-for="trainer in trainers">
      <div class="cont_plan">
      <div class="component--card position-in-page" v-if="notUserId === '' || trainer._id === notUserId">
        <svg :class="'card__icon'" @click="resetNotificationValue()">
          <use href="#product-icon"/>
        </svg>

        <svg v-if="trainer._id === notUserId" id="clickText" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
            <defs>
                <path id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
            </defs>
            <circle cx="150" cy="100" r="75" fill="none"/>
            <g>
                <use xlink:href="#circlePath" fill="none"/>
                <text fill="#000">
                    <textPath xlink:href="#circlePath">Click me!</textPath>
                </text>
            </g>
        </svg>

        <div class="card__title">
          <h3>Trainer: {{trainer.firstName + ' ' + trainer.lastName}}</h3>
        </div>

        <div class="card__table">
          <div class="card__table__row row--title" v-if="trainer.muscles.length>0">
            <span class="title"> Muscles </span>
          </div>

          <div v-for="muscle in trainer.muscles" :muscle="muscle" :key="muscle.name" class="card__table__row">
               <span> #{{muscle.name}} </span>
             </div>
          <div class="card__table__row row--final">
            <button class="action-button confirm" data-toggle="modal" data-target="#myModal" @click="tryConfirmTrainer(trainer)">Approve</button>
            <button class="action-button delete" data-toggle="modal" data-target="#myModal" @click="tryDeleteTrainer(trainer)">Reject</button>
          </div>
        </div>
      </div>
      </div>
    </div>
    </b-tab>
    <b-tab title="Plan Approvation" :active="notPlanId !== ''">
      <h1 v-if="plans.length === 0 && notPlanId === ''">No requests available</h1>
      <div v-if="!findPlanFromNotificationId()">
        <h1>You have already processed this request</h1>
        <button class="action-button" @click="resetNotificationValue">Back</button>
      </div>
    <div class="planDiv" v-for="plan in plans">
      <div class="cont_plan">
      <div class="component--card position-in-page" v-if="notPlanId === '' || plan._id === notPlanId">
        <svg v-bind:class="'card__icon'" @click="resetNotificationValue()">
          <use href="#product-icon"/>
        </svg>
        <svg v-if="plan._id === notPlanId" id="clickText" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
            <defs>
                <path id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
            </defs>
            <circle cx="150" cy="100" r="75" fill="none"/>
            <g>
                <use xlink:href="#circlePath" fill="none"/>
                <text fill="#000">
                    <textPath xlink:href="#circlePath">Click me!</textPath>
                </text>
            </g>
        </svg>

        <div class="card__title">
          <h3>Trainer: {{plan.compiledBy}}</h3>
        </div>

        <div class="card__table">
          <div class="card__table__row row--title" v-if="plan.description !== ''">
            <span class="title"> Description </span>
          </div>

          <div class="card__table__row" v-if="plan.description !== ''">
               <span> {{plan.description}} </span>
          </div>
          <div class="superRow" v-for="schedule in plan.schedules">
            <div class="card__table__row row--title">
              <span class="title"> Schedule {{plan.schedules.indexOf(schedule) + 1}} </span>
            </div>
            <div class="card__table__row" v-for="card in schedule.cards">
              <span v-if="!card.exercise.isWeightNeeded">  <strong>{{card.exercise.name}}</strong> for {{card.exercise.isTimed ? convertIntToMinute(card.amount) + " minutes" : card.amount + " times"}}</span>
              <span v-if="card.exercise.isWeightNeeded">  {{card.exercise.name}} for {{card.amount}} {{card.exercise.isTimed ? "minute" : "times"}} with {{card.weight}}kg</span>
            </div>
          </div>
          <div class="card__table__row row--final">
            <button class="action-button" data-toggle="modal" data-target="#myModal" @click="tryConfirmPlan(plan)">Approve</button>
            <button class="action-button" data-toggle="modal" data-target="#myModal" @click="tryDeletePlan(plan)">Reject</button>
          </div>
        </div>
      </div>
      </div>
    </div>

    </b-tab>
    </b-tabs>


      <div class="modal" style="margin-top:15%" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Confirm Operation</h4>
            </div>
            <div class="modal-body">
              Are you sure?
            </div>
            <div class="modal-footer">
              <button class="action-button" style="margin-top:2%" data-dismiss="modal" @click="completeOperation()">Confirm</button>
              <button class="action-button" style="margin-top:2%" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>

</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import AdminApi from '../services/AdminApi';
import TrainersApi from '../services/TrainersApi';
import Coach from '../models/Coach';
import Exercise from '../models/Exercise';
import Plan from '../models/Plan';
import Schedule from '../models/Schedule';

interface Notification {
  type: string;
  description: string;
}

interface TrainerAppr {
  trainerId: string;
  status: boolean;
}

interface PlanAppr {
  planId: string;
  status: boolean;
}

@Component
export default class Admin extends Vue {

  private notifications: Notification[];
  private trainers: Coach[];
  private allTrainers: Coach[];
  private plans: Plan[];
  private clicked: boolean;
  private value: string;
  private trainer: Coach;
  private plan: Plan;
  private trainerDecision: TrainerAppr;
  private planDecision: PlanAppr;
  private confirm: boolean;
  private trainerAppr: boolean;
  private setActive: boolean;
  private notPlanId: string;
  private notUserId: string;




  constructor() {
    super();
    this.notifications = [];
    this.trainers = [];
    this.allTrainers = [];
    this.plans = [];
    this.clicked = false;
    this.value = '';
    this.confirm = false;
    this.trainerAppr = true;
    this.setActive = false;
    this.notPlanId = '';
    this.notUserId = '';
    this.trainer = {
      _id: '',
      accepted: false,
      address: '',
      profileImage: '',
      birthdate: '',
      email: '',
      firstName: '',
      lastName: '',
      muscles: [],
      pending: false,
      rating: 0,
      trainerTags: [],
    };
    this.plan = {
      __v: 0,
      _id: '',
      approved: false,
      associatedTo: '',
      compiledBy: '',
      description: '',
      isRated: false,
      muscles: [],
      pending: false,
      rating: 0,
      schedules: [],
      trainerTags: [],
    };
    this.planDecision = {
      planId: '',
      status: false,
    };
    this.trainerDecision = {
      trainerId: '',
      status: false,
    };
  }

  private findPlanFromNotificationId() {
    for (const plan of this.plans) {
       if (plan._id === this.notPlanId) {
         return true;
       }
    }
    return this.notPlanId === '';
  }

  private findTrainerFromNotificationId() {
    for (const trainer of this.trainers) {
       if (trainer._id === this.notUserId) {
         return true;
       }
    }
    return this.notUserId === '';
  }



  private tryConfirmTrainer(t: Coach) {
    this.trainer = t;
    this.confirm = true;
    this.trainerAppr = true;
  }

  private tryDeleteTrainer(t: Coach) {
    this.trainer = t;
    this.confirm = false;
    this.trainerAppr = true;

  }

  private tryConfirmPlan(p: Plan) {
    this.plan = p;
    this.confirm = true;
    this.trainerAppr = false;

  }


  private tryDeletePlan(p: Plan) {
    this.plan = p;
    this.confirm = false;
    this.trainerAppr = false;
  }

  private completeOperation() {
    if (this.confirm) {
      if (this.trainerAppr) {
        this.confirmTrainer(this.trainer);
      } else {
        this.confirmPlan(this.plan);
      }
    } else {
      if (this.trainerAppr) {
        this.rejectTrainer(this.trainer);
      } else {
        this.rejectPlan(this.plan);
      }
    }
  }

  private confirmTrainer(trainer: Coach) {
    this.trainerDecision.trainerId = trainer._id;
    this.trainerDecision.status = true;
    this.deleteTrainerFromList(trainer);
    AdminApi.postValidateTrainer(this.trainerDecision);
  }

  private rejectTrainer(trainer: Coach) {
    this.trainerDecision.trainerId = trainer._id;
    this.deleteTrainerFromList(trainer);
    AdminApi.postValidateTrainer(this.trainerDecision);
  }

  private deleteTrainerFromList(trainer: Coach) {
    this.trainers.splice(this.trainers.indexOf(trainer), 1);
  }

  private confirmPlan(plan: Plan) {
    this.planDecision.planId = plan._id;
    this.planDecision.status = true;
    this.deletePlanFromList(plan);
    AdminApi.postValidatePlan(this.planDecision);
  }

  private rejectPlan(plan: Plan) {
    this.planDecision.planId = plan._id;
    this.deletePlanFromList(plan);
    AdminApi.postValidatePlan(this.planDecision);
  }

  private deletePlanFromList(plan: Plan) {
    this.plans.splice(this.plans.indexOf(plan), 1);
  }

  private setTrainerName() {
    for(let i = 0; i < this.allTrainers.length; i++) {
      for (let j = 0; j < this.plans.length; j++) {
        if (this.allTrainers[i]._id === this.plans[j].compiledBy) {
          this.plans[j].compiledBy = this.allTrainers[i].firstName + ' ' + this.allTrainers[i].lastName;
        }
      }
    }
  }

  private setNotificationValue() {
    this.notPlanId = this.$route.params.planId === undefined ? '' : this.$route.params.planId;
    this.notUserId = this.$route.params.userId === undefined ? '' : this.$route.params.userId;
    this.$bus.$on('admin-user', (value: any) => {
      this.notUserId = value;
    });
    this.$bus.$on('admin-plan', (value: any) => {
      this.notPlanId = value;
    });
  }

  private resetNotificationValue() {
    this.notPlanId = '';
    this.notUserId = '';
  }

  private convertIntToMinute(val: number) {
    const res = val % 60;
    var min: string = '';
    if (res < 10) {
      min = min + '0'
    }
    min = min + res;
    return Math.floor(val / 60) + ':'+ min;
  }

  private mounted() {
    this.setNotificationValue();
    const r = TrainersApi.getTrainers();
    const r2 = AdminApi.getPendingPlans();
    const r3 = AdminApi.getPendingTrainers();
    Promise.all([r, r2, r3]).then((values) => {
      this.allTrainers = values[0].data;
      this.plans = values[1].data;
      this.trainers = values[2].data;
      this.setTrainerName();
    });
  }
}

</script>

<style scoped lang="scss">

  #clickText {
    position: absolute;
    margin-top:-130px;
    z-index: -100;
    transform: rotate(60deg);
  }
  .cont_plan {
    width:100%;
    margin:0 auto;
  }
  .component--card {
    width:90%;
    margin:0 auto;
    margin-top:15%;
    margin-bottom:3%;
  }

  .card__icon {
  	cursor:default;
  }
  .card__icon:hover {
  	border: 3px solid #FF8A1E;
  	opacity: .8;
  	transform: scale(1.0);
  }


  .card__table__row {
  	border:none;
  }

  .title {
  	border-bottom: 2px solid rgba(48,88,127,0.4);
  }

  .row--final {
  	border-top: 2px solid rgba(48,88,127,0.4);
  }

  .action-button {
    margin:0 auto;
    margin-top:2%;
  }

  .superRow {
    width:100%;
  }

  @media screen and (min-width:700px) {
  	.component--card {
  		width:50%;
  		margin-bottom:0%;
      margin-top: 10%;
  	}

    .action-button {
      margin-left:2%;
      margin-right:2%;
    }
  }

  @media screen and (min-width:1000px) {

    .planDiv {
      display:inline-block;
    }
    .component--card {
      width:90%;
      margin-bottom:5%;
    }

  }

</style>
