	<template>
		<div class="container-fluid">


			<div class="mobile">
				<b-tabs content-class="mt-3" justified>
					<b-tab title="Plans" active>
						<div class="cont_plan">
							<svg style="display: none;">
						<symbol id="product-icon" viewBox="0 0 26.458 26.458">


							<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 360 360" style="enable-background:new 0 0 360 360;" xml:space="preserve">
						<g id="XMLID_1004_">
						<path id="XMLID_1005_" style="fill:#DEDDE0;" d="M160,280v-30h20v-30h-20v-30h20v-50H0v190h180v-50H160z M130,300H30V170h100V300z"
							/>
						<polygon id="XMLID_1008_" style="fill:#CDCDD0;" points="180,190 330,190 330,220 180,220 180,250 245,250 245,280 180,280
							180,330 360,330 360,140 180,140 	"/>
						<polygon id="XMLID_1009_" style="fill:#FF9811;" points="260,90 260,110 180,110 180,140 360,140 360,90 	"/>
						<polygon id="XMLID_1010_" style="fill:#FFDA44;" points="180,110 100,110 100,90 0,90 0,140 180,140 	"/>
						<polygon id="XMLID_1011_" style="fill:#FFFFFF;" points="160,280 180,280 245,280 245,250 180,250 160,250 	"/>
						<polygon id="XMLID_1012_" style="fill:#FFFFFF;" points="160,220 180,220 330,220 330,190 180,190 160,190 	"/>
						<rect id="XMLID_1013_" x="30" y="170" style="fill:#ACABB1;" width="100" height="130"/>
						<path id="XMLID_1014_" style="fill:#565659;" d="M180,110h80V90V70h-40c0-22.092-17.908-40-40-40s-40,17.908-40,40h-40v20v20H180z"
							/>
						</g>
						</svg>



						</symbol>
						</svg>
						<h1 v-if="plans.length===0">No plans available</h1>
						<div class="component--card position-in-page" v-for="plan in plans" v-if="showPlanIf(plan)">
							<!--  at the top of the card show an icon included in the SVG set -->
							<svg v-bind:class="'card__icon'" @click="resetNotificationValue()">
						    <use href="#product-icon"/>
						  </svg>
							<svg v-if="notPlanId !== ''" id="clickText" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
									<defs>
											<path id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
									</defs>
									<circle cx="150" cy="100" r="75" fill="none"/>
									<g>
											<use xlink:href="#circlePath" fill="none"/>
											<text fill="#000">
													<textPath xlink:href="#circlePath">Click me!</textPath>
											</text>
									</g>
							</svg>

								<div class="card__title">
							    <h3>User:{{plan.user}} </h3>
							  </div>

							  <div class="card__table" v-for="schedule in plan.plan.schedules">
							    <div class="card__table__row row--title">
							      <span class="title"> Schedule {{plan.plan.schedules.indexOf(schedule) + 1}} </span>
							    </div>

									<div v-for="card in schedule.cards" class="card__table__row">
										 <span v-if="card.exercise.isWeightNeeded"><strong>{{card.exercise.name}}</strong> per {{card.exercise.isTimed ? convertIntToMinute(card.amount) + " minuti" : card.amount + " volte"}} con {{card.weight}}kg</span>
										 <span v-if="!card.exercise.isWeightNeeded"><strong>{{card.exercise.name}}</strong> per {{card.exercise.isTimed ? convertIntToMinute(card.amount) + " minuti" : card.amount + " volte"}}</span>
									</div>
							  </div><!-- close table div -->
								<div class="card__table__row row--final">
									<span v-if="!plan.plan.approved && !plan.plan.pending">state: <span style="color:red">Rejected</span></span>
									<span v-if="!plan.plan.approved && plan.plan.pending">state: <span style="color:gold">Pending</span></span>
									<span v-if="plan.plan.approved">state: <span style="color:green">Accepted</span></span>
								</div>
							</div><!-- close component div  -->
						</div>
					</b-tab>
					<b-tab title="Filters">
						<div class="filters">
							<div class="filterUser">
								<h2>User</h2>
								<select class="bootstrap-select-wrapper" @change="applyUserFilter($event.target.value)">
									<option v-for="user in users" :value="user">{{user}}</option>
								</select>
							</div>
							<div class="filterStars">
								<h2>Rating</h2>
								<ul class="taglist">
									<li v-for="star in stars" v-bind:class="'star_' + stars.indexOf(star)" class="tag mint text" @click="applyStarFilter('star_', stars.indexOf(star))">{{star}} star(s) </li>
								</ul>
							</div>
							<div class="filterSchedules">
								<h2>Schedule Number</h2>
								<ul class="taglist">
									<li v-for="sched in schedules" v-bind:class="'sched_' + schedules.indexOf(sched)" class="tag mint text" @click="applyScheduleFilter('sched_', schedules.indexOf(sched))">{{sched}} schedule(s) </li>
								</ul>
							</div>
							<div class="filterState">
								<h2>State</h2>
								<ul class="taglist">
									<li v-for="state in states" v-bind:class="'state_' + states.indexOf(state)" class="tag mint text" @click="applyStateFilter('state_', states.indexOf(state))">{{state}}</li>
								</ul>
							</div>
							<div class="resetFilter">
								<button class="action-button" @click="resetFilter()">Reset</button>
							</div>
						</div>
					</b-tab>
				</b-tabs>
			</div>


			<div class="row">
			<div class="col-sm-3 desktop">
				<div class="filters">
					<div class="filterUser">
						<h2>User</h2>
						<select class="bootstrap-select-wrapper" @change="applyUserFilter($event.target.value)">
							<option v-for="user in users" :value="user">{{user}}</option>
						</select>
					</div>
					<div class="filterStars">
						<h2>Rating</h2>
						<ul class="taglist">
							<li v-for="star in stars" v-bind:class="'star_' + stars.indexOf(star)" class="tag mint text" @click="applyStarFilter('star_', stars.indexOf(star))">{{star}} star(s) </li>
						</ul>
					</div>
					<div class="filterSchedules">
						<h2>Schedule Number</h2>
						<ul class="taglist">
							<li v-for="sched in schedules" v-bind:class="'sched_' + schedules.indexOf(sched)" class="tag mint text" @click="applyScheduleFilter('sched_', schedules.indexOf(sched))">{{sched}} schedule(s) </li>
						</ul>
					</div>
					<div class="filterState">
						<h2>State</h2>
						<ul class="taglist">
							<li v-for="state in states" v-bind:class="'state_' + states.indexOf(state)" class="tag mint text" @click="applyStateFilter('state_', states.indexOf(state))">{{state}}</li>
						</ul>
					</div>
					<div class="resetFilter">
						<button class="action-button" @click="resetFilter()">Reset</button>
					</div>
				</div>
			</div>

			<div class="col-sm-9 desktop">
				<div class="cont_plan">
					<h1 v-if="plans.length===0">No plans available</h1>
					<div class="component--card position-in-page" v-for="plan in plans" v-bind:id="plan.plan.id" v-if="showPlanIf(plan)">
						<!--  at the top of the card show an icon included in the SVG set -->
						<svg v-bind:class="'card__icon'" @click="resetNotificationValue()">
							<use href="#product-icon"/>
						</svg>
						<svg v-if="notPlanId !== ''" id="clickText" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
								<defs>
										<path id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
								</defs>
								<circle cx="150" cy="100" r="75" fill="none"/>
								<g>
										<use xlink:href="#circlePath" fill="none"/>
										<text fill="#000">
												<textPath xlink:href="#circlePath">Click me!</textPath>
										</text>
								</g>
						</svg>

							<div class="card__title">
								<h3>User:{{plan.user}} </h3>
							</div>

							<div class="card__table" v-for="schedule in plan.plan.schedules">
								<div class="card__table__row row--title">
									<span class="title"> Schedule {{plan.plan.schedules.indexOf(schedule) + 1}} </span>
								</div>

								<div v-for="card in schedule.cards" class="card__table__row">
									 <span v-if="card.exercise.isWeightNeeded"><strong>{{card.exercise.name}}</strong> for {{card.exercise.isTimed ? convertIntToMinute(card.amount) + " minutes" : card.amount + " times"}} with {{card.weight}}kg</span>
									 <span v-if="!card.exercise.isWeightNeeded"><strong>{{card.exercise.name}}</strong> for {{card.exercise.isTimed ? convertIntToMinute(card.amount) + " minutes" : card.amount + " times"}}</span>
								</div>
							</div><!-- close table div -->
							<div class="card__table__row row--final">
								<span v-if="!plan.plan.approved && !plan.plan.pending">state: <span style="color:red">Rejected</span></span>
								<span v-if="!plan.plan.approved && plan.plan.pending">state: <span style="color:gold">Pending</span></span>
								<span v-if="plan.plan.approved">state: <span style="color:green">Accepted</span></span>
							</div>
						</div><!-- close component div  -->

				</div>
			</div>
		</div>
	</div>
</template>



<script lang="ts">

import Vue from 'vue';
import Component from 'vue-class-component';
import axios from 'axios';
import TrainersApi from '../services/TrainersApi';
import router from '../router';
import $ from 'jquery';
import Exercise from '../models/Exercise';
import Schedule from '../models/Schedule';
import Plan from '../models/Plan';
import User from '../models/User';

interface ExtendedPlan {
	plan: Plan;
	user: string;
}


@Component
export default class UserPlan extends Vue {
	private plans: ExtendedPlan[];
	private stars: number[];
	private schedules: number[];
	private states: string[];
	private starSelectedIndex: number;
	private scheduleSelectedIndex: number;
	private stateSelectedIndex: number;
	private users: string[];
	private user: string;
	private angleUp: boolean;
	private plan: boolean;
	private filter: boolean;
	private lastFilterVal: boolean;
	private notPlanId: string;
	constructor() {
		super();
		this.starSelectedIndex = -1;
		this.scheduleSelectedIndex = -1;
		this.stateSelectedIndex = -1;
		this.plans = [];
		this.users = ['Select user'];
		this.user = 'Select user';
		this.stars = [1, 2, 3, 4, 5];
		this.schedules = [1, 2, 3, 4, 5, 6, 7];
		this.states = ['accepted', 'rejected', 'pending'];
		this.angleUp = false;
		this.plan = true;
		this.filter = false;
		this.lastFilterVal = false;
		this.notPlanId = '';
  }

	private applyStarFilter(id: string, index: number) {
		this.selectTag(id, this.starSelectedIndex, index);
		if (this.starSelectedIndex === index) {
			this.starSelectedIndex = -1;
		} else {
			this.starSelectedIndex = index;
		}
	}

	private applyScheduleFilter(id: string, index: number) {
		this.selectTag(id, this.scheduleSelectedIndex, index);
		if (this.scheduleSelectedIndex === index) {
			this.scheduleSelectedIndex = -1;
		} else {
			this.scheduleSelectedIndex = index;
		}
	}

	private applyStateFilter(id: string, index: number) {
		this.selectTag(id, this.stateSelectedIndex, index);
		if (this.stateSelectedIndex === index) {
			this.stateSelectedIndex = -1;
		} else {
			this.stateSelectedIndex = index;
		}
	}

	private applyUserFilter(name: string) {
		this.user = name;
	}

	private applyFilters(plan: ExtendedPlan) {
		let checkStar: boolean = true;
		let checkState: boolean = true;
		let checkSchedule: boolean = true;
		let checkUser: boolean = true;
		if (this.scheduleSelectedIndex !== -1) {
			checkSchedule = plan.plan.schedules.length === this.schedules[this.scheduleSelectedIndex];
			this.resetNotificationValue();
		}
		if (this.starSelectedIndex !== -1) {
			checkStar = plan.plan.isRated && this.stars[this.starSelectedIndex] === plan.plan.rating;
			this.resetNotificationValue();
		}
		if (this.stateSelectedIndex !== -1) {
			checkState = this.states[this.stateSelectedIndex] === 'accepted' && plan.plan.approved ||
			             this.states[this.stateSelectedIndex] === 'rejected' && (!plan.plan.approved && !plan.plan.pending) ||
									 this.states[this.stateSelectedIndex] === 'pending' && ((!plan.plan.approved && plan.plan.pending));
			this.resetNotificationValue();

		}
		if (this.user !== 'Select user') {
			checkUser = this.user === plan.user;
			this.resetNotificationValue();
		}
		return checkStar && checkState && checkSchedule && checkUser;
	}

	private resetFilter() {
		$('.sched_' + this.scheduleSelectedIndex).removeClass( 'selected' );
		this.scheduleSelectedIndex = -1;
		$('.state_' + this.stateSelectedIndex).removeClass( 'selected' );
		this.stateSelectedIndex = -1;
		$('.star_' + this.starSelectedIndex).removeClass( 'selected' );
		this.starSelectedIndex = -1;
		$('.bootstrap-select-wrapper option:first-child').attr('selected', 'selected');
		this.user = 'Select user';
	}

	private showPlanIf(plan: ExtendedPlan) {
		return this.applyFilters(plan) && (this.notPlanId === '' || this.notPlanId === plan.plan._id);
	}

	private selectTag(id: string, oldIndex: number, newIndex: number) {
		if (oldIndex !== -1) {
			if (oldIndex === newIndex) {
				$('.' + id + oldIndex).removeClass( 'selected' );
			} else {
				$('.' + id + oldIndex).removeClass( 'selected' );
				$('.' + id + newIndex ).addClass( 'selected' );
			}
		} else {
			$('.' + id + newIndex).addClass( 'selected' );
		}
	}

	private setNotificationValue() {
		this.notPlanId = this.$route.params.planId === undefined ? '' : this.$route.params.planId;
		this.$bus.$on('coachPlans', (value: any) => {
			this.notPlanId = value;
		});
	}

	private resetNotificationValue() {
		this.notPlanId = '';
	}

	private mounted() {
		const r = TrainersApi.getPlans();
		const r2 = TrainersApi.getUsers();
		this.setNotificationValue();
		Promise.all([r, r2]).then((values) => {
			for (const v of values[0].data) {
				if (v.schedules.length > 0 ) {
					const tmp = {
						plan: v,
						user: '',
					};
					this.findUserById(tmp, values[1].data);
					this.plans.push(tmp);
				}
			}
		});
	}

	private findUserById(plan: ExtendedPlan, obj: User[]) {
		for (const v of obj) {
			if (v._id === plan.plan.associatedTo) {
				plan.user = v.firstName + ' '  + v.lastName;
				if (this.users.indexOf(v.firstName + ' '  + v.lastName) === -1) {
					this.users.push(v.firstName + ' '  + v.lastName);
				}
			}
		}
	}

	private convertIntToMinute(time: number) {
			const minute = Math.floor(time / 60);
			const second = time - (minute * 60);
			return minute + ':' + (second > 0 ? + second : '00');
	}
}

</script>

<style scoped lang="scss">
	@import url('https://fonts.googleapis.com/css?family=Open+Sans');
	.desktop {
		display:none;
		visibility: hidden;
	}

/*tag*/

.taglist li {
	  display: inline-block;
	  margin-right: 0.2rem;
	}
.tag{
	padding: 2%;
	border: 1px solid #8C8C8C;
	border-radius: 1rem;
	color: #8C8C8C;
	transition: all 0.3s ease;
	margin:1%;
	position: relative;
	margin-top:2%;
}
.tag.mint{
	border-color: #f4623A;
	color: #f4623A;
}
.tag.mint:hover{
	background: #f4623A;
	color: #fff;
	cursor:pointer;
}

.tag.mint.selected{
	background: #f4623A;
	color: #fff;
}
/*end tag*/
h2 {
	margin: 2%;
	font-weight:700;
	font-size:150%;
}
.filterSchedules, .filterStars, .filterState, .filterUser {
	 border-bottom: 1px solid #f4623A;
	 padding-bottom:2%;
 }

 .resetFilter button {
	 width: 100%;
 }

 select {
	 width: 100%;
	 padding:2%;
	 border: 1px solid #F4623A;
	 margin-top:1%;
 }

/*end filter div*/

/*my customization*/
.card__icon {
	cursor:default;
}
.card__icon:hover {
	border: 3px solid #FF8A1E;
	opacity: .8;
	transform: scale(1.0);
}
.cont_plan {
	margin:0 auto;
}
.card__title {
	margin-top:10%;
}

.component--card {
	width:100%;
	margin: 0 auto;
	margin-top:14%;
	margin-bottom:14%;
}

.card__table__row {
	border:none;
}

.title {
	border-bottom: 2px solid rgba(48,88,127,0.4);
}

.row--final {
	border-top: 2px solid rgba(48,88,127,0.4);
}
#clickText {
	position: absolute;
	margin-top:-130px;
	z-index: -100;
	transform: rotate(60deg);
}

/* end my customization*/

@media screen and (min-width:700px) {
	.component--card {
		width:50%;
		margin-bottom:0%;
	}
	select {
		padding:3%;
	}
}

@media screen and (min-width:1000px) {
 .component--card {
	 width:60%;
 }
 .resetFilter {
	 margin-top: 7%;
 }
}

@media screen and (min-width:1500px) {
	.mobile {
		visibility:hidden;
		display:none;
	}
	.desktop {
		visibility:visible;
		display:inline-block;
	}
	.col-sm-3 {
		border-right:0.5px solid lightgray;
  }
	.cont_plan {
	overflow-y: auto;
	height:90vh;
 }
 .component--card {
	 width:30%;
	 margin-top:10%;
 }
}

</style>
