/********************** ALLENATORE *******************/
clear{
    clear: both;
}

.wrapper{
    width:25%;
    margin: 5% 4%;
    display: inline-block;
}

/*card*/

.card{
  width: 90%;
  background:#FFF;
	border-radius:0.51em;
	box-shadow:0px 5px 10px rgba(0,0,0,0.5);
  margin: 0 auto;
  margin-top: 5%;
}

.headerCard{
  padding: 30px;
  text-align: center;
  font-weight: 700;
}

.headerCard img{
  margin: 0 auto;
  margin-bottom: 12px;
  display: block;
  border-radius: 50%;
  border: 3px solid black;
  opacity: 1;
  width: 20%;
  min-width: 200px;
  max-height: 200px;
}

.headerCard p{
  margin-bottom: 0;
}

.headerCard img, .infoCard h3{
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -o-transition: all .1s;
    -ms-transition: all .1s;
    transition: all .1s;
}

/*end card*/

/*table*/
.infoCard {
    width:100% !important;
    margin: 0 0px;
}

.infoCard h3 {
    padding: 10px;
    border-bottom: 1px solid black;
    margin: 0;
    cursor: pointer;
}

.infoCard h3:hover{
  background-color: rgba(255,138,30,.2);
}

.infoCard .accordion {
    padding: 10px;
    display: none;
    font-weight: 700;
}

.infoCard .accordion a{
  text-decoration: none;
}

.infoCard .last {
  border-bottom: none;

}

h3.firstH3{
  border-top: 2px solid black;
}



@media screen and (min-width:1000px) {
  .card {
    width:40%;
  }
}

/*end table*/
