<template>
  <div>
    <div class="trainerContainer">
      <div class="card">
        <div class="headerCard">
          <div class="Stars"></div>
          <img  class="profilePic" src="https://www.nicholscrowder.com.au/img/noprofile_lg.gif">
          <div class="camera">
            <i class="fas fa-camera" @click="choosePhoto()"></i>
            <input id="fileInput" type="file" style="display:none;" accept=".jpeg,.svg,.png,.jpg" @change="upload($event.target.files)"/>
          </div>
          <p>{{coachInfo.firstName}} {{coachInfo.lastName}}</p>
          <p class="status" v-if="coachInfo.accepted && !coachInfo.pending">State: <span style="color:green">Accepted</span></p>
          <p class="status" v-if="!coachInfo.accepted && coachInfo.pending">State: <span style="color:gold">Pending</span></p>
          <p class="status" v-if="!coachInfo.accepted && !coachInfo.pending">State: <span style="color:red">Rejected</span></p>
        </div>
        <div class="infoCard" @click="toggle()">
          <h3 class="firstH3 toOpen"><i class="fa fa-tags" aria-hidden="true"></i> Tags - Muscles</h3>
          <div class="accordion">
            <Multiselect class="mt-1 mb-3" v-if="load" @tagslist-changed="updateTagsList" :currentTrainerTags="coachInfo.muscles"/>
            <button class="action-button" @click=updateTags()>Save</button>
          </div>
          <h3 class="toOpen"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</h3>
          <div class="accordion"><a href="mailto:name@email.com">{{coachInfo.email}}</a></div>
          <h3 class="last"><i class="fa fa-envelope-o" aria-hidden="true"></i> Change password</h3>
          <div class="accordion">
            <fieldset>
              <PasswordField placeholderText="Insert old password" passwordChangedEventName="passwordchanged" @passwordchanged="oldPassword"/>
              <PasswordField placeholderText="Insert new password" passwordChangedEventName="passwordchanged" @passwordchanged="newPassword"/>
              <PasswordField class="copy" placeholderText="Reinsert new password" passwordChangedEventName="passwordchanged" @passwordchanged="newPasswordCopy"/>
              <button class="submit action-button" @click="updatePsw()">Save</button>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import axios from 'axios';
  import $ from 'jquery';
  import TrainersApi from '../services/TrainersApi';
  import Multiselect from '@/components/SignUpSignIn/Multiselect.vue';
  import PasswordField from '@/components/SignUpSignIn/PasswordField.vue'; // @ is an alias to /src
  import Muscle from '../models/Muscle';
  import Coach from '../models/Coach';


  @Component({
      components: {
          Multiselect,
          PasswordField,
      },
  })
  export default class CoachProfile extends Vue {
    private coachInfo: Coach;
    private trainerTags: number[];
    private muscles: number[];
    private error: boolean;
    private oldPsw: string;
    private newPsw: string;
    private copy: string;
    private load: boolean;
    constructor() {
      super();
      this.trainerTags = [];
      this.muscles = [];
      this.error = false;
      this.oldPsw = '';
      this.newPsw = '';
      this.copy = '';
      this.load = false;
      this.coachInfo = {
        _id: '',
        accepted: false,
        address: '',
        birthdate: '',
        email: '', ​
        firstName: '',
        lastName: '',
        profileImage: '',
        muscles: [],
        pending: true,
        rating: 0,
        trainerTags: [],
      };
    }

    private oldPassword(value: string) {
      this.oldPsw = value;
    }

    private newPassword(value: string) {
      this.newPsw = value;
      if (this.check()) {
        $('.copy').css('border', '2px solid green');
      } else {
        $('.copy').css('border', '2px solid red');
      }
    }

    private newPasswordCopy(value: string) {
      this.copy = value;
      if (this.check()) {
        $('.copy').css('border', '2px solid green');
      } else {
        $('.copy').css('border', '2px solid red');
      }
    }

    private check() {
      return this.copy === this.newPsw;
    }

    private updateTags() {
      if (this.muscles.length > 0) {
        TrainersApi.postInfo({
          trainerTags: this.trainerTags,
          muscles: this.muscles,
        });
        this.$router.go(0);
      }
    }

    // -------funzioni per foto profilo----------//

    private choosePhoto() {
      $('#fileInput').click();
    }

    private getBase64(file: any) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(this.onCorrectResult(reader.result));
        reader.onerror = (error) => reject(error);
      });
    }

    private onCorrectResult(obj: any) {
      TrainersApi.postInfo({
        profileImage: obj,
      }).then((r) => {
        $('.profilePic').attr('src', obj);
      })
      .catch((error) => {
        alert('Error');
      });
    }

    private upload(obj: any[]) {
      this.getBase64(obj[0]);
    }
    // -------funzioni per foto profilo----------//



    private updatePsw() {
      if (this.check() && this.newPsw) {

        this.error = false;
        TrainersApi.postInfo({
          oldPassword: this.oldPsw,
          password: this.newPsw,
        }).then((r) => {
          this.$router.go(0);
        })
        .catch((error) => {
          alert('Password errata');
        });
      }
    }


    private selectRequestPage() {
      this.$router.push('/selectRequest');
    }

    private coachPlanPage() {
      this.$router.push({ name: 'coachPlans', params: { coachId: this.coachInfo._id}});
    }

    private getInfo() {
      TrainersApi.getTrainerInfo().then((r: any) => {
        this.coachInfo = r.data;
        this.setParam();
      })
      .catch((error: any) => {
        console.log(error);
      });
    }

    private setParam() {
      if (this.coachInfo.profileImage !== '') {
        $('.profilePic').attr('src', this.coachInfo.profileImage);
      }
      this.setRating(this.coachInfo.rating);
      this.load = true;
      this.toggle();
    }

    private toggle() {
      $('h3').off('click').click(function() {
          $(this).next().slideToggle('500');
          $('.accordion').not($(this).next()).slideUp('500');
      });
    }

    private setRating(rating: number) {
      $('.Stars').css('--rating', rating);
    }

    private mounted() {
      this.getInfo();
    }

    private updateTagsList(updatedTagList: number[]) {
        this.trainerTags = updatedTagList;
        this.muscles = updatedTagList;
    }
  }
</script>

<style scoped lang="scss">
.Stars {
  --percent: calc(var(--rating)/5* 100%);
  display: inline-block;
  font-family: Times;
  line-height: 1;
  width:100%;
  font-size:290%;
}
.Stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, #fc1 var(--percent), #F1E9E9 var(--percent), #F1E9E9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.camera {
  margin-top:-30px;
  margin-left:120px;
  margin-bottom:2%;
}
.fa-camera {
  cursor:pointer;
}

i {
  font-size:120%;
}
h3 {
  font-size:120%;
}

@media screen and (min-width:700px) {
  .Stars {
    font-size:350%;
  }
}



@media screen and (min-width:1500px) {
  .camera {
    margin-top:-35px;
    margin-left:150px;
    margin-bottom:2%;
  }
}

@media screen and (min-width:1700px) {
  .camera {
    margin-top:-45px;
    margin-left:170px;
    margin-bottom:2%;
  }
}
</style>
<style lang="css" src="./coachProfileStyle.css" scoped />
