<template>
  <div>
    <div class="mobile">
      <b-tabs content-class="mt-3" justified>
        <b-tab title="Select Exercise" active>
          <div class="chooseRequest">
            <p><span @click="angle = !angle">Schedule {{scheduleIndex + 1}}<i v-if="!angle" class="fas fa-angle-down"></i><i v-if="angle" class="fas fa-angle-up"></i></span><i @click="addSchedule()" class="fas fa-plus"></i></p>
            <div class="schedules">
              <div class="schedule" v-for="schedule in plan.schedules" v-if="angle">
                <p><span @click="selectSchedule(plan.schedules.indexOf(schedule))">Schedule {{plan.schedules.indexOf(schedule) + 1}}</span><i  @click="deleteSchedule(schedule)"class="fas fa-trash"></i></p>
              </div>
            </div>
            <div class="mobileExercise" v-if="!angle">
              <select class="bootstrap-select-wrapper" @change="setSelectedExercise($event.target.value)">
                <option selected disabled>Select exercise</option>
                <option v-for="exercise in exercises" :value="exercise.exercise.name">{{exercise.exercise.name}}</option>
              </select>
            </div>
            <footer>
              <button class="action-button" v-if="!angle" v-on:click="completePlan()">Complete</button>
            </footer>
          </div>
        </b-tab>
        <b-tab title="Schedule Preview">
          <h1>Schedule {{scheduleIndex + 1}}</h1>
          <div v-if="plan.schedules.length>0">
            <div v-for="card in plan.schedules[scheduleIndex].cards">
              <div class="component--card position-in-page">
                <svg class="card__icon" id="Layer_2"  height="512" viewBox="0 0 128 128" width="512" xmlns="http://www.w3.org/2000/svg" data-name="Layer 2"><path d="m1.75 33.667h11.25v60.667h-11.25z" fill="#766d78"/>
                <path d="m13 33.667h11.25v60.667h-11.25z" fill="#544f56"/>
                <path d="m24.25 33.667h11.25v60.667h-11.25z" fill="#766d78"/>
                <path d="m115 33.667h11.25v60.667h-11.25z" fill="#766d78" transform="matrix(-1 0 0 -1 241.25 128)"/>
                <path d="m103.75 33.667h11.25v60.667h-11.25z" fill="#544f56" transform="matrix(-1 0 0 -1 218.75 128)"/>
                <path d="m92.5 33.667h11.25v60.667h-11.25z" fill="#766d78" transform="matrix(-1 0 0 -1 196.25 128)"/>
                <path d="m35.5 57.667h57v12.667h-57z" fill="#e6e6e6"/>
                <path d="m126.25 31.917h-33.75a1.749 1.749 0 0 0 -1.75 1.75v22.25h-26.75a1.75 1.75 0 0 0 0 3.5h26.75v9.166h-53.5v-9.166h7.083a1.75 1.75 0 0 0 0-3.5h-7.083v-22.25a1.75 1.75 0 0 0 -1.75-1.75h-33.75a1.75 1.75 0 0 0 -1.75 1.75v60.666a1.75 1.75 0 0 0 1.75 1.75h33.75a1.75 1.75 0 0 0 1.75-1.75v-22.25h53.5v22.25a1.749 1.749 0 0 0 1.75 1.75h33.75a1.749 1.749 0 0 0 1.75-1.75v-60.666a1.749 1.749 0 0 0 -1.75-1.75zm-122.75 3.5h7.75v57.166h-7.75zm11.25 0h7.75v57.166h-7.75zm19 57.166h-7.75v-57.166h7.75zm60.5-57.166h7.75v57.166h-7.75zm30.25 57.166h-7.75v-36.708a1.75 1.75 0 0 0 -3.5 0v36.708h-7.75v-57.166h7.75v9.208a1.75 1.75 0 0 0 3.5 0v-9.208h7.75z"/>
                <path d="m52.333 59.417h3.667a1.75 1.75 0 0 0 0-3.5h-3.667a1.75 1.75 0 0 0 0 3.5z"/>
                </svg>
                  <div class="card__title">
                    <h3>{{findExerciseById(card.exercise).name}} </h3>
                  </div>

                  <div class="card__table">
                    <div class="card__table__row row--title">
                      <span class="title"> Freq: {{findExerciseById(card.exercise).isTimed ? convertIntToMinute(card.amount) + " min" : card.amount + " times"}}</span>
                      <span class="title" v-if="findExerciseById(card.exercise).isWeightNeeded">Weight: {{card.weight}}kg</span>
                    </div>
                    <div class="card__table__row row--final">
                      <i @click="plan.schedules[scheduleIndex].cards.splice(plan.schedules[scheduleIndex].cards.indexOf(card),1)" class="fas fa-trash"></i>
                    </div>
                 </div>
              </div>
            </div>
          </div>
        </b-tab>
      </b-tabs>
    </div>


   <div class="desktop container-fluid">
     <div class="row">
       <div class="col-sm-2">
         <button @click="addSchedule()" class="action-button">Add Schedule</button>
         <div class="schedules">
           <div class="schedule" v-for="schedule in plan.schedules">
             <p class="sched"><span v-bind:id="'sched_' + plan.schedules.indexOf(schedule)" @click="selectSchedule(plan.schedules.indexOf(schedule))">Schedule {{plan.schedules.indexOf(schedule) + 1}}</span> <i class="fas fa-trash" @click="deleteSchedule(schedule)"></i></p>
           </div>
         </div>
         <button class="action-button complete" v-on:click="completePlan()">Complete</button>
       </div>
       <div class="col-sm-10">
         <div class="exercises">
           <div class="exercise" v-for="exercise in exercises" @mouseover="exercise.icon=true" @mouseleave="exercise.icon=false" @click="setSelectedExercise(exercise.exercise.name)">
             <CardExerciseMove :name="exercise.exercise.name" :isTimed="exercise.exercise.isTimed" :amount="0" :description="exercise.exercise.description"  :dataImage="exercise.exercise.exerciseImage" :hide="true" setEventName=""/>
           </div>
         </div>
       </div>
     </div>
     <div class="row preview" v-if="plan.schedules.length>0">
         <div v-for="card in plan.schedules[scheduleIndex].cards">
           <div class="component--card position-in-page">
               <div class="card__title">
                 <h3>{{findExerciseById(card.exercise).name}} </h3>
               </div>
               <div class="card__table">
                 <div class="card__table__row row--title">
                   <span class="title"> Freq: {{findExerciseById(card.exercise).isTimed ? convertIntToMinute(card.amount) + " min" : card.amount + " times"}}</span>
                   <span class="title kg" v-if="findExerciseById(card.exercise).isWeightNeeded">Weight: {{card.weight}}kg</span>
                 </div>
                 <div class="card__table__row row--final">
                   <i @click="plan.schedules[scheduleIndex].cards.splice(plan.schedules[scheduleIndex].cards.indexOf(card),1)" class="fas fa-trash"></i>
                 </div>
              </div>
           </div>
       </div>
     </div>
   </div>

   <div class="modal " id="myModal" role="dialog">
     <div class="modal-dialog modal-lg">
       <!-- Modal content-->
       <div class="modal-content">
         <div class="modal-header">
           <h4 class="modal-title">{{exerciseSelected.name}}</h4>
         </div>
         <div class="modal-body">
           <div class="descr">
             {{exerciseSelected.description}}<br/>
           </div>
           <div class="param">
             <input class="freq" v-if="exerciseSelected.isTimed"  type="time" name="duration"><br/>
             <input class="freq" placeholder="durata(ripetizioni)" v-if="!exerciseSelected.isTimed" type="number" name="duration"><br/>
             <input class="weight" placeholder="pesi(kg)" v-if="exerciseSelected.isWeightNeeded" type="number" name="duration"><br/>
           </div>
         </div>
         <div class="modal-footer">
           <button type="button" class="action-button" data-dismiss="modal" @click="addExercise(exerciseSelected)">Add</button>
         </div>
       </div>
     </div>
   </div>

  </div>
</template>

<script lang="ts">
 import Vue from 'vue';
 import Component from 'vue-class-component';
 import axios from 'axios';
 import TrainersApi from '../services/TrainersApi';
 import $ from 'jquery';
 import Exercise from '../models/Exercise';
 import CardExerciseMove from '../components/CardExerciseMove.vue';


 interface Card {
   exercise: number;
   amount: number;
   weight: number;
 }

 interface Schedule {
   cards: Card[];
 }

 interface Plan {
   planId: string;
   schedules: Schedule[];
 }

 interface ExtendedExercise {
  exercise: Exercise;
  icon: boolean;
}

 @Component({
   components: {
     CardExerciseMove,
   },
 })
 export default class CompletePlan extends Vue {

   private plan: Plan;
   private user: string;
   private scheduleIndex: number;
   private exercises: ExtendedExercise[];
   private exerciseSelected: Exercise;
   private angle: boolean;

  constructor() {
    super();
    this.exercises = [];
    this.scheduleIndex = 0;
    this.user = '';
    this.angle = false;
    this.exerciseSelected = {
      exerciseId: -1,
      name: '',
      description: '',
      isTimed: false,
      isMapNeeded: false,
      isWeightNeeded: false,
      muscles: [],
      exerciseImage: '',
    };
    this.plan = {
      planId: '',
      schedules: [],
    };
  }

  public completePlan() {
    TrainersApi.postPlan(this.plan).then((r) => {
      this.$router.push('/coachProfile');
    });
  }

  public addSchedule() {
    if (this.plan.schedules.length < 7) {
      this.plan.schedules.push({
         cards: [],
      });
    }
  }

  public deleteSchedule(schedule: Schedule) {
    if (this.plan.schedules.length > 1) {
      this.plan.schedules.splice(this.plan.schedules.indexOf(schedule), 1);
      this.selectSchedule(0);
    }
  }

  public selectSchedule(index: number) {
    this.angle = false;
    $('#sched_' + this.scheduleIndex).css('background-color', 'white');
    this.scheduleIndex = index;
    $('#sched_' + this.scheduleIndex).css('background-color', 'rgba(255,138,30,.2)');
  }

  public setSelectedExercise(name: string) {
      this.exerciseSelected = this.findByName(name, this.exercises);
      // da sistemare
      jQuery('#myModal').modal('show');
  }

  public addExercise(exercise: Exercise) {
    let tot;
    if ($('.freq').attr('type') === 'time') {
      tot = this.convertMinuteToInt(String($('.freq').val()));
    } else {
      tot = $('.freq').val();
    }
    this.plan.schedules[this.scheduleIndex].cards.push({
      exercise: exercise.exerciseId,
      amount: tot === '' || isNaN(Number(tot)) ? 0 : Number(tot),
      weight: Number($('.weight').val()),
    });
  }

  public findExerciseById(id: number) {
    for (const ex of this.exercises) {
      if (ex.exercise.exerciseId === id) {
        return ex.exercise;
      }
    }
    return {
      exerciseId: -1,
      name: '',
      description: '',
      isTimed: false,
    };
  }

  private convertMinuteToInt(text: string) {
    const res = text.split(':');
    return Number(res[0]) * 60 + Number(res[1]);
  }

  private convertIntToMinute(time: number) {
    const minute = Math.floor(time / 60);
    const second = time - (minute * 60);
    return minute + ':' + (second >= 10 ? + second : '0' + second);
  }

  private mounted() {
    this.plan.planId = this.$route.params.planId;
    this.user = this.$route.params.user;
    this.addSchedule();
    this.getExercises();
  }

  private getExercises() {
    const response = TrainersApi.getExercises();
    response.then((r) => {
      for (const v of r.data) {
        this.exercises.push({
          exercise: v,
          icon: false,
        });
      }
    })
    .catch((error) => {
      console.log(error);
    });
  }

  private findByName(name: string, exercises: ExtendedExercise[]): Exercise  {
    for (const ex of exercises) {
      if (ex.exercise.name === name) {
        return ex.exercise;
      }
    }
    return {
      exerciseId: -1,
      name: '',
      description: '',
      isTimed: false,
      isMapNeeded: false,
      isWeightNeeded: false,
      muscles: [],
      exerciseImage: '',
    };
  }
 }
</script>

<style scoped lang="scss">

  /*modal*/

  .modal-header {
    color: #F4623A;
    font-size:120%;
    border-bottom: 1px solid #F4623A;
  }

  .modal-body {
    border-bottom: 1px solid #F4623A;
  }
  .param input {
    width:80%;
    padding:1%;
  }

  .param input:first-child {
    margin-top:4%;
  }

  .modal-footer .action-button {
    width:30%;
  }

  .modal {
    top: 25%;
  }

  /*end modal*/

  .desktop {
    visibility:hidden;
    display:none;
  }

  .chooseRequest p {
    border-top:1px solid #F4623A;
    margin-top:4%;
    padding:3%;
    font-size:120%;
  }

  i {
    font-size:130%;
  }

  span i {
    margin-left:2%;
    font-size:110%;
  }


  .chooseRequest p:first-child {
    border-bottom:1px solid #F4623A;
  }


  .schedule p:first-child{
    border-top:0px solid #F4623A;

  }

  .fa-trash{
    color:red;
    margin:0 auto;
    cursor:pointer;
  }



  .fa-plus, .fa-trash{
    float:right;
  }

  .action-button {
    width:97%;
    padding:2%;
  }

  .mobileExercise {
    width:100%;
    margin-top:5%;
  }

  .mobileExercise select {
    width:100%;
    border-top:1px solid #F4623A;
    border-bottom:1px solid #F4623A;
    padding:3%;
    margin-top:8%;
    font-size:120%;
  }

  .component--card {
    width:90%;
    margin:0 auto;
    margin-top:12%;
  }

  .card__icon{
    border: 3px solid #FF8A1E;
    cursor: default;
    opacity: 1;
    margin-bottom:2%;
  }
  .card__icon:hover{
    border: 3px solid #FF8A1E;
    opacity: 1;
    transform: scale(1.0);
  }

  footer {
    position: fixed;
    bottom: 35px;
    width:100%;
  }


  @media screen and (min-width: 1000px) {
    .mobile {
      visibility:hidden;
      display:none;
    }

    .desktop {
      visibility:visible;
      display:block;
    }

    .fa-trash{
      float:none;
    }

    .col-sm-2 {
      border-right:0.5px solid lightgray;
      height:75vh;
      border-bottom: 0.5px solid lightgray;

    }

    .col-sm-10 {
      overflow-y: auto;
  		height:75vh;
      border-bottom: 0.5px solid lightgray;
    }

    .sched {
      width:100%;
      margin-top:20%;
      margin-bottom:4%;
      cursor:pointer;

    }

    .sched span {
      border: 0.5px solid #F4623A;
      margin-right:4%;
      padding:3.5%;
      font-size:110%;
      border-radius:10%;
      color: #F4623A;
    }

    #sched_0 {
      background-color: rgba(255,138,30,.2);
    }

    .sched span:hover {
      background-color: rgba(255,138,30,.2);
    }

    .exercise {
      display: inline-block;
      margin-left:3%;
      cursor:pointer;
    }

    .preview {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
    }

    .complete {
      position:absolute;
      bottom:0;
      width:80%;
      margin-left:-40%;
    }

    .component--card {
      margin-top:1%;
      padding-top:2%;
      padding-left:0.5%;
      padding-right:0.5%;
      height:15vh;
      width:350px;
      margin-left:10px;
      box-shadow:none;
      border: 0.5px solid lightgray;
    }
    .kg {
      margin-left:15%;
    }
    .card__title {
      width:100%;
      margin:0 auto;
      margin-top:3%;
      margin-bottom:0.5%;
    }
    .card__table__row {
      margin-bottom:-5%;
    }

    .fa-trash{
      float:right;
      margin-top:1%;
    }


  }





</style>
