<template>
    <b-container fluid>
        <b-tabs content-class="mt-3" justified>
            <b-tab title="Products" active>
                <ProductsCRUD />
            </b-tab>
            <b-tab title="Users">
                <UsersCRUD />
            </b-tab>
            <b-tab title="Muscles">
                <MuscleCRUD />
            </b-tab>
            <b-tab title="Achievements">
                <AchievementCRUD />
            </b-tab>
            <b-tab title="Exercises">
                <ExerciseCRUD />
            </b-tab>
        </b-tabs>
    </b-container>
</template>

<script lang="ts">
import Vue from 'vue';
import ProductsCRUD from '../components/CRUD/Product/ProductCRUD.vue';
import UsersCRUD from '../components/CRUD/User/UsersCRUD.vue';
import MuscleCRUD from '../components/CRUD/Muscle/MuscleCRUD.vue';
import AchievementCRUD from '../components/CRUD/Achievement/AchievementCRUD.vue';
import ExerciseCRUD from '../components/CRUD/Exercise/ExerciseCRUD.vue';
import Component from 'vue-class-component';

@Component({
    components: {
        ProductsCRUD,
        UsersCRUD,
        MuscleCRUD,
        AchievementCRUD,
        ExerciseCRUD,
    },
})
export default class CRUD extends Vue {
}
</script>