<template>

      <div id="muscoli-app" class="container-fluid">
			<div class="cont">
			  <div class="container">
				<h2 class="title"><img src="http://findicons.com/files/icons/2799/flat_icons/256/trophy.png">
				   LEADERBOARD</h2>
				<ol id="board" class="leaderboard">
					<li id="demo" class="rank profile-item" v-for="leader in userLead"  @click="showModal(leader)" data-toggle="modal">
  					<h2 class="name"> {{leader.firstName}}  {{leader.lastName}}</h2>
  					<small class="pts"> <span class="phoneHidden">Lv: </span>{{leader.level}}</small>
					</li>
				</ol>
			  </div>
			</div>


      <symbol id="progressVal">
        <svg class="progress" viewBox="0 0 170 170">
        <circle id="progressValue" class="progress__value" cx="85" cy="85" r="80" stroke-width="9" />
      </svg>
      </symbol>

      <transition name="fade" appear>
        <div class="modal-overlay"
             v-if="showMod"
             @click="showMod = false"></div>
      </transition>
      <transition name="pop" appear>
        <div class="content_modal profile_card"  role="dialog" v-if="showMod" v-bind:id="'modal' + leader.email">

          <div class="content">

          <div class="demo profilePic">
            <div class="progress-circle">
              <svg class="progress" viewBox="0 5 180 180">
                <use href="#progressVal"/>
              </svg>
            </div>
          </div>

          <h3 id="leaderEmail">{{leader.email}}</h3>

            <div class="ion-header-bar bar-stable">
                  <h1 class="subtitle">Achievements Details</h1>
                </div>
              <div class="ion-content">
                  <div class="divider-title text">Recent</div>
                  <span v-if="leader.achievements.length == 0"> There are no achievements </span>
                  <ul class="timeline">
                    <li v-for="achieved in leader.achievements">
                      <div class="timeline-thumb bg-color-white timeline-icon">
                        <div v-html="achieved.icon"></div>
                      </div>

                      <div class="timeline-item">
                        <h4>{{achieved.name}}</h4>
                        <p>{{achieved.description}}</p>
                      </div>
                      </li>

                  </ul>

              </div>
          </div>


        </div>

      </transition>






		</div>




</template>
<script src='https://rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js'></script>
  <script  src="./test.js">
  test1();
  </script>
<script lang="ts">

import Vue from 'vue';
import Component from 'vue-class-component';
import axios from 'axios';
import * as bootstrap from 'bootstrap';
import * as jquery from 'jquery';
import UserApi from '../services/UserApi';
import Achievement from '../models/Achievement';

interface UserLeaderboard {
	email: string;
	firstName: string;
	lastName: string;
	level: number;
  experience: number;
  profileImage: any;
	achievements: Achievement[];
}

@Component
export default class UserProfile extends Vue {
  private userLead: UserLeaderboard[] = [];
  private showMod: boolean = false;
  private leader: UserLeaderboard = {
    email : '',
    firstName : '',
    lastName : '',
    level : 0,
    profileImage: null,
    experience: 0,
    achievements: [],
  };

  constructor() {
    super();
    this.getLeaderboard();
  }

  public progress(value: number) {
    const progressValue =  $('#progressValue');
    const RADIUS = 80;
    const CIRCUMFERENCE = 2 * Math.PI * RADIUS;
    progressValue.css('strokeDasharray', CIRCUMFERENCE);

    const progress = value / 100;
    const dashoffset = CIRCUMFERENCE * (1 - progress);

    progressValue.css('strokeDashoffset', dashoffset);
  }

	public showModal(user: UserLeaderboard) {
    this.showMod = true;

    this.leader = user;
    const expTmp = this.leader.experience;
    const percTmp = (expTmp) / (10 * this.leader.level);
    const experience = percTmp * 100;

    this.progress(experience);

    // this.progress(this.leader.experience);
    const style = document.createElement('style');
    document.head.appendChild(style);

    if (user.profileImage != null) {
      (style!.sheet!  as CSSStyleSheet).insertRule('.profilePic{background: url(' + user.profileImage + ')!important; background-size:cover!important;}');
    } else {
      (style!.sheet!  as CSSStyleSheet).insertRule('.profilePic{background: url(https://www.nicholscrowder.com.au/img/noprofile_lg.gif)!important; background-size:cover!important;}');
    }

  }

    public getLeaderboard() {
      const resp = UserApi.getLeaderboard();
      resp.then((r: any) => {
        this.userLead = r.data;
      });
    }

    public closeModal(modal: number) {
       const progressValue =  $('.profile_card');
       progressValue.css('display', 'none');
    }

    private mounted() {
        this.progress (0);
    }

}





</script>






<style scoped lang="scss">

  .profile_card{
  	width:25em;
  	height:38.4em;
  	background:#FFF;
  	position:absolute;
  	left:0;
  	right:0;
  	bottom:0;
  	margin:auto;
  	border-radius:0.51em;
  	box-shadow:0px 5px 10px rgba(0,0,0,0.5);
    z-index: 999;
    top: 0px;
  	}

    .modal h1 {
      margin: 0 0 1rem;
    }

    .modal-overlay {
      content: '';
      position: absolute;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 998;
      background: #2c3e50;
      opacity: 0.6;
      cursor: pointer;
    }

.pts {
width:50px;
}

.cont {
display:flex;
}

.container{
  margin-top:2%;
 font-family:'helvetica';
  justify-content:center;

}
.title{
  margin:0;
  padding :20px 20px 20px 20px;
  line-height:18px;
  font-size:18px;
  padding-left:30px;
    background-color:#444;
  color: #fff;
  border-radius: 5px 5px 0px 0px
}
h2 img{
  vertical-align:bottom;
  text-align:center;
  height:25px
}
ol{list-style: none;
margin-top:0;
  margin-left:0;

}
.leaderboard{
  width:100%;
  display:flex-column;
  padding-bottom:10px;
  padding-left:0;
  border-radius:10px;
  text-align:center;
}
.rank{
  display: flex;
  background-color:#f4623A;
  padding:10px 10px 10px 10px;
  color: #fff;
  align-items:baseline;
  justify-content:space-between;
  border:1px solid rgba(255,255,255,0.1);
  text-align:center;
}

.name{margin:0;
  line-height:10px;
  font-size:16px;
  text-transform:uppercase;
  width:100%;

}
 .leaderboard li h2::before, .leaderboard li h2::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -11px;
  left: -9px;
  border-top: 10px solid #c24448;
  border-left: 10px solid transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  opacity: 0;
}
.leaderboard li::before {
  content: counter(leaderboard);
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #61d1d1;
  background: #eee;
  border-radius: 20px;
  text-align: center;
}
.leaderboard li {
  position: relative;
  z-index: 1;
  font-size: 14px;
  counter-increment: leaderboard;
  padding: 18px 10px 18px 50px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
          transform: translateZ(0) scale(1, 1);
}


/**********************************************************/
.close {
  width:100%;
  margin-bottom:0%;
  background-color: red;
  opacity: 0.75;
  margin-top: 0.86em;
  border-bottom-left-radius: 0.51em;
  border-bottom-right-radius: 0.51em;
}

.modal-content {
margin-top: 50%;
	width: 100%;
  heigth: auto;
  max-width: 320px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 40%;
  text-align: center;
}

li:hover {
  color: #4D90FE;
  cursor: pointer;
}




/*********************************************** PROFILE_NEW_CARD ********************/
@import url(https://fonts.googleapis.com/css?family=Roboto);

.content{
	width:25em;
	height:10em;
	}
.profilePic{
	width:11.5em;
	height:11.5em;
	margin:auto;
	margin-top:1em;
	background:url(../img/noprofile_lg.png);
	background-size:cover;
  background:red;
	border-radius:50%;
	box-shadow:0px 0px 0px 4pt #FFF;
	}
.profile_card h3{
color:#03315c;
font-family: 'Roboto', sans-serif;
text-align:center;
font-size:1.6em;
margin-bottom:0;
}
.profile_card h4{
color:#56013d;
font-family: 'Roboto', sans-serif;
text-align:center;
font-size:1em;
margin-top:0.5em;
}
.rates{
position:absolute;
width:25em;
height:8em;
bottom:-0.2em;
background:#f4623A;
border-bottom-left-radius: 0.51em;
border-bottom-right-radius: 0.51em;
overflow:hidden;
	}
.profile_card p{
	width:15em;
	height:5em;
	font-size:1.2em;
	margin:auto;
	font-family: 'Roboto', sans-serif;
	color:rgba(0,0,0,0.6);
	margin-top:2.5em;
	}
.box{
width:8.33333333333em;
height:8.33333333333em;
float:left;
overflow:hidden;
position:relative;
	}
svg{
position:absolute;
	}
.iconCon{
position:relative;
width:5em;
height:5em;
margin:auto;
z-index:999;
	}
.box h4{
color:#FFF;
font-size:2em;
margin-top:0;
z-index:999999;
	}
.iconCon .icon{
	width:3em;
height:3em;
left:0;
right:0;
top:0;
bottom:0;
margin:auto;
fill:#FFF;
z-index:999;
	}
.iconCon .ball{
	position:Absolute;
	width:1em;
height:1em;
left:0;
right:0;
top:0;
bottom:0;
margin:auto;
background:Red;
border-radius:50%;
transition:ease 0.5s;
	}
.h4h{
position:absolute;
left:0;
right:0;
margin:auto;
	}
.box:hover{
box-shadow:0px 0px 0px 1px rgba(0,0,0,0.3);
	}
.box:hover{
	cursor:pointer;
}

.svg_level, .svg_info, .svg_achievement {
width:50%;
top: 20%;
left:30%;
}

.proPage{
position:absolute;
top:1em;
height:3em;
width:3em;
	}
.ExitPage{
	left:1em;
	}
.homePage{
right:1em;
	}
.proPage .icon{
	height:2em;
width:2em;
left:0;right:0;top:0;bottom:0;margin:auto;
fill:#03315c;
	}
.proPage .icon:hover{
	fill:#1c69b0;
	cursor:pointer;

	}
.proPage:hover{

	}



/************* PROGRESS  ******/

.progress-circle:before {
  background: #000;
  border-radius: 10px;
  content: "";
  height: 3px;
  margin-left: 2px;
  position: absolute;
  margin-top:-4px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3px;
z-index: 2;
}


.progress {
  background-color: transparent;
  height:210px;
  width:200px;
  transform: rotate(-90deg);
  margin-top:-12px;
  margin-left:-2px;
}

.progress__value {
  fill: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.3s linear .1s;
  stroke: #47cf73;
  stroke-linecap: round;
  width:100%;
}


/****************** MEDIA QUERY *************/
#leaderEmail {
margin-top:20px;
}
.timeline-item p {

  width:50%;
}
.timeline-item > * {
font-size:100% !important;
}
@media (max-width: 768px) {
  .profile_card{
    width: 89%;
  }

  .content {

    width:100%;
  }

  profile_card {
    top:300px;
  }



}

@media (max-width: 480px) {
#leaderEmail {
font-size:120%;
}

.subtitle {
font-size:120%;
}
.profile_card {
  margin-top:35%;
}

}



@media (max-width: 350px) {
  .pts {
    width:auto;
  }
  .phoneHidden {
    display:none;
  }
}



</style>
