<template>
  <div>
    <h1> Approvazione Piano</h1>
    <div v-for="plan in plans">
      <div class="cont_plan">
        <svg style="display: none;">
          <symbol id="product-icon" viewBox="0 0 26.458 26.458">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 360 360" style="enable-background:new 0 0 360 360;" xml:space="preserve">
              <g id="XMLID_1004_">
                <path id="XMLID_1005_" style="fill:#DEDDE0;" d="M160,280v-30h20v-30h-20v-30h20v-50H0v190h180v-50H160z M130,300H30V170h100V300"/>
                <polygon id="XMLID_1008_" style="fill:#CDCDD0;" points="180,190 330,190 330,220 180,220 180,250 245,250 245,280 180,280
                  180,330 360,330 360,140 180,140 	"/>
                <polygon id="XMLID_1009_" style="fill:#FF9811;" points="260,90 260,110 180,110 180,140 360,140 360,90 	"/>
                <polygon id="XMLID_1010_" style="fill:#FFDA44;" points="180,110 100,110 100,90 0,90 0,140 180,140 	"/>
                <polygon id="XMLID_1011_" style="fill:#FFFFFF;" points="160,280 180,280 245,280 245,250 180,250 160,250 	"/>
                <polygon id="XMLID_1012_" style="fill:#FFFFFF;" points="160,220 180,220 330,220 330,190 180,190 160,190 	"/>
                <rect id="XMLID_1013_" x="30" y="170" style="fill:#ACABB1;" width="100" height="130"/>
                <path id="XMLID_1014_" style="fill:#565659;" d="M180,110h80V90V70h-40c0-22.092-17.908-40-40-40s-40,17.908-40,40h-40v20v20H180z"/>
              </g>
            </svg>
          </symbol>
        </svg>
        <!-- HTML structure in which the card display is nested in a wrapping container and built with simple markup -->
    <div class="component--card position-in-page">
      <!--  at the top of the card show an icon included in the SVG set -->
      <svg  class="card__icon">
        <use href="#product-icon"/>
      </svg>
      <div class="card__table__row row--title">
        <span>Allenatore</span>
      </div>
      <div class="planData">
        {{plan.compiledBy}}
      </div>
      <div class="card__table__row row--title">
        <span>Descrizione</span>
      </div>
      <div class="planData">
        {{plan.description}}
      </div>
      <div class="card__table" v-for="schedule in plan.schedules">
        <div class="card__table__row row--title">
          <span> Scheda {{plan.schedules.indexOf(schedule)}} </span>
        </div>
        <!--<div class="card__table__row">-->
        <div class="planData" v-for="card in schedule.cards">
            <span>  {{card.exercise.name}} per {{card.amount}} {{card.exercise.isTimed ? "minuti" : "volte"}}</span>
        </div>
       </div><!-- close table div -->
       <div class="card__table__row row--final">
         <button class="action-button confirm" @click="tryConfirm(plan)">Approva</button>
         <button class="action-button delete" @click="tryDelete(plan)">Rifiuta</button>
       </div>
     </div><!-- close component div  -->
   </div>
   <transition name="fade" appear>
     <div class="modal-overlay"
          v-if="modalVisible"
          @click="modalVisible = false">
    </div>
   </transition>
   <transition name="pop" appear>
     <div class="content_modal" role="dialog" v-if="modalVisible">
       <h1>Conferma operazione</h1>
       Sei sicuro di voler confermare l'operazione per il piano di {{plan.compiledBy}}?<br/>
       <button class="action-button confirm" style="margin-top:10%" @click="completeOperation()">Conferma</button>
       <button class="action-button delete" style="margin-top:10%" @click="modalVisible=false">Cancella</button>
     </div>
   </transition>

 </div>



  </div>
</template>
<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import axios from 'axios';
  import AdminApi from '../services/AdminApi';
  import TrainersApi from '../services/TrainersApi';


  interface Exercise {
    id: string;
    amount: number;
    name: string;
  }

  interface Schedule {
    cards: Exercise[];
  }

  interface Plan {
    associatedTo: string;
    compiledBy: string;
    approved: boolean;
    pending: boolean;
    schedules: Schedule[];
    stars: number;
    muscles: number[];
    trainerTags: number[];
    _id: string;
  }

  interface PlanAppr {
    planId: string;
    status: boolean;
  }


  @Component
  export default class PlanApprovation extends Vue {
    private plans: Plan[];
    private modalVisible: boolean;
    private confirm: boolean;
    private plan: Plan;
    private decision: PlanAppr;


    constructor() {
      super();
      this.plans = [];
      this.modalVisible = false;
      this.confirm = false;
      this.plan = {
        associatedTo: '',
        compiledBy: '',
        approved: false,
        pending: true,
        schedules: [],
        stars: 0,
        muscles: [],
        trainerTags: [],
        _id: '',
      };
      this.decision = {
        planId: '',
        status: false,
      };
    }

    public tryConfirm(p: Plan) {
      this.showModal(p);
      this.confirm = true;
    }

    public tryDelete(p: Plan) {
      this.showModal(p);
      this.confirm = false;
    }

    public completeOperation() {
      if (this.confirm) {
        this.confirmPlan(this.plan);
      } else {
        this.rejectPlan(this.plan);
      }
      this.modalVisible = false;
    }

    public findTrainerFromId(plan: Plan) {
      const response = TrainersApi.getTrainers();
      response.then((r) => {
        for (const v of r.data) {
          if (v._id === plan.compiledBy) {
            plan.compiledBy = v.firstName + ' ' + v.lastName;
          }
        }
        /*for (let i = 0; i < r.data.length; i++) {
          if (r.data[i]._id === plan.compiledBy) {
            plan.compiledBy = r.data[i].firstName + ' ' + r.data[i].lastName;
          }
        }*/
      })
      .catch((error) => {
        console.log(error);
      });

    }

    private mounted() {
      this.getPlans();
    }

    private confirmPlan(plan: Plan) {
      this.modalVisible = false;
      this.decision.planId = plan._id;
      this.decision.status = true;
      this.deleteFromList(plan);
      AdminApi.postValidatePlan(this.decision);
    }

    private rejectPlan(plan: Plan) {
      this.modalVisible = false;
      this.decision.planId = plan._id;
      this.deleteFromList(plan);
      AdminApi.postValidatePlan(this.decision);
    }

    private deleteFromList(plan: Plan) {
      this.plans.splice(this.plans.indexOf(plan), 1);
    }

    private showModal(p: Plan) {
      this.modalVisible = true;
      this.plan = p;
    }

    private getPlans() {
      const response = AdminApi.getPendingPlans();
      response.then((r) => {
        for (const v of r.data) {
          if (v.schedules.length > 0) {
            this.plans.push(v);
            this.findTrainerFromId(v);
          }
        }
        /*for (let i = 0; i < r.data.length; i++) {
          if (r.data[i].schedules.length > 0) {
            this.plans.push(r.data[i]);
            this.findTrainerFromId(r.data[i]);
          }
        }*/

      })
      .catch((error) => {
        console.log(error);
      });
    }
  }
</script>
<style scoped lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
  :root {
    --vertical-offset: -24px;
    --roll-in-animation: roll-in 0.7s ease-out forwards;
  }

  h1 {
   font-size:250%;
   margin: 1%;
   font-weight:700;
   color:#F4623A;
 }
  .content_modal button {
    width:30%;
  }

  .planData {
    margin:3%;
  }

  .action-button {
    margin:10%;
    width:35%;
  }

  .conifrm,.delete {
    margin:10%;
    width:35%;
  }

  .confirm {
    border: 1px solid darkgreen;
    color:green;
  }

  .confirm:hover {
    background-color:green;
    color:white;
  }

  .delete {
    border: 1px solid darkred;
    color:red;
  }

  .delete:hover {
    background-color:red;
    color:white;
  }

  .cont_plan {
    font-family: 'Open Sans', sans-serif;
    width:25%;
    float:left;
    margin:4%;
  }

  .component--card {
    margin-top: 3rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background:#FFF;
  	border-radius:0.51em;
  	box-shadow:0px 5px 10px rgba(0,0,0,0.5);

  }
  .card__icon {
    width: 84px;
    height: 84px;
    border-radius: 90%;
    box-shadow: 0 0.5rem 1.3rem rgba(48,88,127,0.15);
    margin-top: -36px;
    padding: 1rem;
    background-color: #fff;
  }


  .card__icon{
    display: block;
    border-radius: 50%;
    border: 3px solid #FF8A1E;
    cursor: pointer;
    opacity: .8;
  }
  .card__icon:hover{
    border: 3px solid #03fc3d;
    opacity: 1;
    transform: scale(1.1);
  }




  .card__title {
    --animation-delay: 0;
    margin: 1rem 0 2rem;
    line-height: 1.8;
    opacity: 0;
    transform: translateY(-24px);
    animation: roll-in 0.7s ease-out forwards;
    animation-delay: 1s;
  }
  .card__title h3 {
    text-transform: capitalize;
    font-size: 1.5rem;
    color: rgba(48,88,127,1);
  }
  .card__title p {
    color: rgba(48,88,127,0.8);
    font-size: 1.1rem;
  }

  .card__table {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card__table__row {
    width: 100%;
    display: flex;
    margin: 0.3rem 0;
    border-bottom: 1px solid rgba(48,88,127,0.1);
    line-height: 2;
    opacity: 0;
    transform: translateY(-24px);
    animation: roll-in 0.7s ease-out forwards;
  }
  .card__table__row:nth-of-type(1) {
    animation-delay: 0s;
  }
  .card__table__row:nth-of-type(2) {
    animation-delay: 0s;
  }
  .card__table__row:nth-of-type(3) {
    animation-delay: 0s;
  }
  .card__table__row:nth-of-type(4) {
    animation-delay: 0ss;
  }
  .card__table__row:nth-of-type(5) {
    animation-delay: 0s;
  }
  .card__table__row:nth-last-of-type(2) {
    border-bottom: none;
  }
  .card__table__row span {
    width: 0;
    flex-grow: 1;
    color: rgba(48,88,127,0.8);
    font-size: 1.1rem;
  }
  .card__table__row span:nth-of-type(1) {
    text-transform: capitalize;
  }
  .row--title span:nth-of-type(1) {
    text-transform: uppercase;
  }
  .row--title {
    text-transform: uppercase;
    border-width: 2px;
    border-color: rgba(48,88,127,0.4);
    line-height: 1.2;
  }

  .row--final {
    font-weight: bold;
    color: rgba(48,88,127,0.9);
    font-size: 1.15rem;
    border-bottom: none;
    margin: 2rem 0;
    border-top: 2px solid rgba(48,88,127,0.4);
    --vertical-offset: -2rem;
  }
  /*modal*/
  .content_modal {
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
    max-width: 22em;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    background: #FFF;
    z-index: 999;
    transform: none;
  }
 .content_modal h1 {
   font-size: 250%;
   font-weight: 700;
   color:#F4623A;
   margin-bottom:10%;
 }
 .modal-overlay {
  content: '';
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background: #2c3e50;
  opacity: 0.6;
  cursor: pointer;
 }
 /* ---------------------------------- */
 .fade-enter-active,
 .fade-leave-active {
  transition: opacity .4s linear;
 }

 .fade-enter,
 .fade-leave-to {
  opacity: 0;
 }

 .pop-enter-active,
 .pop-leave-active {
  transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;
 }

 .pop-enter,
 .pop-leave-to {
  opacity: 0;
  transform: scale(0.3) translateY(-50%);
 }

  /*end modal*/

  @keyframes roll-in {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  @media screen and (max-width: 800px) {
    .position-in-page {
      transform: perspective(0) rotateY(0) rotateZ(0);
    }
  }
  @media screen and (max-width: 500px) {
    .less-than-necessary {
      display: none;
    }
  }

  </style>
