<template>
  <div class="cont">

    <svg style="display: none;">
      <symbol id="product-icon" viewBox="0 0 26.458 26.458">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 360 360" style="enable-background:new 0 0 360 360;" xml:space="preserve">
        <g id="XMLID_1004_">
          <path id="XMLID_1005_" style="fill:#DEDDE0;" d="M160,280v-30h20v-30h-20v-30h20v-50H0v190h180v-50H160z M130,300H30V170h100V300z"/>
            <polygon id="XMLID_1008_" style="fill:#CDCDD0;" points="180,190 330,190 330,220 180,220 180,250 245,250 245,280 180,280
            180,330 360,330 360,140 180,140 	"/>
            <polygon id="XMLID_1009_" style="fill:#FF9811;" points="260,90 260,110 180,110 180,140 360,140 360,90 	"/>
            <polygon id="XMLID_1010_" style="fill:#FFDA44;" points="180,110 100,110 100,90 0,90 0,140 180,140 	"/>
            <polygon id="XMLID_1011_" style="fill:#FFFFFF;" points="160,280 180,280 245,280 245,250 180,250 160,250 	"/>
            <polygon id="XMLID_1012_" style="fill:#FFFFFF;" points="160,220 180,220 330,220 330,190 180,190 160,190 	"/>
            <rect id="XMLID_1013_" x="30" y="170" style="fill:#ACABB1;" width="100" height="130"/>
            <path id="XMLID_1014_" style="fill:#565659;" d="M180,110h80V90V70h-40c0-22.092-17.908-40-40-40s-40,17.908-40,40h-40v20v20H180z"
            />
          </g>
        </svg>
      </symbol>
    </svg>

    <h1 v-if="plans.length===0 && notPlanId === ''">No requests available</h1>
    <div v-if="!findPlanFromNotificationId()">
      <h1>You have already processed this request</h1>
      <button class="action-button" @click="resetNotificationValue">Back</button>
    </div>
    <div class="planDiv" v-if="plans.length>0" v-for="plan in plans">
      <div class="cont_plan">
        <!-- HTML structure in which the card display is nested in a wrapping container and built with simple markup -->
      <div class="component--card position-in-page"  v-if="notPlanId === '' || plan.plan._id === notPlanId">
        <!--  at the top of the card show an icon included in the SVG set -->
        <svg v-bind:class="'card__icon'" @click="resetNotificationValue()">
          <use href="#product-icon"/>
        </svg>

        <svg v-if="plan.plan._id === notPlanId" id="clickText" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
            <defs>
                <path id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
            </defs>
            <circle cx="150" cy="100" r="75" fill="none"/>
            <g>
                <use xlink:href="#circlePath" fill="none"/>
                <text fill="#000">
                    <textPath xlink:href="#circlePath">Click me!</textPath>
                </text>
            </g>
        </svg>

        <div class="card__title">
          <h3>User: {{plan.user}} </h3>
        </div>
        <div class="card__table">
          <div class="card__table__row row--title">
            <span class="title"> Muscles </span>
          </div>

        <div v-for="muscle in plan.plan.muscles" :muscle="muscle" :key="muscle.name" class="card__table__row">
          <span> #{{muscle.name}} </span>
        </div>
        <div class="card__table__row row--title" v-if="plan.plan.description !== ''">
          <span class="title">Description</span>
        </div>
        <div class="card__table__row" v-if="plan.plan.description !== ''">
          <span> {{plan.plan.description}} </span>
        </div>
        <div class="card__table__row row--final">
          <button class="action-button" @click="completePlan(plan)">Complete</button>
        </div>
      </div><!-- close table div -->
    </div><!-- close component div  -->
   </div>
  </div>
 </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import axios from 'axios';
  import TrainersApi from '../services/TrainersApi';
  import Schedule from '../models/Schedule';
  import Plan from '../models/Plan';
  import Coach from '../models/Coach';

  interface ExtendedPlan {
    plan: Plan;
    user: string;
  }

  @Component
  export default class SelectRequest extends Vue {

    private plans: ExtendedPlan[];
    private users: string[];
    private requestsSelected: ExtendedPlan[];
    private notPlanId: string;

    constructor() {
      super();
      this.plans = [];
      this.users = [];
      this.requestsSelected = [];
      this.notPlanId = '';
    }

    private findPlanFromNotificationId() {
      for (const plan of this.plans) {
        if (plan.plan._id === this.notPlanId) {
          return true;
        }
      }
      return this.notPlanId === '';
    }

    private selectRequest(username: string) {
      this.requestsSelected = [];
      for (const plan of this.plans) {
        if (plan.user === username) {
          this.requestsSelected.push(plan);
        }
      }
    }

    private completePlan(plan: ExtendedPlan) {
      this.$router.push({name: 'completePlan', params: { planId: plan.plan._id, user: plan.user }});
    }

    private setNotificationValue() {
      this.notPlanId = this.$route.params.planId === undefined ? '' : this.$route.params.planId;
      this.$bus.$on('selectRequest', (value: any) => {
        this.notPlanId = value;
      });
    }

    private resetNotificationValue() {
      this.notPlanId = '';
    }

    private mounted() {
      this.setNotificationValue();
      const r = TrainersApi.getPlans();
      const r1 = TrainersApi.getUsers();
      Promise.all([r, r1]).then((values) => {
        for (const v of values[0].data) {
          if (v.schedules.length === 0) {
            const tmp = {
              plan: v,
              user: '',
            };
            this.findUserById(tmp, values[1].data);
            this.plans.push(tmp);
          }
        }
      });
    }

    private findUserById(plan: ExtendedPlan, trainers: Coach[]) {
      for (const trainer of trainers) {
        if (trainer._id === plan.plan.associatedTo) {
          plan.user = trainer.firstName + ' '  + trainer.lastName;
          if (this.users.indexOf(plan.user) === -1) {
            this.users.push(plan.user);
          }
        }
      }
    }
}

</script>

<style scoped lang="scss">
  /*my custom*/
  #clickText {
    position: absolute;
    margin-top:-100px;
    z-index: -100;
    transform: rotate(52deg);
    width: 200px;
    height: 200px;
    font-size:130%;
  }

  .card__title {
    margin-top: 9%;
  }
  .cont_plan{
    width:100%;
    margin:0 auto;
  }

  .component--card {
    width:90%;
    margin:0 auto;
    margin-top:19%;
    margin-bottom:8%;
  }

  .action-button {
    margin:0 auto;
    margin-top:5%;
  }

  .card__icon {
    cursor: default;
  }

  .card__icon:hover {
  	border: 3px solid #FF8A1E;
  	opacity: .8;
  	transform: scale(1.0);
  }

  .card__table__row {
  	border:none;
  }

  .title {
  	border-bottom: 2px solid rgba(48,88,127,0.4);
  }

  .row--final {
  	border-top: 2px solid rgba(48,88,127,0.4);
  }

  /* end my custom*/



  @media screen and (min-width:700px) {

    #clickText {
      width: 300px;
      height: 300px;
      position: absolute;
      margin-top:-130px;
      z-index: -100;
      transform: rotate(60deg);
      font-size:100%;

    }

    .component--card {
      width:350px;
      margin-top:20%;
      margin-left: 20px;
    }
    .planDiv {
      display: inline-block;
    }
  }


    @media screen and (min-width:1000px) {

      .component--card {
        margin-top:20%;
      }
    }



</style>
