<template>
    <div class="col-md-6 col-xl-4 mx-auto mt-3">
        <b-tabs content-class="mt-3" justified v-model="tabIndex">
          <b-tab title="Login" :title-link-class="linkClass(0)">
               <Login/>
          </b-tab>

          <b-tab title="Register" active :title-link-class="linkClass(1)">
              <Register componentTitle="Account Register"/>
          </b-tab>
        </b-tabs>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Login from '@/components/SignUpSignIn/Login.vue';
import Register from '@/components/SignUpSignIn/Register.vue';
import Component from 'vue-class-component';
@Component({
    components: {
        Login,
        Register,
    },
})
export default class SignUpSignIn extends Vue {
    private tabIndex: number;
    constructor() {
        super();
        this.tabIndex = 0;
    }
    private linkClass(idx: number) {
        if (this.tabIndex === idx) {
          return ['text-dark'];
        } else {
          return ['text-secondary'];
        }
    }
}
</script>

<style scoped>
.tab-style {
    background-color: red !important;
    font-weight: bold !important;
}
.submit-style {
    background-color:white;
    color:black;
    border-color: #f4623a;
    border-width: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.submit-style:hover {
    background-color: #f4623a;
    color: white;
    border-color: #f4623a;
}
.submit-style:active {
  font-weight: bold;
}
</style>