<template>
  <div id="userPlan" class="container-fluid">
    <template>
        <div>

        <div class="planDiv" v-for="plan, key in watchablePlans" v-bind:value="plan.id">
          <PlanCard v-bind:id="'Plan' + plan._id" class="PlanCard" :data="plan" :planN="++key" :trainerName="getTrainerName(plan.compiledBy)" setPlanEventName="setPlan" @setPlan="setPlan" openModalEventName="openModal" @openModal="openModal"></PlanCard>
        </div>
        <div v-if="watchablePlans.length <= 0">
          <h1>There are no plans.</h1>
        </div>



          <div v-if="somethingSelected >0">

            <div class="singleCard" v-for="schedule, key in selectedCards" :schedule="schedule" :key="schedule._id">
              <div class="container">
                <div class="list">

                <h3><span>{{++key}}</span>Schedule: <a class="btn_def" >
                 <router-link :to="{ name: 'userPlanExecution', params: {scheduleToExecute: schedule, scheduleId: schedule._id} }">Start</router-link>
                </a>

                </h3>
                <ul v-for="card in schedule.cards" :card="card" >
                  <li v-if="card.exercise.isTimed"> {{card.exercise.name}} x {{getTime(card.amount)}}</li>
                  <li v-if="!card.exercise.isTimed"> {{card.exercise.name}} x {{card.amount}}</li>

                </ul>

                </div>
              </div>
            </div>
          </div>

          <div id="app">
          <transition name="fade" appear>
            <div class="modal-overlay"
                 v-if="showModal"
                 @click="showModal = false"></div>
          </transition>
          <transition name="pop" appear>
            <div class="content_modal" role="dialog" v-if="showModal">
              <h2>Review:</h2>

              <div class="rating rating2"><!--
                  --><a class="s5" @click="selectStar(5)" title="Give 5 stars">★</a><!--
                  --><a class="s4" @click="selectStar(4)" title="Give 4 stars">★</a><!--
                  --><a class="s3" @click="selectStar(3)" title="Give 3 stars">★</a><!--
                  --><a class="s2" @click="selectStar(2)" title="Give 2 stars">★</a><!--
                  --><a class="s1" @click="selectStar(1)" title="Give 1 star">★</a>
                </div>

              <div class="revButtons">
                <button class="action-button" @click=review()>Review</button>
                <button @click="showModal = false" class="secondButton action-button">Close</button>
              </div>
            </div>

          </transition>
        </div>

        </div>



    </template>
  </div>
</template>

<script lang="ts">

import Vue from 'vue';
import Component from 'vue-class-component';
import axios from 'axios';
import UserPlanApi from '../services/UserPlanApi';
import TrainersApi from '../services/TrainersApi';
import router from '../router';
import $ from 'jquery';
import PlanCard from '../components/Plan.vue';

import RecommendedProducts from '../components/RecommendedProducts/RecommendedProducts.vue';
import Product from '../models/Product';
import Plan from '../models/Plan';
import Schedule from '../models/Schedule';
import Card from '../models/Schedule';
import Exercise from '../models/Exercise';
import Coach from '../models/Coach';

@Component({components: {PlanCard, RecommendedProducts}})
export default class UserPlan extends Vue {
	private plans: Plan[];
  private watchablePlans: Plan[];
	private cards: Card[];
  private selectedStar: number = 0;
  private somethingSelected: number = 0;
  private cardNumber: number = 0;
  private justOnce: number = 0;
  private selectedReviewId: string = '';
  private trainers: Coach[] = [];
  private selectedPlan: Plan = {
    __v: 0,
    _id: '-1',
    approved: true,
    associatedTo: '',
    pending: false,
    trainerTags: [],
    schedules: [],
    rating: 0,
    muscles: [],
    isRated: false,
    description: '',
    compiledBy: '',
  };
  private selectedCards: Schedule[] = [];

  private showModal: boolean = false;

  constructor() {
  	super();
  	this.justOnce = 1;
  	this.plans = [];
  	this.cards = [];
  	this.watchablePlans = [];
  	this.listPlans();
  }

  public mounted() {
    this.$bus.$on('userPlan', (value: string) => {
    this.setNotificationPlan(value);
    });
  }

  public updated() {
    this.$nextTick(() => {
      if (this.justOnce === 1) {
        this.onUpdated();
        this.justOnce = 0;
      }
    });
  }

  public getTrainerName(id: string) {
    let fullName = '';
    for (const row of this.trainers) {
      if (row._id === id) {fullName = fullName + row.firstName + ' ' + row.lastName;  }
    }
    return fullName;

  }

  public onUpdated() {
    // console.log(this.watchablePlans)
    if (this.$route.params.planId !== undefined) {$('.card__icon').addClass( 'pulse' ); }
  }

  public findPlanFromStringId(id: string) {

    for (const row of this.plans) {
      if (row._id === id) {
      return row;
      }
    }
    return null;
  }

  public openModal(id: string) {
    this.showModal = true;
    this.selectedReviewId = id;
  }

  public setNotificationPlan(id: string) {
    if (this.somethingSelected > 0) {this.setPlan('-1'); }
    this.setPlan(id);
  }
  public setPlan(id: string) {
    if (this.somethingSelected === 0) {
      this.somethingSelected++;
      this.watchablePlans = [];
      for (const plan of this.plans) {
        if (plan._id === id) {this.watchablePlans.push(plan); }
      }
      $('.card__icon').addClass( 'pulse' );
    } else {
      this.somethingSelected--;
      $('.card__icon').removeClass( 'pulse' );
      this.watchablePlans = this.plans;
    }

    if (id !== '-1') {
      this.selectedPlan = this.findPlanFromStringId(id)!;
      if(this.selectedPlan !== null) {
        this.cardNumber = this.selectedPlan.schedules.length;
        const created = 0;
        this.selectedCards = this.selectedPlan.schedules;
      }
    }
  }

  public listPlans() {
    const resp = UserPlanApi.getPlan();
    resp.then((r) => {
      this.plans = r.data;
      this.watchablePlans = r.data;
      if (this.$route.params.planId !== undefined) {
        this.setNotificationPlan(this.$route.params.planId);
    }
    }).catch((error) => {
      console.log(error);
    });

    const resp2 = TrainersApi.getTrainers();
    resp2.then((r) => {
      this.trainers = r.data;
    }).catch((error) => {
      console.log(error);
    });
  }

  public selectStar(amount: number) {
    this.selectedStar = amount;
    for (let i = 1; i <= this.selectedStar; i++) {
      $( '.s' + i ).addClass( 'starClicked' );
    }
    for (let j = this.selectedStar + 1; j <= 5; j++) {
      $( '.s' + j ).removeClass( 'starClicked' );
    }
  }

  public review() {
    UserPlanApi.postReview(this.selectedStar, this.selectedReviewId);
    this.$emit('Rev' + this.selectedReviewId, this.selectedStar);
    this.showModal = false;
  }

  public moveToCard(id: string) {
    // this.$router.push('/userPlanExecution', query: { num: '' + id },);
    // console.log('start' + id);
    router.push({ path: '/userPlanExecution', params: { scheduleToExecute: '' + id }});
  }

  public getTime(val: number) {
    const res = val % 60;
    let min: string = '';
    if (res < 10) {
      min = min + '0';
    }
    min = min + res;
    return Math.floor(val / 60) + ':' + min;
  }

}

</script>

<style scoped lang="scss">
  .revButtons .secondButton {
    margin-left:10px;
  }
  .revButtons button {
    width:44%;
  }
  .rating{
    margin-bottom:5% !important;
  }
a { color: inherit; }

  html {
    height: 100%;
    background: #FFF;
    color: #000;
    font-size: 62.5%;
  }

  body {
    min-height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    font-size: 1.4rem;
  }

  .button {
    border: none;
    color: #FFF;
    background: #f4623A;
    appearance: none;
    font: inherit;
    font-size: 1.8rem;
    padding: .5em 1em;
    border-radius: .3em;
    cursor: pointer;
  }

  .button_sm {
    border: none;
    color: #FFF;
    background: #f4623A;
    appearance: none;
    font: inherit;
    font-size: 1.3rem;
    padding: .15em 0.4em;
    border-radius: .3em;
    cursor: pointer;
    margin-left:2%;
    width:47%;
  }

  .content_modal {
    position: absolute;
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    width: 300px;
    height: 250px;
    max-width: 22em;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    background: #FFF;
    z-index: 999;
    transform: none;
  }
  .modal h1 {
    margin: 0 0 1rem;
  }

  .modal-overlay {
    content: '';
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: #2c3e50;
    opacity: 0.6;
    cursor: pointer;
  }

  /* ---------------------------------- */
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .4s linear;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  .pop-enter-active,
  .pop-leave-active {
    transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;
  }

  .pop-enter,
  .pop-leave-to {
    opacity: 0;
    transform: scale(0.3) translateY(-50%);
  }




  /*********************** stelle *************************/
  /*
 * Rating styles
 */
.rating {
  width: 226px;
  margin: 0 auto 1em;
  font-size: 45px;
  overflow:hidden;
}

.rating a,
.rating label {
  float:right;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
}

.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
  color: orange;
  cursor: pointer;
}
.rating2 {
  direction: rtl;
}
.rating2 a {
  float:none
}

.starClicked {
  color: orange !important;

}

/********************** SCHEDE ******************/
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans');

$border-width:3px;
$border-color:#ddcaa0;

h1,h2,h3{
  font-family: 'Bree Serif', serif;
}

h1{
  margin:1em;
  margin-top:0;
  font-size:50px;
}
.container{
  text-align:center;
  padding:2em;
  padding-top:1em;

.list{
  display:inline-block;
  margin:0 1em;
  vertical-align:top;
position:relative;
  background:desaturate( darken(#fffdf4,6%), 15%);
  padding:20px;

  border-radius:10px;

	border-radius:0.51em;
	box-shadow:0px 5px 10px rgba(0,0,0,0.5);


h3{

text-align:left;
  span{
    background:#f4623A;
    display:inline-block;
    width:1.5em;
    height:1.5em;
    border-radius:50%;
    text-align:center;
    color:#fff;
    vertical-align:middle;
    line-height:1.4em;
     margin-right: 14px;
  }
  font-size:2rem;
}

ul,il{
  list-style:none;
}

ul{
  position:relative;
  &:before{
      border-left:$border-width $border-color dashed;
    width:2px;
    height:calc( 100% - 4px );
    content:'';
    position:absolute;
    left:0px;
    top:-5px;
    z-index: 1;
  }

  padding-left:1em;
  padding-top:3em;
  margin:1em;
  font-family: 'Open Sans', sans-serif;
  margin-top:-5px;
  margin-left:23px;

  li{
    position:relative;
    padding-left:10px;
    margin-left:13px;
    padding-top:14px;
    text-align:left;
    font-size:20px;
    &:before{
      content:'';
      width:19px;
      height:15px;
      position:absolute;
      left:-18px;
      top:7px;
      border-bottom:$border-width $border-color dashed;

    }
  }
}
  }}




.collapsable {
  width:100%;
}
.singleCard {
  width: 30%;
  padding:0;
  display: inline-block;
}


/************* MEDIA ******/
@media (max-width: 1380px) {

  .planDiv {
    width:40% !important;
    margin: 5% 4%;
    display: inline-block;
  }

}

@media (max-width: 1024px) {
  .singleCard {
    width: 100%;
    padding:0;
    display: block;
  }

  .planDiv {
    width:95% !important;
    margin-left:-2% !important;
    mergin-right:0 !important;
  }
  .container{
    margin-left:auto;
    margin-right:auto;
    padding-left:0;
    padding-right:0;
    width:100% !important;
    .list{
      width:94%;
      margin:0;
    }
  }
}


/********************** COMPONENT CSS *************/
.planDiv {
  width:25%;
  margin: 5% 4%;
  display: inline-block;
}
</style>
