<template>
  <div id="muscoli-app" class="container-fluid">
    <div class="row">
    <p class="subtitle"> Select the muscles you want to train </p>
      <ul class="taglist" v-for="muscolo in muscoli" :muscolo="muscolo" @update-muscolo="check">
        <li>
          <div v-bind:id="'MUSCLE_' + muscolo.muscleId" @click="check(muscolo.muscleId)" class="tag mint text classMuscle">{{ muscolo.name }}</div>
        </li>
      </ul>
      <Multiselect id="multiSelect" class="mt-1 mb-3" @tagslist-changed="checkAll" :currentTrainerTags="returnMuscles" />
    </div>


    <hr>

    <div class="trainerContainer">
    <p v-if="muscleSelected.length>0" class="subtitle"> Select a Coach for your plan </p>
    <div v-if="!someoneContains() && muscleSelected.length>0"> There are no trainers for that muscles. </div>
  <div v-for="allenatore in allenatori" v-if="itemsContains(allenatore.muscles)" :allenatore="allenatore" class="wrapper">
      <div class="card">
        <div class="headerCard">
          <img class="trainerImg" v-if="allenatore.profileImage.length > 0" @click="toggle(allenatore._id)" :src="allenatore.profileImage">
          <img class="trainerImg" v-if="!allenatore.profileImage.length > 0" @click="toggle(allenatore._id)" src="../img/noprofile_lg.png">

          <svg id="clickText" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
              <defs>
                  <path id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
              </defs>
              <circle cx="150" cy="100" r="75" fill="none"/>
              <g>
                  <use xlink:href="#circlePath" fill="none"/>
                  <text fill="#000">
                      <textPath xlink:href="#circlePath">Click me!</textPath>
                  </text>
              </g>
          </svg>

          <p class="text">{{allenatore.firstName}}  {{allenatore.lastName}}</p>
        </div><!-- end headerCard -->
        <div v-bind:id="'infoCard' + allenatore._id" class="infoCard">
            <h3 class="firstH3"><i class="fa fa-tags" aria-hidden="true"></i> Tags - Muscles</h3>
            <div class="accordion"> <span v-for="muscle in allenatore.muscles"> #{{muscle.name}}</span>
            </div>
            <h3><i class="fa fa-picture-o" aria-hidden="true"></i>Reviews</h3>
            <div v-if="allenatore.rating > 0" class="accordion">{{allenatore.rating}} / 5</div>
            <div  v-if="allenatore.rating <= 0" class="accordion">There are no reviews.</div>
            <h3><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</h3>
            <div class="accordion"><a class="text" v-bind:href="'mailto:' + allenatore.email">{{allenatore.email}}</a></div>
<button class="action-button" v-bind:id="'allenatore' + allenatore._id" @click.prevent="selectAllenatore(allenatore._id)" >Select</button>
        </div><!-- end infoCard -->
      </div><!-- end card -->
    </div> <!-- end wrapper-->
    </div>
<hr v-if="muscleSelected.length>0">
    <div id="root">
      <div class="card_final">
        <h2 class="subtitle">Final card</h2>
        <div class="wrap">
          <img class="img_request" src="../img/exercise.png">
      		<div class="right">
          <div id="msform">


            <div class="form-group input-group">
              <p class="text info trainerText" v-if="fullName.length>0" >Trainer: {{fullName}}</p>
              <p class="text info">Hours for each training session:</p>
                <input class="form-control"  v-model="timeReq" type="time" id="appt" name="appt" min="00:30" max="03:59" value="00:30" required>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="far fa-clock"></i> </span>
                </div>
            </div>


            <textarea id="description" class="text_a" v-model="newRequest.description" rows="4" cols="50" name="richieste">Richieste riguardo l'allenamento.</textarea>
            <p class="text">Total: 25.<sup>00</sup>€</p>
            <button class="action-button" @click="setRequest()" >Send</button>
          </div>


          </div>
      	</div>
      </div>
    </div>


  </div>
</template>
<script lang="ts">

import Vue from 'vue';
import Component from 'vue-class-component';
import PasswordField from '@/components/PasswordField.vue'; // @ is an alias to /src
import axios from 'axios';
import UserRequestApi from '../services/UserRequestApi';
import UserPlanApi from '../services/UserPlanApi';
import $ from 'jquery';
import Multiselect from '@/components/SignUpSignIn/Multiselect.vue';

import Muscle from '../models/Muscle';
import Coach from '../models/Coach';

Vue.component('muscolo', {
	props: ['muscolo'],
	methods: {
		testMe(id: number) {
			this.$emit('update-muscolo', id);
		},
	},

});


Vue.component('allenatore', {
	props: ['allenatore'],
	methods: {
		selectMe(id: number) {
			this.$emit('update-allenatore', id);
		},
	},

});


interface NewRequest {
  trainerId: string;
  timetables: string;
  description: string;
  muscles: number[];
  trainerTags: number[];
}

@Component({
    components: {
        Multiselect,
    },
})
export default class UserRequest extends Vue {
  private returnMuscles: Muscle[] = []
	private muscoli: Muscle[];
  private allenatori: Coach[];
	private allenatore: string;
	private muscleSelected: number[];
	private newRequest: NewRequest;
	private timeReq: string;
  private toggled: boolean = false;
  private fullName: string = '';

  constructor() {
      super();
      this.allenatore = '-1';
      this.muscoli = [];
      this.allenatori = [];
      this.timeReq = '';
      this.muscleSelected = [];
      this.newRequest = {
      trainerId : '',
      timetables: '',
      description : '',
      muscles : [],
      trainerTags : [],
  		};
    }

    getMusclesById(id: number) {
    for (const muscle of this.muscoli) {
      if (muscle.muscleId === id) {
       return muscle;
      }
    }
    return null;
    }

  public toggle(toBeToggle: string) {
      $('#infoCard' + toBeToggle).slideToggle('500');
      $('h3').off('click').click(function() {

          $(this).next().slideToggle('500');
          $('h3').css('background-color', 'rgba(254,254,254,.9)');
          const opacity = parseFloat($(this).css('background-color').split(',')[3].substr(0, $(this).css('background-color').split(',')[3].length - 1));
          if (opacity === 0.21) {
            $(this).css('background-color', 'rgba(254,255,255, .9)');
          } else {
            $(this).css('background-color', 'rgba(255,138,30,.21)');
          }

          $('.accordion').not($(this).next()).slideUp('500');

        });

      }

  public listTrainers() {
      const resp = UserRequestApi.getTrainers();
      resp.then((r) => {
        this.allenatori = [];
        for (const allenatore of r.data) {
          if (allenatore.accepted === true) {this.allenatori.push(allenatore); }
        }

      })
      .catch((error) => {
        console.log(error);
      });
    }

  public listMuscoli() {
      const response = UserRequestApi.getMuscles();
      response.then((r) => {
        this.muscoli = r.data;
      }).catch((error) => {
        console.log(error);
      });
    }

  public setRequest() {
			// this.newRequest.hour = this.timeReq.substring(0, 2);
			// this.newRequest.minute = this.timeReq.substring(3, 5);
      this.newRequest.trainerId = this.allenatore;
      this.newRequest.timetables = this.timeReq;
      this.newRequest.description = (document.getElementById('description') as HTMLInputElement).value;
      this.newRequest.muscles = this.muscleSelected;
      this.newRequest.trainerTags = this.muscleSelected;
      if (this.newRequest.trainerId !== '-1' && this.newRequest.timetables !== undefined && this.newRequest.description.length > 0 && this.newRequest.muscles.length > 0) {
        UserPlanApi.postRequestPlan(this.newRequest);
        alert('Your request has been sent, please wait till your coach creates your plan!');
        this.$router.push('/');
      } else {
        alert('Please, complete the request!');
      }
  }

  public deleteEvent(array: number[], id: number) {
      array.splice(array.indexOf(id), 1);
    }
    public deleteEventMuscle(array: Muscle[], id: Muscle) {
        array.splice(array.indexOf(id), 1);
      }

  public selectAllenatore(id: string) {
    if (this.allenatore === id) {
      this.allenatore = '-1';
      $( '#allenatore' + id ).html('Select');
      this.fullName = '';
    } else {
      this.allenatore = id;
      this.findName(id);
      $( '#allenatore' + id ).html('Deselect');
      for (const allenatore of this.allenatori) {
        if (allenatore._id !== id) {
         $( '#allenatore' + allenatore._id ).html('Select');
        }
      }
    }
  }

  public findName(id: string) {
    for (const allenatore of this.allenatori) {
      if (allenatore._id === id) {
       this.fullName = allenatore.firstName + ' ' + allenatore.lastName;
      }
    }
  }

  public checkAll(id: number[]) {
    console.log("IDDDDDD")
    console.log(id)

    $( '.classMuscle' ).removeClass( 'selected' );

    this.muscleSelected = id;

    for (const n of this.muscleSelected) {

      $( '#MUSCLE_' + n ).addClass( 'selected' );

    }
  }

  public check(id: number) {
    if (this.muscleSelected.indexOf(id) >= 0) {
      $( '#MUSCLE_' + id ).removeClass( 'selected' );
      this.deleteEventMuscle(this.returnMuscles, this.getMusclesById(id)!);
      this.deleteEvent(this.muscleSelected, id);
    } else {
      $( '#MUSCLE_' + id ).addClass( 'selected' );
      this.returnMuscles.push(this.getMusclesById(id)!)
      this.muscleSelected.push(id);
    }

  }

  public someoneContains() {

    for (const allenatore of this.allenatori) {
      const tmpGotAllMuscles = this.muscleSelected.slice();
      for (const row of allenatore.muscles) {
        if (tmpGotAllMuscles.includes(row.muscleId)) {
          this.deleteEvent(tmpGotAllMuscles, row.muscleId);
        }
      }
      if (this.muscleSelected.length > 0 && tmpGotAllMuscles.length === 0) {return true; }
    }
    return false;
  }

	 public itemsContains(array: Muscle[]) {
     const tmpGotAllMuscles = this.muscleSelected.slice();
     for (const row of array) {
       if (tmpGotAllMuscles.includes(row.muscleId)) {
         this.deleteEvent(tmpGotAllMuscles, row.muscleId);
       }
     }
     return this.muscleSelected.length > 0 && tmpGotAllMuscles.length === 0;

    }

  private mounted() {
      this.listTrainers();
      this.listMuscoli();
  }
}

</script>
<style lang="css" src="./coachProfileStyle.css" scoped></style>
<style scoped lang="scss">

.trainerImg {
width:150px;
height:143px;
}

#clickText {
width: 300px;
height: 300px;
position: absolute;
margin-top:-250px;
margin-left:-150px;
z-index: -1 !important;
transform: rotate(61deg);
font-weight: 100;
}


.img_request {
  width: 300px;
  height: 300px;
}

.text_a {
  width:100%;
}

/********************** ALLENATORE *******************/

/*card*/

.card{
  width:100%;
  margin: 0;
}

.headerCard{
  z-index: 2 !important;
}

.headerCard img{
  width: 20%;
  min-width: 150px;
  z-index: 5;
}

/*table*/
.infoCard {
    margin: 0 0px;
    display: none;
}


.infoCard .accordion:last-child{
  border-bottom: none;
}

/*end table*/

/************************* MUSCLE TAG **********/
.subtitle {
margin-bottom:20px;
}
.taglist {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.taglist li {
  display: inline-block;
  margin-right: 0.2rem;
}
.tag{
  padding: 0.3rem 1rem;
  border: 1px solid #8C8C8C;
  border-radius: 1rem;
  color: #8C8C8C;
  transition: all 0.3s ease;
  margin-bottom: 0.3rem;
  position: relative;
  margin-left:30px;
}
.tag.mint{
  border-color: #f4623A;
  color: #f4623A;
}
.tag.mint.selected{
  background: #f4623A;
  color: #fff;
}

/****************** FINAL CARD ************/
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css);

#root{
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;

}
.card_final{
  margin: 40px;
  background:#FFF;
	border-radius:0.51em;
	box-shadow:0px 5px 10px rgba(0,0,0,0.5);


  padding: 10px 40px;
}
.wrap{
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.right{
width:60%;
display: inline-block;
margin-left:10%;
}
.info {
  margin-top:10px;
  width: 100%;
}

input {
    border-radius: 10px;
    border: 2px solid #8c78cc;
    font-weight: 600;
    color: #3d2f71;
    padding-left: 15px;
    padding: 3px 3px 3px 10px;
}

input:focus{
  outline: none;
}

#multiSelect {
  display:none;
  width:90%;
  margin: 0 auto;
}
/********************** MEDIA QUERIES **************/
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 1000px) {
  .wrapper {
    width:40% !important;
  }
}


@media (max-width: 768px) {
.wrapper {
  width:100% !important;
  margin-left:-1%;
}

#root > * {
  margin:0;
}

.img_request {
  display:none;
}

.right {
  width:100%;
}

.card_img {
  width:70%;
}

.card_final{
  margin: 0px;
  padding: 10px 0px;
}

.taglist {
  display:none;
}

#multiSelect {
  display:block;
}

.right {
  margin-left:0px;
}

#clickText {
display:none;
}

}

</style>
