<template>

      <div class="container-fluid">


        <div id="cardExerciseMoveDiv" class="col-md-12">
          <div v-bind:id="'carouselPlan' + scheduleId" class="carousel carousell slide" data-ride="carousel" data-interval="0">

            <div v-if="!doneAll" class="carousel-inner">
              <div  v-for="(ex, index) in exercisesRow" :key="index" :class="['item', 'carousel-item', index==0 ? 'active' : '']">
                  <div class="row">
                    <div v-if="index != currentRecommRow || index == 0" :class="'col-sm-' + 12/exercisesRow[index].cards.length" v-for="card in ex.getProducts()" :key="card.id">
                      <CardExerciseMove :name="card.exercise.name" :isTimed="card.exercise.isTimed" :amount="card.amount" :description="card.exercise.description"  :dataImage="card.exercise.exerciseImage" setEventName="taskCompleted" @taskCompleted="taskCompleted"/>
                      </div>
                      <div v-if="index == currentRecommRow && index > 0" :class="'col-sm-' + 12/(exercisesRow[index].cards.length % 4)" v-for="card in ex.getProducts()" :key="card.id">
                        <CardExerciseMove :name="card.exercise.name" :isTimed="card.exercise.isTimed" :amount="card.amount" :description="card.exercise.description"  :dataImage="card.exercise.exerciseImage" setEventName="taskCompleted" @taskCompleted="taskCompleted" />
                      </div>
                  </div>
              </div>
            </div>
                <!-- Carousel controls -->
          <a id="leftC" class="carousel-control left carousel-control-prev" v-bind:href="'#carouselPlan' + scheduleId" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a id="rightC" class="carousel-control right carousel-control-next" v-bind:href="'#carouselPlan' + scheduleId" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>

        <button v-if="!doneAll" class="action-button" @click.prevent="done">Done</button>
        <button v-if="doneAll" class="action-button marginBot" @click.prevent="toUser">Back to the Profile</button>
      </div>



        <div id="todo" class="panel body">
          <h2 class="panel-title">Scheda</h2>

          <span v-if="doneAll" class="trigger scale" id="trigger"></span>
          <a @click.prevent="toUser" v-if="doneAll" href="#" class="button" id="btn_done"><span id="checkmark" class="checkmark"></span></a>
          <h1 v-if="doneAll" class="text__success" @click.prevent="toUser">Back to the Profile</h1>

          <div class="panel-content">
            <form>
              <fieldset>
                <ul class="tasks" v-for="card in scheduleToExecute.cards" :card="card">
                    <li class="task">
                      <input @click="taskCompleted(card.exercise.name)" type="checkbox" name="todo-tasks" v-bind:id="card.exercise.name" />
                      <label v-if="card.exercise.isTimed" v-bind:for="card.exercise.name">{{card.exercise.name}} x {{getTime(card.amount)}}<span class="line-through"></span></label>
                      <label v-if="!card.exercise.isTimed" v-bind:for="card.exercise.name">{{card.exercise.name}} x {{card.amount}}<span class="line-through"></span></label>
                    </li>

                </ul>
              </fieldset>

            </form>
          </div>
          <button class="action-button" @click.prevent="done">Done</button>
        </div>




        <div class="frame">
          <div class="watch">
            <div class="topContainer">
              <div class="day"></div>
              <div class="date"></div>
            </div>
            <div class="midContainer">
              <div class="time"></div>
            </div>
            <div class="bottomContainer">
              <div class="heartRate">
                <div class="heart">♥️</div>
                <div id="beat" class="rate">81</div>

              </div>
              <div class="calorie">1248 kcal</div>
            </div>
            <div class="bottomContainer2">
              <svg height="22pt" viewBox="0 0 512 512" width="22pt" xmlns="http://www.w3.org/2000/svg"><path d="m286 512c-86.019531 0-156-69.980469-156-156v-81c0-8.285156 6.714844-15 15-15s15 6.714844 15 15v81c0 69.476562 56.523438 126 126 126s126-56.523438 126-126v-161c0-8.285156 6.714844-15 15-15s15 6.714844 15 15v161c0 86.019531-69.980469 156-156 156zm0 0" fill="#485959"/><path d="m275 290h-260c-8.285156 0-15-6.714844-15-15v-260c0-8.285156 6.714844-15 15-15h260c8.285156 0 15 6.714844 15 15v260c0 8.285156-6.714844 15-15 15zm0 0" fill="#00d7df"/><path d="m275 0h-130v290h130c8.285156 0 15-6.714844 15-15v-260c0-8.285156-6.714844-15-15-15zm0 0" fill="#00c7ce"/><path d="m145 230c-46.867188 0-85-38.132812-85-85s38.132812-85 85-85 85 38.132812 85 85-38.132812 85-85 85zm0 0" fill="#fc0023"/><path d="m230 145c0-46.867188-38.132812-85-85-85v170c46.867188 0 85-38.132812 85-85zm0 0" fill="#c9001c"/><path d="m427 180c-8.285156 0-15 6.714844-15 15v161c0 69.476562-56.523438 126-126 126v30c86.019531 0 156-69.980469 156-156v-161c0-8.285156-6.714844-15-15-15zm0 0" fill="#3f4a4a"/><path d="m145 90c-30.328125 0-55 24.671875-55 55s24.671875 55 55 55 55-24.671875 55-55-24.671875-55-55-55zm0 0" fill="#e1ebf0"/><path d="m200 145c0-30.328125-24.671875-55-55-55v110c30.328125 0 55-24.671875 55-55zm0 0" fill="#cde1e6"/><path d="m145 160c-8.285156 0-15-6.714844-15-15v-20c0-8.285156 6.714844-15 15-15s15 6.714844 15 15v20c0 8.285156-6.714844 15-15 15zm0 0" fill="#485959"/><path d="m160 145v-20c0-8.285156-6.714844-15-15-15v50c8.285156 0 15-6.714844 15-15zm0 0" fill="#3f4a4a"/><path d="m286 452c-3.820312 0-7.640625-1.449219-10.5625-4.347656l-51.214844-50.789063c-17.589844-17.589843-17.589844-46.136719-.042968-63.683593 16.949218-16.949219 44.171874-17.523438 61.820312-1.722657 17.644531-15.800781 44.867188-15.226562 61.816406 1.722657 17.546875 17.546874 17.546875 46.09375 0 63.640624l-51.253906 50.832032c-2.921875 2.898437-6.742188 4.347656-10.5625 4.347656zm0 0" fill="#fc0023"/><path d="m347.820312 333.179688c-16.953124-16.949219-44.175781-17.523438-61.820312-1.722657v120.542969c3.820312 0 7.640625-1.449219 10.5625-4.347656l51.257812-50.832032c17.542969-17.546874 17.542969-46.09375 0-63.640624zm0 0" fill="#c9001c"/><path d="m427 210c-23.429688 0-45.210938-11.417969-61.339844-32.152344-15.257812-19.617187-23.660156-45.488281-23.660156-72.847656s8.402344-53.230469 23.660156-72.847656c16.128906-20.734375 37.910156-32.152344 61.339844-32.152344s45.210938 11.417969 61.339844 32.152344c15.257812 19.617187 23.660156 45.488281 23.660156 72.847656s-8.402344 53.230469-23.660156 72.847656c-16.128906 20.734375-37.910156 32.152344-61.339844 32.152344zm0 0" fill="#fc0023"/><path d="m488.339844 32.152344c-16.128906-20.734375-37.910156-32.152344-61.339844-32.152344v210c23.429688 0 45.210938-11.417969 61.339844-32.152344 15.257812-19.617187 23.660156-45.488281 23.660156-72.847656s-8.402344-53.230469-23.660156-72.847656zm0 0" fill="#c9001c"/></svg> <span id="pres">44</span>
            </div>
            <div class="innerDot innerDot0"></div>
            <div class="innerDot innerDot1"></div>
            <div class="innerDot innerDot2"></div>
            <div class="innerDot innerDot3"></div>
            <div class="innerDot innerDot4"></div>
            <div class="innerDot innerDot5"></div>
            <div class="innerDot innerDot6"></div>
            <div class="innerDot innerDot7"></div>
            <div class="innerDot innerDot8"></div>
            <div class="innerDot innerDot9"></div>
            <div class="innerDot innerDot10"></div>
            <div class="innerDot innerDot11"></div>
            <div class="innerDot innerDot12"></div>
            <div class="innerDot innerDot13"></div>
            <div class="innerDot innerDot14"></div>
            <div class="innerDot innerDot15"></div>
            <div class="innerDot innerDot16"></div>
            <div class="innerDot innerDot17"></div>
            <div class="innerDot innerDot18"></div>
            <div class="innerDot innerDot19"></div>
            <div class="innerDot innerDot20"></div>
            <div class="innerDot innerDot21"></div>
            <div class="innerDot innerDot22"></div>
            <div class="innerDot innerDot23"></div>
            <div class="innerDot innerDot24"></div>
            <div class="innerDot innerDot25"></div>
            <div class="innerDot innerDot26"></div>
            <div class="innerDot innerDot27"></div>
            <div class="innerDot innerDot28"></div>
            <div class="innerDot innerDot29"></div>
            <div class="innerDot innerDot30"></div>
            <div class="innerDot innerDot31"></div>
            <div class="innerDot innerDot32"></div>
            <div class="innerDot innerDot33"></div>
            <div class="innerDot innerDot34"></div>
            <div class="innerDot innerDot35"></div>
            <div class="innerDot innerDot36"></div>
            <div class="innerDot innerDot37"></div>
            <div class="innerDot innerDot38"></div>
            <div class="innerDot innerDot39"></div>
            <div class="innerDot innerDot40"></div>
            <div class="innerDot innerDot41"></div>
            <div class="innerDot innerDot42"></div>
            <div class="innerDot innerDot43"></div>
            <div class="innerDot innerDot44"></div>
            <div class="innerDot innerDot45"></div>
            <div class="innerDot innerDot46"></div>
            <div class="innerDot innerDot47"></div>
            <div class="innerDot innerDot48"></div>
            <div class="innerDot innerDot49"></div>
            <div class="innerDot innerDot50"></div>
            <div class="innerDot innerDot51"></div>
            <div class="innerDot innerDot52"></div>
            <div class="innerDot innerDot53"></div>
            <div class="innerDot innerDot54"></div>
            <div class="innerDot innerDot55"></div>
            <div class="innerDot innerDot56"></div>
            <div class="innerDot innerDot57"></div>
            <div class="innerDot innerDot58"></div>
            <div class="innerDot innerDot59"></div>
            <div class="innerDot innerDot60"></div>
            <svg class="innerLine" width="200" height="200" viewBox="0 0 200 200">
              <circle class="redLine" cx="100" cy="100" r="98" fill="none" stroke="#dc143c" stroke-width="4"></circle>
            </svg>
          </div>
        </div>
  <div id="container"></div>




<div id="noticeSpace">

</div>


<!-- User tracking map -->
<span v-if="isMapNeeded && !doneAll"><Map :enableMonitoring="trackingUser" /></span>

</div>





</template>



<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import axios from 'axios';
import UserPlanApi from '../services/UserPlanApi';
import UserAchievementApi from '../services/UserAchievementApi';
import Highcharts from 'highcharts';
import {TimelineLite, Back} from 'gsap';
import $ from 'jquery';
import Map from '../components/Map.vue';
import CardExercise from '../components/CardExercise.vue';
import CardExerciseMove from '../components/CardExerciseMove.vue';
import { Prop } from 'vue-property-decorator';
import UserApi from '../services/UserApi';


import Schedule from '../models/Schedule';
import Card from '../models/Schedule';
import Exercise from '../models/Exercise';

interface ExerciseCompleted {
  exerciseId: number;
  amount: number;
}


class ExerciseRow {
	// If you change this value you shoud also change boostrap cols sizes!!
    private readonly maxForRow = 4;
    private cards: Card[];
    constructor() {
        this.cards = [];
    }
    public addExercise(card: any) {
        this.cards.push(card);
        return this.isFull();
    }
    public getProducts() {
        return this.cards;
    }
    public isFull() {
        return this.cards.length === this.maxForRow;
    }
}

@Component({
  components: {
    Map,
    CardExerciseMove,
  },
})
export default class UserPlanExecution extends Vue {
@Prop(Object) private scheduleToExecute!: Schedule;
@Prop(String) private scheduleId!: string;
	private id: number;
  private exercisesRow: ExerciseRow[] = [];
  private exerciseSelected: string[];
  private doneAll: boolean = false;
  private noticeNumber: number = 0;
  // Enable map tracking if true
  private trackingUser: boolean;
  private lev: number = 1;
  private exp: number = 0;
  private isMapNeeded: boolean = false;
  private currentRecommRow: number = 0;

  constructor() {
    super();


    this.id = 1;
    this.exerciseSelected = [];
    this.isMapNeeded = this.anyMapNeeded();
    for (const row of this.scheduleToExecute.cards) {
      this.exerciseSelected.push(row.exercise.name + '');
    }

    // At the start it shoudn't track
    this.trackingUser = false;
    this.listUserInfos();



      }

  public toUser() {
    if (this.doneAll) {this.$router.push('/user'); }
  }

  public anyMapNeeded() {
    for (const row of this.scheduleToExecute.cards) {
      if (row.exercise.isMapNeeded) {
        return true;
      }
    }
    return false;
  }

  public getTime(val: number) {
    const res = val % 60;
    let min: string = '';
    if (res < 10) {
      min = min + '0';
    }
    min = min + res;
    return Math.floor(val / 60) + ':' + min;
  }

  public listUserInfos() {
    const resp = UserApi.getUserInfo();
    resp.then((r: any) => {
            this.lev = r.data.level;
            this.exp = r.data.experience;
        })
        .catch((error: any) => {
            console.log(error);
        });
  }

  public deleteEvent(array: string[], id: string) {
    array.splice(array.indexOf(id), 1);
  }

  public taskCompleted(exercise: string) {

    if (this.exerciseSelected.indexOf(exercise) >= 0) {
      this.deleteEvent(this.exerciseSelected, exercise);
    } else {
      this.exerciseSelected.push(exercise);
    }

    for (const row of this.scheduleToExecute.cards) {
      if (this.exerciseSelected.includes(row.exercise.name)) {
        (document.getElementById(row.exercise.name) as HTMLInputElement).checked = false;
        (document.getElementById('p2' + row.exercise.name) as HTMLInputElement).style.border = 'none';
        (document.getElementById('p2' + row.exercise.name) as HTMLInputElement).style.boxShadow = 'rgba(0, 0, 0, 0.66) 0 15px 30px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px';

      } else {
        (document.getElementById(row.exercise.name) as HTMLInputElement).checked = true;
        (document.getElementById('p2' + row.exercise.name) as HTMLInputElement).style.border = '1px solid #49eb34';
        (document.getElementById('p2' + row.exercise.name) as HTMLInputElement).style.boxShadow = 'rgba(0, 0, 0, 0.66) 0 15px 30px 0, inset #333 0 0 0 5px, inset rgba(73, 235, 52, 0.5) 0 0 0 6px';

      }
    }
  }

  public closeNotice() {
    const noticeTl = new TimelineLite();
    noticeTl.to('#notice', .5, {
      scale: 0,
      delay: 0.1,
      ease: Back.easeIn.config(1),
    });
  }

  public openNotice(svg: string, title: string, description: string) {
    const elementNotice = '' + this.noticeNumber;
    $( '#noticeSpace' ).append( '<div data-v-ea8449cc id="notice' + elementNotice + '" class="notice"><div data-v-ea8449cc class="svgImg" id="svg_div' + elementNotice + '"></div><span data-v-ea8449cc id="notice-title" class="notice-title" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">' + title + '</span><span data-v-ea8449cc id="notice-desc" class="notice-desc" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">' + description + '</span></div>' );
    $( '#svg_div'   + elementNotice).html(svg);
    $('#notice'  + elementNotice).click(function() {
      const noticeTl2 = new TimelineLite();
      noticeTl2.to('#notice'  + elementNotice, .5, {
        scale: 0,
        delay: 0.1,
        ease: Back.easeIn.config(1),
      });
    });
    const notice = document.getElementById('notice'  + elementNotice);
    const noticeTitle = document.getElementById('notice-title');
    const noticeDesc = document.getElementById('notice-desc');
    const noticeTl = new TimelineLite();
    const trophyTl = new TimelineLite();
    const labelsTl = new TimelineLite();

    noticeTl.to('#notice' + elementNotice, .5, {
      scale: 1,
      ease: Back.easeOut.config(2),
      onComplete() {
        trophyTl.to('#trophy-icon', .4, {
        scale: 1.4,
        ease: Back.easeOut.config(4),
        y: '-50%',
        // onComplete: closeNotice
        });
        labelsTl.staggerTo([noticeTitle, noticeDesc], .4, {
        opacity: 1,
        x: 0,
        delay: .3,
      }, .1);
      },
      });
    this.noticeNumber++;
  }


  public done() {
    const exercisesDone: ExerciseCompleted[] = [];
    if (this.exerciseSelected.length === 0) {
      let points: number = 0;
      for (const card of this.scheduleToExecute.cards) {
        if (card.exercise.isTimed) {
          points += card.amount / 15;
        } else {
          points += card.amount;
        }
        const exerciseTmp: ExerciseCompleted = {
          exerciseId: card.exercise.exerciseId,
          amount: card.amount,
   	    };
        exercisesDone.push(exerciseTmp);
      }

      let newExp = this.exp + Math.floor(points);
      let tmpLevel = this.lev;
      while (newExp > (10 * tmpLevel)) {
        newExp -= 10 * tmpLevel;
        tmpLevel++;
      }
      // alert("Old: " + this.lev + " exp: " + this.exp + " New: " + tmpLevel + " exp: " + newExp)
      // console.log(this.scheduleToExecute.cards);
      // console.log(exercisesDone);
      let vals: any[] = [];
      UserPlanApi.postCompletePlan(exercisesDone, newExp, tmpLevel).then((r: any) => {

        vals = r.data.newAchievements;
        for (const achieved of r.data.newAchievements) {
          this.openNotice(achieved.icon, achieved.name, achieved.description);
        }

      })
      .catch((error: any) => {
        console.log(error);
      });
      this.doneAll = true;

      } else {
        alert('Completa la scheda per continuare!');
    }

  }

  public setCarousel() {
    let newRow = false;
    for (const row of this.scheduleToExecute.cards) {
      if (newRow) {this.currentRecommRow++; }
      if (this.exercisesRow[this.currentRecommRow] == null) {
        this.exercisesRow.push(new ExerciseRow());
      }
      newRow = this.exercisesRow[this.currentRecommRow].addExercise(row);
    }

    if (this.currentRecommRow === 0) {
      $('#leftC').addClass( 'hidden' );
      $('#rightC').addClass( 'hidden' );
    }
  }


    private mounted() {
      this.setCarousel();
      
      const $delay = 2000;
      const totalPoints = 25;
      function getRandomInt(min: number, max: number) {
        const reading = (Math.random() * (max - min + 1) + min);
        return (Math.round(reading * 2) / 2);
      }
      function displayValues(d: number[]) {
        updateBeat(d[0]);
        updatePressure(d[1]);
      }

      const $beatDisplay = $('#beat');
      const $pressureDisplay = $('#pres');

      function updateBeat(value: number) {
        const str = '' + value;
        $beatDisplay.html(str.split('.')[0]);
      }

      function updatePressure(value: number) {
        const str = '' + value;
        $pressureDisplay.html(str.split('.')[0]);
      }

      Highcharts.setOptions({
          global: {
            useUTC: false,
          },
          plotOptions: {
            series: {
              marker: {
                enabled: false,
              },
            },
          },
          tooltip: {
            enabled: false,
          },
        });

      Highcharts.chart('container', {
        chart: {
          type: 'spline',
          events: {
            load() {
              const beat = this.series[0];
              const pressure = this.series[1];
              let x;
              // faking sensor data
              // data will be coming from sensors on the MKR1000
              if (screen.width > 768) {

              setInterval(function() {
                x = (new Date()).getTime();
                const beatValue = getRandomInt(75, 120);
                const presValue = getRandomInt(80, 150);

                beat.addPoint([x, beatValue], false, true);
                pressure.addPoint([x, presValue], true, true);

                displayValues([beatValue, presValue]);


              }, 2000);
            }
            },
          },
        },

    title: {
        text: 'Real-time Bracelet Data',
    },
    xAxis: {
      type: 'datetime',
      tickPixelInterval: 500,
    },
    yAxis: [{
      title: {
        text: 'bpm',
        style: {
          color: '#2b908f',
          font: '13px sans-serif',
        },
      },
      min: 70,
      max: 160,
      plotLines: [{
        value: 0,
        width: 1,
        color: '#808080',
      }],
    }, {
      title: {
        text: 'mmHg',
        style: {
          color: '#90ee7e',
          font: '13px sans-serif',
        },
      },
      min: 70,
      max: 160,
      opposite: true,
      plotLines: [{
        value: 0,
        width: 1,
        color: '#808080',
      }],
    }],
    legend: {
        enabled: true,
    },

    series: [{
        name: 'Beat',
        type: 'spline',
        data: (function() {
          // generate an array of random data
          const data = [];
          const time = (new Date()).getTime();
          let i;

          for (i = -totalPoints; i <= 0; i += 1) {
            data.push({
              x: time + i * $delay,
              y: getRandomInt(75, 75),
            });
          }
          return data;
        }()),
    }, {
        name: 'Pressure',
        type: 'spline',
        data: (function() {
          // generate an array of random data
          const data = [];
          const time = (new Date()).getTime();
          let i;

          for (i = -totalPoints; i <= 0; i += 1) {
            data.push({
              x: time + i * $delay,
              y: getRandomInt(80, 80),
            });
          }
          return data;
        }()),
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500,
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom',
                },
            },
        }],
    },
      });

      const currentDate = new Date();
      const dayNum = currentDate.getDay();
      let day: string = '';
      const monthNum = currentDate.getMonth() + 1;
      let month: string = '';
      const date = currentDate.getDate();
      const year = currentDate.getFullYear();
      const hoursNum = currentDate.getHours();
      let hours: string = '';
      const minutesNum = currentDate.getMinutes();
      let minutes: string = '';

      if (dayNum === 0) {
      	day = 'Sun';
      } else if (dayNum === 1) {
      	day = 'Mon';
      } else if (dayNum === 2) {
      	day = 'Tue';
      } else if (dayNum === 3) {
      	day = 'Wed';
      } else if (dayNum === 4) {
      	day = 'Thu';
      } else if (dayNum === 5) {
      	day = 'Fri';
      } else {
      	day = 'Sat';
      }

      if (monthNum === 1) {
      	month = 'Jan';
    	} else if (monthNum === 2) {
      	month = 'Feb';
    	} else if (monthNum === 3) {
      	month = 'Mar';
    	} else if (monthNum === 4) {
      	month = 'Apr';
    	} else if (monthNum === 5) {
      	month = 'May';
    	} else if (monthNum === 6) {
      	month = 'Jun';
    	} else if (monthNum === 7) {
      	month = 'Jul';
    	} else if (monthNum === 8) {
      	month = 'Aug';
    	} else if (monthNum === 9) {
      	month = 'Sep';
    	} else if (monthNum === 10) {
      	month = 'Oct';
    	} else if (monthNum === 11) {
      	month = 'Nov';
    	} else {
      	month = 'Dec';
    	}

      if (hoursNum < 10) {
      	hours = '0' + hoursNum;
    	} else {
      	hours = hoursNum + '';
    	}

      if (minutesNum < 10) {
      	minutes = '0' + minutesNum;
    	} else {
      	minutes = minutesNum + '';
    	}


      document.querySelector('.day')!.innerHTML = day;
      document.querySelector('.date')!.innerHTML = date + ' ' + month + ' ' + year;
      document.querySelector('.time')!.innerHTML = hours + ':' + minutes;
      /*
            this.openNotice( "  <svg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 58 58' style='enable-background:new 0 0 58 58;' xml:space='preserve'> " +
        " <circle style='fill:#556080;' cx='29' cy='29' r='29'></circle> " +
        "<path style='fill:#FDD7AD;' d='M0.072,30.942c0.011,0.167,0.024,0.333,0.038,0.498c0.049,0.583,0.111,1.162,0.194,1.735 c0.008,0.059,0.014,0.118,0.022,0.177c0.095,0.628,0.214,1.247,0.348,1.86c0.032,0.146,0.067,0.292,0.101,0.438 c0.127,0.542,0.268,1.078,0.425,1.608c0.023,0.077,0.043,0.156,0.066,0.233c0.185,0.603,0.39,1.196,0.613,1.782 c0.042,0.112,0.088,0.223,0.132,0.334c0.206,0.523,0.425,1.039,0.66,1.546c0.033,0.072,0.064,0.144,0.098,0.216	c0.273,0.578,0.565,1.145,0.875,1.701c0.036,0.064,0.073,0.127,0.109,0.19c0.293,0.517,0.601,1.025,0.925,1.522 c0.034,0.052,0.067,0.106,0.101,0.158c0.362,0.549,0.741,1.086,1.139,1.608c0.006,0.008,0.013,0.016,0.019,0.024	c0.394,0.515,0.805,1.016,1.232,1.503c0.027,0.031,0.053,0.062,0.08,0.093c0.882,0.999,1.831,1.937,2.842,2.807 c0.015,0.013,0.03,0.026,0.044,0.039c1.024,0.878,2.11,1.686,3.251,2.417c0.004,0.002,0.007,0.005,0.011,0.007 c1.148,0.735,2.352,1.391,3.603,1.96h0V47c5.417,4.583,17,0,17,0c8.167,0,10-5,10-5c2.368-2.177,3.012-5.403,3.001-8.31	c-0.01-2.933-0.908-5.767-2.277-8.361C43.907,23.782,43,20.95,43,16c0-9-12-8-12-8c-5.792-1.938-8.119-0.57-9.344,1.047	c-1.183,1.562-0.688,3.917,0.841,5.457C24.785,16.806,25.797,20.516,29,19c2.071-0.98,6-2,6-2v4c-1.044,1.044-1.556,2.54-1.801,3.88	c-0.155,0.848-0.905,1.348-1.685,1.332C30.078,24.845,28.139,24,26,24c-0.336,0-0.666,0.027-0.992,0.068	c-1.075,0.078-1.989,0.421-2.728,0.852c-0.519,0.273-1.003,0.601-1.447,0.977c-0.664,0.285-1.468,0.114-1.948-0.475	C15.105,20.788,11.363,20.083,9,20c-0.025-0.001-0.622-0.002-1.292-0.002C6.765,19.997,6,19.232,6,18.289l0-6.571	c0-0.118-0.155-0.171-0.226-0.076C2.715,15.73,0.704,20.647,0.154,26h0.02C0.071,26.988,0,27.985,0,29	C0,29.653,0.029,30.3,0.072,30.942z'></path> "+
        "<path style='fill:#FAC176;' d='M33.414,30c-0.396,0-0.77-0.235-0.927-0.624C31.409,26.718,28.863,25,26,25s-5.409,1.718-6.486,4.376	c-0.208,0.512-0.789,0.76-1.302,0.551c-0.512-0.207-0.759-0.79-0.551-1.303C19.044,25.208,22.318,23,26,23s6.956,2.208,8.34,5.624	c0.208,0.513-0.04,1.096-0.551,1.303C33.666,29.977,33.539,30,33.414,30z'></path> "+
        "<path style='fill:#FAC176;' d='M17.999,49c-0.206,0-0.414-0.063-0.592-0.195l-0.16-0.114C16.197,47.941,13,45.664,13,41	c0-0.553,0.448-1,1-1s1,0.447,1,1c0,3.634,2.476,5.397,3.408,6.062l0.186,0.134c0.444,0.327,0.54,0.953,0.212,1.397	C18.609,48.859,18.306,49,17.999,49z'></path></svg>", "Stronger than Ercules", "You are stronger than the most!")
      */
    }





}

</script>


<style scoped lang="scss">
  .marginBot{
    margin-top: 5%;
    margin-bottom: 8%;
  }
  .hidden {
  	display:none;
  }
  .card-wrap {
    margin:auto;
  }
.carousel-item {
  height:420px;
  width:100%;

}
.row {
  height:420px;
  width:100%;
  padding-top:30px;
  padding-left:50px;
  padding-right:50px;
  margin:auto;
}

  .carousell {
  	margin: 0px auto !important;
  	padding: 0 70px !important;
    width:100% !important;
    left:0 !important;
  }

  .carousell .item {
  	min-height: 330px;
      text-align: center;
  	overflow: hidden;
  }
  .carousell .item .img-box {
  	height: 160px;
  	width: 100%;
  	position: relative;
  }

  .carousell .thumb-content {
  	padding: 15px;
  }
  .carousell .carousel-control {
  	height: 100px;
      width: 40px;
      background: none;
      margin: auto 0;
      background: rgba(0, 0, 0, 0.2);
  }
  .carousell .carousel-control i {
      font-size: 30px;
      position: absolute;
      top: 50%;
      display: inline-block;
      margin: -16px 0 0 0;
      z-index: 5;
      left: 0;
      right: 0;
      color: rgba(0, 0, 0, 0.8);
      text-shadow: none;
      font-weight: bold;
  }
  .carousell .carousel-control.left i {
  	margin-left: -3px;
  }
  .carousell .carousel-control.left i {
  	margin-right: -3px;
  }







#cardExerciseMoveDiv {
  width:100%;
  padding:0;
}




/******************* REALTIME **************************/
#container {
  width:40%;
  float:left;
}

/******************* NOTICE **************************/
.scale-0, .notice {
  transform: scale(0);
}

.svgImg {
  margin:0 !important;
  width:20% !important;
  float:left;
}

.notice {
  position: fixed;
  right: 20px;
  top: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 20px 20px 20px;
  color: #fff;
  border-bottom: 4px solid #bada55;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  z-index:100;
  min-width:320px;
}
.notice > span {
  display: block;
}

#trophy-icon {
  transform: scale(0) translateY(-50%);
  position: absolute;
  left: 20px;
  top: 50%;
  color: #FED65E;
}

.notice-title {
  text-transform: uppercase;
  font-size: 120%;
  color: #a8cf2d;
}

.notice-desc {
  font-size: 90%;
  color: #dedede;
}

.notice-title,
.notice-desc {
  opacity: 0;
  transform: translateX(-10px);
}


$num_col: 18;


@for $i from 0 through $num_col{
	#notice#{$i}{
    top: 15% + (14% * $i);
	}

}
/**********************************/

#trophy-icon {
  width:15%;
}

/****************TODO ***************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
.panel {
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  min-width: 240px;
  color: #5D6B79;
  background: #fff;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
}
.panel .panel-title {
  diaplay: relative;
  border-bottom: 1px solid #D1D1D1;
  padding: 12px 14px;
  background-color: #f4623a;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFCFCFC', endColorstr='#FFE5E5E5');
}

.panel .panel-content {
  font-size: 14px;
}
.panel .panel-content .task {
  padding: 18px 14px;
  border-bottom: 1px solid #f0f2f3;
}
.panel .panel-content .task input[type=checkbox] {
  visibility: hidden;
  width: 0;
}
.panel .panel-content .task label {
  /* outline: 1px solid red; */
  display: inline-block;
  cursor: pointer;
  padding-left: 40px;
  position: relative;
  color: #8a9a9b;
  transition: color 0.2s linear;
}
.panel .panel-content .task label .line-through {
  position: absolute;
  display: block;
  height: 1px;
  background-color: #34bf6e;
  top: 60%;
  right: 100%;
  left: 42px;
  transition: right 0.2s linear;
}
.panel .panel-content .task label:before,
.panel .panel-content .task label:after {
  content: "";
  display: block;
  position: absolute;
}
.panel .panel-content .task label:before {
  top: -2px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 2px solid #8a9a9b;
  border-radius: 50%;
}
.panel .panel-content .task label:after {
  top: 4px;
  left: 8px;
  width: 5px;
  height: 9px;
  border: 4px solid #34bf6e;
  border-top: transparent;
  border-left: transparent;
  -webkit-transform: scale(2) rotate(45deg);
          transform: scale(2) rotate(45deg);
  opacity: 0;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
}
.panel .panel-content .task input[type=checkbox]:checked + label {
  color: #34bf6e;
  /* text-decoration: line-through; */
}
.panel .panel-content .task input[type=checkbox]:checked + label .line-through {
  right: 0;
}
.panel .panel-content .task input[type=checkbox]:checked + label:before {
  border-color: #34bf6e;
}
.panel .panel-content .task input[type=checkbox]:checked + label:after {
  -webkit-transform: scale(1) rotate(45deg);
          transform: scale(1) rotate(45deg);
  opacity: 1;
}

#todo {
  margin-top:2%;
  width:40%;
  height:40%;
  margin-left:30%;
  overflow: hidden;
  position: relative;
  background:#FFF;
	border-radius:0.51em;
	box-shadow:0px 5px 10px rgba(0,0,0,0.5);
  display:none;
}



/******************************** OROLOGIO *******************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");



// use only the available space inside the 400x400 frame
.frame {
	width: 400px;
	height: 400px;
	overflow: hidden;
	color: #fff;
  float:left;
	font-family: "Open Sans", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  margin-left:10%;
}

.watch {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 200px;
	width: 200px;
	background: #242424;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.topContainer {
	position: absolute;
	top: 45px;
	left: 45px;
	width: 115px;
	font-size: 13px;
	text-transform: uppercase;
}

.day {
	float: left;
}

.date {
	float: right;
}

.midContainer {
	position: absolute;
	font-weight: 700;
	font-size: 36px;
	top: 65px;
	left: 50px;
	width: 125px;
}

.time {
	float: left;
}

.secondsContainer {
	border: dotted 1px rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	padding: 5px;
	float: right;
	margin-top: 9px;
	font-size: 13px;
}

.seconds {
	animation: blink 1s linear infinite;
}

.bottomContainer {
	@extend .topContainer;
	top: 120px;
}

.bottomContainer2 {
	@extend .topContainer;
	top: 145px;
  left: 60px;
  width:70px;
}

#pres {
  margin-left:10px;
}

.heartRate {
	position: absolute;
	width: 35px;
}

.heart {
	float: left;
	transform-origin: center center;
	animation: beat 0.5s linear infinite alternate;
}

.rate {
	float: right;
}

.calorie {
	float: right;
}

.innerDot {
	position: absolute;
	top: 99px;
	left: 99px;
	width: 2px;
	height: 2px;
	border-radius: 50%;

	@for $i from 0 to 60 {
		$base: $i - 1;
		$deg: (360deg/60) * $base;
		&#{$i} {
			transform: rotate($deg) translateY(88px);
			background: #fff;
		}
	}
}

.innerLine {
	transform: rotate(-90deg);
}

.redLine {
	stroke-dasharray: 615.44;
	stroke-dashoffset: 615.44;
	animation: circling 4s linear infinite;
}

// calculating stroke dasharray/dashoffset: 2 π r

@keyframes blink {
	0% {
		opacity: 0;
	}
	90%,
	100% {
		opacity: 1;
	}
}

@keyframes beat {
	from {
		transform: scale(0.7);
	}
	to {
		transform: scale(0.9);
	}
}

@keyframes circling {
	0% {
		stroke-dashoffset: 1230.88;
		// 2 times 615.44
	}
	50% {
		stroke-dashoffset: 615.44;
	}
	100% {
		stroke-dashoffset: 0;
	}
}


/******************************** DONE *********************/
$color-success: rgba(178, 203, 7, 1);
$color-opentrigger: rgba(226, 45, 30, 1);
$border-size: 4px;

@keyframes success {
  0% {
    transform: scale(0);
  }
  25% {
    background-color: $color-success;
  }

  100% {
    transform: scale(60);

  }
}

@keyframes check {
  0% {
    border-color: #fff;
    height: 0;
    width: 0;
  }
  6% {
    height: 0;
    width: 0;
  }
  50% {
    width: 40px;
    height: 0;
  }
  100% {
    border-color: #fff;
  }
}


.text__success {
  z-index: 99;
  display: block;
  text-align: center;
  font-size: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  position:relative;
  color: #fff;
  cursor: pointer;
}

.button {
  border: $border-size solid transparent;
  border-radius: 50%;
  padding: 15px;
  height: 120px;
  width: 120px;
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
margin-top:150px;
}

.checkmark {
  z-index: 99;
  display: block;
  animation: check .8s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  transform: scaleX(-1) rotate(135deg);
  transform-origin: left top;
  border-right: $border-size solid transparent;
  border-top: $border-size solid transparent;
  content: '';
  display: block;
  height: 80px;
  position: relative;
  width: 40px;

}

.trigger {
  background: $color-success;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 80;
  display:block;
}

.scale {
  animation-name: success;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/********** DONE BTN ******/


.cont__fluid {
  margin:0;
  display:inline-block;
}
.frame {
  margin: 0 auto;
}

#container {
  margin: 0!important;
padding: 0 auto!important;

margin-right: -10% !important;

min-width: 310px; height: 400px;
width:70% !important;
}
/************* MEDIA ******/
@media (max-width: 1300px) {
  #cardExerciseMoveDiv {
    display:none;
  }
  #todo {
    display:block;
  }
  #container {
    width:60% !important;
  }
  .frame {
  	width: 400px;
  	height: 400px;
  	overflow: hidden;
  	color: #fff;
  	font-family: "Open Sans", Helvetica, sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;

  }
  .highcharts-container {
    width:100% !important;
  }

}
@media (min-width: 1024px) {
#todo {
  margin-bottom:5%;
}

}

@media (max-width: 1024px) {
  #container {
    width:100% !important;
    margin: 0 auto!important;
    margin-top: 5%!important;
  }
  .cont__fluid {
    margin: 0 auto!important;
    flaot:left !important;
  }
  .frame{
    margin: 0 auto!important;

    flaot:left !important;
    margin-top:0% !important;
    width:50%;
    height:300px;
  }

  .frame {


  }
  #todo {
float:right !important;
margin:0 !important;
margin-top:4% !important;
margin-right:5%;
  }

}

@media (max-width: 768px) {
  #container {
    display:none;
  }

  #todo {
    width:100%;
    height:40%;
    margin-left:0%;
  }

  .frame {
    display:block;
    margin-left:0%!important;
    margin-top: 0px !important;
    float:none;
    width: 100%;
    height: 400px;
    overflow: hidden;
    color: #fff;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left:0%;
  }

  .cont__fluid {
    margin-top: 0px !important;

  }

}


</style>
