<template>
    <div>
      <!-- <b-button v-b-modal.modal-prevent-closing>{{buttonText}}</b-button> -->
      <b-modal
        id="modal-prevent-closing"
        ref="modal"
        :title="title"
        @show="resetModal"
        @hidden="resetModal"
        @ok="handleOk"
        ok-variant="success"
        cancel-variant="light"
      >
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <b-form-group
            :state="nameState"
            label="Muscle name"
            label-for="name-input"
            invalid-feedback="Name is required"
          >
           <b-form-input
              id="name-input"
              v-model="prevMuscle.name"
              :state="nameState"
              required
            ></b-form-input>
          </b-form-group>
          </form>
        </b-modal>
    </div>
</template>


<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import CRUDApi from '../../../services/CRUDApi';
import Muscle from '../../../models/Muscle';
import { Prop } from 'vue-property-decorator';

@Component
export default class AddEditMuscle extends Vue {
  @Prop(String) private readonly title!: string;
  @Prop(Object) private readonly prevMuscle!: Muscle;
  private nameState: string;

  constructor() {
    super();
    this.nameState = '';
  }

  private checkFormValidity() {
    const valid = (this.$refs.form as HTMLFormElement).checkValidity()
    this.nameState = valid ? 'valid' : 'invalid'
    return valid
  }
  private resetModal() {
    this.nameState = '';
  }
  private handleOk(bvModalEvt: Event) {
    // Prevent modal from closing
    bvModalEvt.preventDefault()
    // Trigger submit handler
    this.handleSubmit()
  }
  private async handleSubmit() {
    // Exit when the form isn't valid
    if (!this.checkFormValidity()) {
      return
    }

    //TODO: ADD NEW MUSCLE  
    if(this.prevMuscle != undefined && this.prevMuscle.muscleId >= 0) {
        //Edit
        console.log('Edit muscle: ' + this.prevMuscle.name);
        await CRUDApi.updateMuscle(this.prevMuscle.muscleId, this.prevMuscle.name);
    } else {
        //Create
        console.log('Create muscle: ' + this.prevMuscle.name);
        await CRUDApi.addMuscle(this.prevMuscle.name);
    }

    //Send event to parent in order to refresh the page with the new/update data
    this.$emit('muscles-list-changed');

    // Hide the modal manually
    this.$nextTick(() => {
      (this.$refs.modal as any).hide()
    });
  }
}
</script>