<template>
  <div class="container col-12">
    <AddEditMuscle title="Add/Edit muscle" :prevMuscle="copyMuscleToEdit(muscleToEdit)" @muscles-list-changed="getMuscles"/>
    <b-button variant="light" class="add-stuff-button" v-b-modal.modal-prevent-closing @click="resetMuscleToEdit"><i class="fas fa-plus text-primary"></i> Add muscle</b-button>
    <div class="filters row">
      <!-- Select filter type -->
      <div class="form-group col-sm-2">
        <b-form-select v-model="selectedFilter" :options="filterOptions" class="mb-3" required>
          <template slot="first">
            <option value="" disabled>-- Select filter type --</option>
          </template>
        </b-form-select>
      </div>
      <!-- Search by name -->
      <div class="form-group col-sm-3" v-if="selectedFilter === FILTER_BY_NAME">
        <input v-model="searchKey" type="text" class="form-control" placeholder="Muscle name" id="search-element"/>
      </div>
      <!-- Search by id -->
      <div class="form-group col-sm-3" v-if="selectedFilter === FILTER_BY_ID">
        <input v-model="searchKey" type="number" class="form-control" placeholder="Muscle id" id="search-element"/>
      </div>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>Muscle ID <a href="#" @click="sortTable(FILTER_BY_ID)"><i class="fas fa-sort-up"></i></a></th>
        <th>Name <a href="#" @click="sortTable(FILTER_BY_NAME)"><i class="fas fa-sort-up"></i></a></th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="muscle in renderedMuscles" :key="muscle.muscleId">
        <td>{{ muscle.muscleId}}</td>
        <td>{{ muscle.name}}</td>
        <td>
        <div class="btn-group-vertical" role="group">
          <!-- Edit Muscle -->
          <b-button variant="outline-info" v-b-modal.modal-prevent-closing @click="muscleToEdit=muscle">Edit</b-button>
          <!-- Delete Muscle -->
          <button type="button" class="btn btn-outline-danger" @click="deleteMuscle(muscle)">Delete</button>
        </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>


<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import MuscleApi from '../../../services/UserRequestApi';
import CRUDApi from '../../../services/CRUDApi';
import Muscle from '../../../models/Muscle';
import { Watch } from 'vue-property-decorator';
import AddEditMuscle from './AddEditMuscle.vue'
import EditMuscle from './AddEditMuscle.vue'
import CrudUtils from './../CrudUtils'
import FilterOption from './../CrudUtils'

@Component({
  components: {
    AddEditMuscle,
  }
})
export default class CRUD extends Vue {
  private readonly FILTER_BY_NAME = 'name';
  private readonly FILTER_BY_ID = 'id';

  private searchKey: string;
  private filterOptions: FilterOption[];
  private selectedFilter: string;

  private muscles: Muscle[];
  private renderedMuscles: Muscle[];

  private muscleToEdit: Muscle;
  
  constructor() {
    super();
    this.muscles = [];
    this.searchKey = '';
    this.selectedFilter = '';
    this.filterOptions = [];  
    this.renderedMuscles = [];  
    this.muscleToEdit = {
      muscleId: -1,
      name: '',
    }
  }

  private copyMuscleToEdit() {
    return {
      muscleId: this.muscleToEdit.muscleId,
      name: this.muscleToEdit.name,
    }
  }

  private resetMuscleToEdit() {
    this.muscleToEdit = {
      muscleId: -1,
      name: '',
    }
    return this.muscleToEdit;
  }

  // Lifecycle hook
  private mounted() {
    this.getMuscles();
    this.filterOptions = CrudUtils.getFilterOptions([this.FILTER_BY_NAME, this.FILTER_BY_ID]);
  }

  private async getMuscles() {
    const response = await MuscleApi.getMuscles();
    this.muscles = response.data;
    this.updateGUI();
  }

  private deleteMuscle(muscle: Muscle) {
    CRUDApi.deleteMuscle(muscle.muscleId)
    .then((res) => {
      let index = this.muscles.indexOf(muscle);
      if (index !== -1) {
        this.muscles.splice(index, 1);
        this.updateGUI();
      }
    })
    .catch((error) => {
      console.log(`Error during muscle deletion: ${error}`);
    })
  }
  
  private updateGUI() {
    this.renderedMuscles = this.muscles;
  }

  private sortTable(sortBy: string) {
    switch(sortBy) {
      case this.FILTER_BY_ID:
        this.renderedMuscles = this.muscles.sort(function(a, b) {
          return CrudUtils.compareNumberAsc(a.muscleId, b.muscleId);
        });
        break;
      case this.FILTER_BY_NAME:
        this.renderedMuscles = this.muscles.sort(function(a, b){
          return CrudUtils.compareStringAsc(a.name, b.name);
        });
        break;
    }
  }

  @Watch('searchKey') private onValueChange(newSearchKey: string) {
    if (newSearchKey.length === 0) {
      this.renderedMuscles = this.muscles;
    } else {
      this.renderedMuscles = (
        (this.selectedFilter === this.FILTER_BY_NAME) ? 
          CrudUtils.searchByName(this.muscles, newSearchKey) : 
          this.searchById()
        ) as Muscle[];
    }
  }

  private searchById() {
    let filtered: Muscle[] = [];
    this.muscles.forEach(mus => {
      if (mus.muscleId.toString() == this.searchKey) {
        filtered.push(mus);
      }
    });
    return filtered;
  }
}
</script>

<style lang="scss" scoped src="./../style/crud.scss">