.image-class-size {
  max-width:100%;
}

.add-stuff-button {
  padding: 0.2rem 0.5rem !important;
  border-radius: 5rem !important;
  border: 1px solid #8C8C8C !important;
  margin-bottom: 0.3rem !important;
  position: relative !important;
  background-color: #fff;
}

.table {
  max-width: 100vw;
  overflow: auto;
}
.main-div {
  max-width: 100vw;;
}
.td-id,.th-id {
  min-width: 1em; /* the normal 'fixed' width */
  width: 1.2em; /* the normal 'fixed' width */
  max-width: 1.5em; /* the normal 'fixed' width, to stop the cells expanding */
}
.td-medium,.th-medium {
  min-width: 3em; /* the normal 'fixed' width */
  width: 3em; /* the normal 'fixed' width */
  max-width: 3em; /* the normal 'fixed' width, to stop the cells expanding */
}
.td-large,.th-large {
  min-width: 3.2em; /* the normal 'fixed' width */
  width: 3.4em; /* the normal 'fixed' width */
  max-width: 4em; /* the normal 'fixed' width, to stop the cells expanding */
}

.breakline-style {
  word-wrap: break-word;
}

.tooltip.show {
  opacity: 1;
} 

.tooltip-inner {
  background: #fff;
  color: #000;
  padding: .5em 1em;
  border: 1px solid #bbb;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow, .tooltip.bs-tooltip-bottom .arrow {
	position: relative;
	background: #fff;
  top: 1px;
  width: 16px;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before, .tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::after, .tooltip.bs-tooltip-bottom .arrow::after {
  bottom: 0;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::after, .tooltip.bs-tooltip-bottom .arrow::after {
  border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 8px;
	margin-left: -8px;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
  border-color: rgba(187, 187, 187, 0);
	border-bottom-color: #bbb;
	border-width: 9px;
	margin-left: -9px;
}
