<template>
  <div class="col-md-6 col-xl-4 mx-auto mt-3">
    <Register componentTitle="Edit user" :userToEdit="userToEdit"/>
 </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Register from '../../../SignUpSignIn/Register.vue'
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import { NewUser } from '../../../../models/User'

@Component({
    components: {
        Register,
    }
})
export default class EditUser extends Vue {
  @Prop(Object) private userToEdit!: NewUser;
  constructor() {
      super();
  }
}
</script>