<template>
  <div class="container col-12">
    <div class="filters row">
      <!-- Select filter type -->
      <div class="form-group col-sm-2">
        <b-form-select v-model="selectedFilter" :options="filterOptions" class="mb-3" required>
          <template slot="first">
            <option value="" disabled>-- Select filter type --</option>
          </template>
        </b-form-select>
      </div>
      <!-- Search by first name -->
      <div class="form-group col-sm-3" v-if="selectedFilter === FILTER_BY_FNAME">
        <input v-model="searchKey" type="text" class="form-control" placeholder="User first name" id="search-element"/>
      </div>
      <!-- Search by last name -->
      <div class="form-group col-sm-3" v-if="selectedFilter === FILTER_BY_LNAME">
        <input v-model="searchKey" type="text" class="form-control" placeholder="User last name" id="search-element"/>
      </div>
      <!-- Search by email -->
      <div class="form-group col-sm-3" v-if="selectedFilter === FILTER_BY_EMAIL">
        <input v-model="searchKey" type="text" class="form-control" placeholder="User email" id="search-element"/>
      </div>
      <!-- Search by address -->
      <div class="form-group col-sm-3" v-if="selectedFilter === FILTER_BY_ADDRESS">
        <input v-model="searchKey" type="text" class="form-control" placeholder="User address" id="search-element"/>
      </div>
      <!-- Search by level -->
      <div class="form-group col-sm-3" v-if="selectedFilter === FILTER_BY_LEVEL">
        <input v-model="searchKey" type="number" class="form-control" placeholder="User level" id="search-element"/>
      </div>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th >ID<a href="#" @click="sortTable(FILTER_BY_ID)"><i class="fas fa-sort-up"></i></a></th>
        <th >Level<a href="#" @click="sortTable(FILTER_BY_LEVEL)"><i class="fas fa-sort-up"></i></a></th>
        <th >Achievements</th>
        <th>Role<a href="#" @click="sortTable(FILTER_BY_ROLE)"><i class="fas fa-sort-up"></i></a></th>
        <th >Email<a href="#" @click="sortTable(FILTER_BY_EMAIL)"><i class="fas fa-sort-up"></i></a></th>
        <th>FirstName<a href="#" @click="sortTable(FILTER_BY_FNAME)"><i class="fas fa-sort-up"></i></a></th>
        <th >LastName<a href="#" @click="sortTable(FILTER_BY_LNAME)"><i class="fas fa-sort-up"></i></a></th>
        <th>Birthdate<a href="#" @click="sortTable(FILTER_BY_BIRTHDATE)"><i class="fas fa-sort-up"></i></a></th>
        <th >Address<a href="#" @click="sortTable(FILTER_BY_ADDRESS)"><i class="fas fa-sort-up"></i></a></th>
        <th >Gender<a href="#" @click="sortTable(FILTER_BY_GENDER)"><i class="fas fa-sort-up"></i></a></th>
        <th >Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="user in renderedUsers" :key="user._id">
        <td class="breakline-style">{{ user._id}}</td>
        <td >
          <div v-b-tooltip.hover.bottom :title="'current exp: ' + user.experience">
            {{(user.level) ? user.level : '0'}}
          </div>     
        </td>
        <td>{{ showAchievements(user.achievements)}}</td>
        <td>{{ getUserRole(user)}}</td>
        <td class="breakline-style">{{ user.email}}</td>
        <td >{{ user.firstName}}</td>
        <td >{{ user.lastName}}</td>
        <td class="breakline-style">{{ showDate(user.birthdate)}}</td>
        <td >{{ user.address}}</td>
        <td >{{ (user.sex === 0) ? 'male' : 'female'}}</td>
        <td >
        <div class="btn-group-vertical" role="group" v-if="getUserRole(user)==='user'">
          <!-- Edit User -->
          <button type="button" class="btn btn-outline-info"  @click="$router.push({ name: 'editUser', params: {userToEdit: user} })"> 
            Edit
          </button>
          <!-- Delete User -->
          <button type="button" class="btn btn-outline-danger" @click="deleteUser(user)">Delete</button>
        </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>


<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import ShopApi from '../../../services/ShopApi';
import CRUDApi from '../../../services/CRUDApi';
import Achievement from '../../../models/Achievement';
import Muscle from "../../../models/Muscle";
import { Watch } from 'vue-property-decorator';
import CrudUtils from './../CrudUtils'
import FilterOption from './../CrudUtils'
import Exercise from '../../../models/Exercise';
import UserRequestApi from '../../../services/UserRequestApi';
import UserRequest from '../../../views/UserRequest.vue';

interface UserExercise {
    amount: number;
    exercise: Exercise;
}

export interface User {
  _id: string;
  level: number;
  experience: number;
  achievements: Achievement[];
  isACoach: boolean;
  isAdmin: boolean;
  tokens: string[]
  email: string;
  password: string;
  firstName: string;
  lastName: string;
  birthdate: Date;
  address: string;
  createdAt: Date;
  updatedAt: Date;
  salt: string;
  sex: number;
  exercises: UserExercise[];
  muscles: Muscle[];
}

@Component
export default class CRUD extends Vue {
  private readonly FILTER_BY_ID = 'id';
  private readonly FILTER_BY_LEVEL = 'level';
  private readonly FILTER_BY_ROLE = 'role';
  private readonly FILTER_BY_EMAIL = 'email';
  private readonly FILTER_BY_FNAME = 'first name';
  private readonly FILTER_BY_LNAME = 'last name';
  private readonly FILTER_BY_BIRTHDATE = 'birthdate';
  private readonly FILTER_BY_ADDRESS = 'address';
  private readonly FILTER_BY_GENDER = 'gender';

  private readonly ROLE_USER = 'user';
  private readonly ROLE_TRAINER = 'trainer';
  private readonly ROLE_ADMIN = 'admin';

  private users: User[];
  private searchKey: string;
  private filterOptions: FilterOption[];
  private textMaxLength: number;
  private selectedFilter: string;
  private renderedUsers: User[];
  
  constructor() {
    super();
    this.users = [];
    this.searchKey = '';
    this.textMaxLength = 40;
    this.selectedFilter = '';
    this.filterOptions = [];  
    this.renderedUsers = [];  
  }

  // Lifecycle hook
  private mounted() {
    this.getUsers();
    this.filterOptions = CrudUtils.getFilterOptions(
        [this.FILTER_BY_EMAIL,
        this.FILTER_BY_LEVEL, 
        this.FILTER_BY_FNAME, 
        this.FILTER_BY_LNAME, 
        this.FILTER_BY_ADDRESS]);
  }

  private showDate(date: string): string {
    return date.substring(0,10);
  }

  private showAchievements(achievements: Achievement[]): string {
      let obtainedString: string = ''
      if(achievements == undefined || achievements.length == 0) return '--';
      achievements.forEach(achiev => {
          obtainedString += `${achiev.name}, `;
      })
      return obtainedString;
  }

  private showExercises(exercises: UserExercise[]): string {
      let obtainedString: string = '';
      if(exercises == undefined || exercises.length == 0) return '--';
      exercises.forEach(exer => {
          obtainedString += '(' + exer.exercise.name + ' amount: ' + exer.amount + '), ' ;
      })
      return obtainedString;
  }

  private getUserRole(user: User): string {
    if(user.isACoach) return this.ROLE_TRAINER;
    if(user.isAdmin) return this.ROLE_ADMIN;
    return this.ROLE_USER;
  }

  private async getUsers() {
    UserRequestApi.getUsers()
    .then((res) => {
        let tmp: User[] = [];
        res.data.forEach((user: User) => {
          user.isACoach = false;
          user.isAdmin = false;
          user.muscles = [];
          tmp.push(user);
        });
        this.users = this.users.concat(tmp);
        this.updateGUI();
    })
    .catch((error) => console.log(`Error getUsers: ${error}`));
    
    UserRequestApi.getTrainers()
    .then((res) => {
        let tmp: User[] = [];
        res.data.forEach((user: User) => {
          user.isACoach = true;
          user.isAdmin = false;
          tmp.push(user);
        });
        this.users = this.users.concat(tmp);
        this.updateGUI();
    })
    .catch((error) => console.log(`Error getTrainers: ${error}`));
    
    /*UserRequestApi.getAdmins()
    .then((res) => {
       let tmp: User[] = [];
        res.data.forEach((user: User) => {
          user.isACoach = false;
          user.isAdmin = true;
          user.muscles = [];
          tmp.push(user);
        });
        this.users = this.users.concat(tmp);
        this.updateGUI();
    })
    .catch((error) => console.log(`Error getAdmins: ${error}`));*/
  }

  private updateGUI() {
      this.renderedUsers = this.users;
  }

  private deleteUser(user: User) {
    CRUDApi.deleteUser(user._id)
    .then((res: any) => {
      let index = this.users.indexOf(user);
      if (index !== -1) {
        this.users.splice(index, 1);
        this.updateGUI();
      }
    })
    .catch((error: any) => {
      console.log(`Error during user deletion: ${error}`);
    })
  }

  private sortTable(sortBy: string) {
    const fuckingThis = this;
    switch(sortBy) {
      case this.FILTER_BY_ID:
        this.renderedUsers = this.users.sort(function(a, b) {
          return CrudUtils.compareStringAsc(a._id, b._id);
        });
        break;
      case this.FILTER_BY_LEVEL:
        this.renderedUsers = this.users.sort(function(a, b) {
          return CrudUtils.compareNumberAsc(a.level, b.level);
        });
        break;
      case this.FILTER_BY_ROLE:
        this.renderedUsers = this.users.sort(function(a, b) {
          return CrudUtils.compareStringAsc(fuckingThis.getUserRole(a), fuckingThis.getUserRole(b));
        });
        break;
      case this.FILTER_BY_EMAIL:
        this.renderedUsers = this.users.sort(function(a, b) {
          return CrudUtils.compareStringAsc(a.email, b.email);
        });
        break;
      case this.FILTER_BY_FNAME:
        this.renderedUsers = this.users.sort(function(a, b) {
          return CrudUtils.compareStringAsc(a.firstName, b.firstName);
        });
        break;
      case this.FILTER_BY_LNAME:
        this.renderedUsers = this.users.sort(function(a, b) {
          return CrudUtils.compareStringAsc(a.lastName, b.lastName);
        });
        break;
      case this.FILTER_BY_BIRTHDATE:
        this.renderedUsers = this.users.sort(function(a, b) {
          return CrudUtils.compareDateAsc(a.birthdate, b.birthdate);
        });
        break;
      case this.FILTER_BY_ADDRESS:
        this.renderedUsers = this.users.sort(function(a, b) {
          return CrudUtils.compareStringAsc(a.address, b.address);
        });
        break;
      case this.FILTER_BY_GENDER:
        this.renderedUsers = this.users.sort(function(a, b) {
          return CrudUtils.compareNumberAsc(a.sex, b.sex);
        });
        break;
    }
  }

  @Watch('searchKey') private onValueChange(newSearchKey: string) {
    if (newSearchKey.length === 0) {
      this.renderedUsers = this.users;
    } else {
      switch(this.selectedFilter) {
      case this.FILTER_BY_LEVEL:
           this.renderedUsers = CrudUtils.searchByLevel(this.users, newSearchKey) as User[];
        break;
      case this.FILTER_BY_EMAIL:
           this.renderedUsers = CrudUtils.searchByEmail(this.users, newSearchKey) as User[];
        break;
      case this.FILTER_BY_FNAME:
           this.renderedUsers = CrudUtils.searchByFirstName(this.users, newSearchKey) as User[];
        break;
      case this.FILTER_BY_LNAME:
           this.renderedUsers = CrudUtils.searchByLastName(this.users, newSearchKey) as User[];
        break;
      case this.FILTER_BY_ADDRESS:
           this.renderedUsers = CrudUtils.searchByAddress(this.users, newSearchKey) as User[];
        break;
      }
    }
  }

  private checkTextMaxLength(text: string): string {
    return CrudUtils.checkTextMaxLength(text, this.textMaxLength);
  }
}
</script>

<style lang="scss" scoped src="./../style/crud.scss">