<template>
<div :id="'cardId'+name" class="card-wrap"
		 @mousemove="handleMouseMove"
		 @mouseenter="handleMouseEnter"
		 @mouseleave="handleMouseLeave"
	 @click="handleClick"
		 ref="card">
		 <div :id="'p2'+name" class="card" :style="cardStyle()">
			 <span class="showAmount" v-if="isTimed"><i class="material-icons">query_builder</i>
			<span class="amount">{{getTime(amount)}}</span></span>
			<span class="showAmount" v-if="!isTimed"> x {{amount}}</span>

        <div id="p22" class="card-bg" :style="[cardBgTransform(), cardBgImage()]"></div>
        <div class="card-info">
          <h1 name="header">{{name}}</h1>
          <p name="content">{{description}}</p>
        </div>
      </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, PropSync } from 'vue-property-decorator';
import $ from 'jquery';
import RecommendedProducts from '../components/RecommendedProducts/RecommendedProducts.vue';
import Product from '../models/Product';
import UserPlanApi from '../services/UserPlanApi';



@Component
export default class CardExercise extends Vue {
  @Prop(String) private readonly dataImage!: string;
  @Prop(String) private readonly name!: string;
	@Prop(Number) private readonly amount!: number;
	@Prop(Boolean) private readonly isTimed!: boolean;
	@Prop(Boolean) private readonly hide!: boolean;
  @Prop(String) private readonly description!: string;
	@Prop(String) private readonly setEventName!: string;

	private width: number = 0;
	private height: number = 0;
	private mouseX: number = 0;
	private mouseY: number = 0;
	private mouseLeaveDelay: any = null;

  public mounted() {

		this.width = 240;
		this.height = 320;

		const { top, left, width, height } = (document.getElementById("cardId"+this.name) as HTMLElement).getBoundingClientRect();
	let point = {
		x: left + window.pageXOffset,
		y: top + window.pageYOffset
	};
	if (this.hide) {
	 this.hideAmountAndTime();
	}

  }

	public hideAmountAndTime() {
		$('.showAmount').css('display','none');
		$('.amount').css('display','none');
		$('.showIf').css('display','none');
	}

	public mousePX() {
		return this.mouseX / this.width;
	}
	public mousePY() {
		return this.mouseY / this.height;
	}
	public cardStyle() {
		const rX = this.mousePX() * 30;
		const rY = this.mousePY() * -30;
		return {transform: 'rotateY(' + rX + 'deg) rotateX(' + rY + 'deg)' };
	}
	public cardBgTransform() {
		const tX = this.mousePX() * -40;
		const tY = this.mousePY() * -40;
		return {transform: 'translateX(' + tX + 'px) translateY(' + tY + 'px)' };
	}

	public cardBgImage() {
      return {backgroundImage: "url("+ this.dataImage + ")" };
  }


  public handleClick() {
      // (document.getElementById('p2' + this.name) as HTMLInputElement).style.border = "1px solid #49eb34";
      // (document.getElementById('p2' + this.name) as HTMLInputElement).style.boxShadow = "rgba(0, 0, 0, 0.66) 0 15px 30px 0, inset #333 0 0 0 5px, inset rgba(73, 235, 52, 0.5) 0 0 0 6px";
			this.$emit(this.setEventName, this.name);
	}

	public handleMouseMove(e: any) {
		const { top, left, width, height } = (document.getElementById("cardId"+this.name) as HTMLElement).getBoundingClientRect();
  let point = {
		x: left + window.pageXOffset,
		y: top + window.pageYOffset
	};


      this.mouseX = e.pageX - point.x - this.width / 2;
      this.mouseY = e.pageY - point.y - this.height / 2;
			// console.log("mouseX: " + this.mouseX + " = " +e.pageX  + " - " + point.x + " - " +  this.width);
			// console.log("mouseY: " + this.mouseY + " = " +e.pageY  + " - " + point.y + " - " +  this.height);
			// console.log("mouseX2: " + this.mouseX + " = " +e.pageX  + " - " + (document.getElementById("cardId"+this.name) as HTMLElement).offsetLeft + " - " +  this.width);
			// console.log("mouseY2: " + this.mouseY + " = " +e.pageY  + " - " + (document.getElementById("cardId"+this.name) as HTMLElement).offsetTop + " - " +  this.height);
    }
    public handleMouseEnter() {
      clearTimeout(this.mouseLeaveDelay);
    }

    public handleMouseLeave() {
      this.mouseLeaveDelay = setTimeout(() => {
        this.mouseX = 0;
        this.mouseY = 0;
      }, 1000);
    }

		public getTime(val: number) {
			const res = val % 60;
			var min: string = '';
			if (res < 10) {
				min = min + '0'
			}
			min = min + res;
			return Math.floor(val / 60) + ':'+ min;
		}


}
</script>

<style scoped lang="scss">
/******************* CARD **************************/






p {
  line-height: 1.5em;
}

h1 + p, p + p {
  margin-top: 10px;
}

.container {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrap {
  margin: 10px;
  width:240px;
  height:320px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}

.showAmount {
	opacity:1;
	z-index:10;
	color: #fff;
	text-align:right;
	margin-right:5%;
	margin-top:4%;
  text-shadow: black 0 2px 3px;
	height:100%;
}
.material-icons{
	position:absolute;
	margin-top:-1%;
	right:55px;
}
.card-wrap:hover .card-info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card-wrap:hover .card-info p {
  opacity: 1;
}
.card-wrap:hover .card-info, .card-wrap:hover .card-info p {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after {
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card-wrap:hover .card-bg {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;
}
.card-wrap:hover .card {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 15px 30px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
  position: relative;
  flex: 0 0 240px;
  width: 240px;
  height: 320px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 15px 30px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 280px;
  height: 360px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info * {
  position: relative;
  z-index: 1;
}
.card-info:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}



</style>
