//../resources/assets/js/components/Map.vue
    <template>
    <div>
        <div id="map"></div>
    </div>
    </template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import L, { LatLng, Marker, Polyline, LocationEvent } from 'leaflet';
import { Prop, Watch } from 'vue-property-decorator';
import { LMap } from 'vue2-leaflet';

@Component
export default class Map extends Vue {


    private static myMap: L.Map;
    private static trackingCoordinates: LatLng[] = [];
    private static marker: Marker;

    private static lineColour: string = 'red';
    private static lineOpacity: number = 0.5;
    private static lineSmoothFactor: number = 1;

    private static tileLayer: string = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    private static tileLayerAttribution: string = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
    private static startLat: number = 44;
    private static startLng: number = 12;

    private static defaultZoomLevel: number = 18;
    private static maxZoomLevel: number = 16;

    private static enableConsoleLog: boolean = false;

    private static newPosition(lat: number, lng: number, altitude?: number) {
        // Remove old marker
        if (Map.marker !== undefined) { Map.myMap.removeLayer(Map.marker); }
        // Add new coordinate
        const latLng = (altitude) ? new LatLng(lat, lng, altitude) :  new LatLng(lat, lng);
        Map.trackingCoordinates.push(latLng);
        // Create new marker
        Map.marker = L.marker([lat, lng]).bindPopup('Now your are here :)');
        // Show new marker
        Map.myMap.addLayer(Map.marker );
        // Draw the line
        L.polyline(Map.trackingCoordinates,
                        {color: Map.lineColour,
                        opacity: Map.lineOpacity,
                        smoothFactor: Map.lineSmoothFactor,
                        }).addTo(Map.myMap);
        // Set map center to the last detected position
        Map.myMap.panTo(latLng);
        if (Map.enableConsoleLog) { console.log(`New coordinate: lat: ${lat} lng: ${lng}`); }
    }

    private static prevIntersetInterval: any;

    @Prop(Boolean) private readonly enableMonitoring!: boolean;

    @Watch('enableMonitoring') private onValueChanged(newVal: boolean, oldVal: boolean) {
        if (newVal) {
            Map.myMap.locate({setView: true, watch: true, enableHighAccuracy: true}) /* This will return map so you can do chaining */
            .on('locationfound', function(e) {
                const lat = (e as any).latitude;
                const lng = (e as any).longitude;
                const altitude = (e as any).altitude;
                Map.newPosition(lat, lng, altitude);
            })
            .on('locationerror', function(e) {
                console.log(e);
                alert('Location access denied.');
            });
        } else {
            Map.myMap.stopLocate();
        }
    }

    private mounted() {
        // Set up starting coordinates and default zoom level
        Map.myMap = L.map('map').setView([Map.startLat, Map.startLng], Map.defaultZoomLevel);

        Map.trackingCoordinates = [];

        // set up Leaflet
        L.tileLayer(Map.tileLayer, {
          maxZoom: Map.maxZoomLevel,
          attribution: Map.tileLayerAttribution,
        }).addTo(Map.myMap);

        let lat = 44.1324723;
        let long = 12.228675;
        Map.newPosition(lat, long);

        clearInterval(Map.prevIntersetInterval);
        Map.prevIntersetInterval = setInterval(function() {
          // var rnd = parseFloat((Math.random() * (0.120 - 0.0200) + 0.0200).toFixed(4));
          const rnd = parseFloat((Math.random() * (0.00120 - 0.000200) + 0.000200).toFixed(4));
          // var rnd2 = parseFloat((Math.random() * (0.120 - 0.0200) + 0.0200).toFixed(4))
          const rnd2 = parseFloat((Math.random() * (0.00120 - 0.000200) + 0.000200).toFixed(4));

          lat = rnd * (Math.floor(Math.random() * 3) - 1) + lat;
          long = rnd2 * (Math.floor(Math.random() * 3) - 1) + long;
          Map.newPosition(lat, long);
        }, 2000);
        // this.startTracking()
    }

    private beforeDestroy() {
        clearInterval(Map.prevIntersetInterval);
    }

     private startTracking() {
        Map.myMap.locate({setView: true, watch: true, enableHighAccuracy: true}) /* This will return map so you can do chaining */
            .on('locationfound', function(e) {
                const lat = (e as any).latitude;
                const lng = (e as any).longitude;
                const altitude = (e as any).altitude;
                Map.newPosition(lat, lng, altitude);
            })
            .on('locationerror', function(e) {
                console.log(e);
                alert('Location access denied.');
            });
    }
}
</script>

<style scoped>
#map {
    width: 100%;
    height: 45vh;
}
</style>
