<template>
<div class="nav">
  <input type="checkbox" id="navtoggle" checked/>
  <input type="checkbox" id="deletetoggle"/>
  <div class="toggleNotifications">
    <div v-if="notNumber > 0" class="count">
      <div class="num">{{notNumber}}</div>
    </div>
    <label class="show" for="navtoggle"><i class="material-icons">notifications</i></label>
    <div class="notifications">
      <div class="btnbar">
        <div class="text full">You've got mail</div>
      </div>

      <div class="groupofnotes" >

        <div class="note" v-for="n in notifications" @click="readNotification(n)" v-if="!n.readBy.includes(id) "><i class="material-icons blackMail">mail</i>{{cutName(n.title)}}</div>
        <div class="note read" v-for="n in notifications" v-if="n.readBy.includes(id) && !n.deletedBy.includes(id)"><i class="material-icons blackMail">drafts</i>{{cutName(n.title)}}<i @click="deleteNot(n)"  class="material-icons blackMail deleteNotification">delete</i></div>
      </div>
    </div>
  </div>
</div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, PropSync } from 'vue-property-decorator';
import $ from 'jquery';
import RecommendedProducts from '../components/RecommendedProducts/RecommendedProducts.vue';
import Product from '../models/Product';
import NotificationApi from '../services/NotificationApi';
import { CredentialsUtils } from '../Utils';
import socketIO from 'socket.io-client';

interface Notification {
  _id: string;
  userType: string;
  date: string;
  readBy: string[];
  deletedBy: string[];
  isRead: boolean;
  receiverId: string;
  title: string;
  description: string;
  userId: string;
  planId: string;
  notificationType: number;
}

@Component
export default class NotificationBell extends Vue {

  private notifications: Notification[];
  private isDisplayed: boolean = false;
  private socket: any;
  private id: string;
  private notNumber: number;

  constructor() {
    super();
    this.notifications = [];
    this.socket = socketIO('http://localhost:8081/');
    this.id = '';
    this.notNumber = 0;

  }

  private getNotification() {
    const response = NotificationApi.getNotification();
    response.then((r) => {
      this.notifications = r.data;
      this.notificationCount();

    })
    .catch((error) => {
      console.log(error);
    });
  }

  private notificationCount() {
    for (const n of this.notifications) {
      if (!n.readBy.includes(this.id)) {
        this.notNumber += 1;
      }
    }
  }

  public cutName(str : String) {
    return str.substring(0, 40) + "...";
  }

  private routeTrainerNotification(notification: Notification) {
    if (notification.notificationType === 4) {
      this.$router.push({name: 'selectRequest', params: { planId: notification.planId}});
      this.$bus.$emit('selectRequest', notification.planId);
    }
    if (notification.notificationType === 5) {
      this.$router.push('/coachProfile');
    }
    if (notification.notificationType === 6) {
      this.$router.push('/coachProfile');
    }
    if (notification.notificationType === 7) {
      this.$router.push({name: 'coachPlans', params: { planId: notification.planId}});
      this.$bus.$emit('coachPlans', notification.planId);
    }
    if (notification.notificationType === 8) {
      this.$router.push({name: 'coachPlans', params: { planId: notification.planId}});
      this.$bus.$emit('coachPlans', notification.planId);
    }
  }

  private routeAdminNotification(notification: Notification) {
    if (notification.notificationType === 2) {
      this.$router.push({name: 'admin', params: { userId: notification.userId}});
      this.$bus.$emit('admin-user', notification.userId);
    }
    if (notification.notificationType === 3) {
      this.$router.push({name: 'admin', params: { planId: notification.planId}});
      this.$bus.$emit('admin-plan', notification.planId);
    }
  }

  private routeUserNotification(notification: Notification) {
    if (notification.notificationType === 9) {
      this.$router.push({name: 'userPlan', params: { planId: notification.planId}});
      this.$bus.$emit('userPlan', notification.planId);
    }
  }

  private readNotification(notification: Notification) {
    this.routeAdminNotification(notification);
    this.routeTrainerNotification(notification);
    this.routeUserNotification(notification);
    NotificationApi.postReadNotification({notifications: [notification._id]}).then((r) => {
      this.notifications[this.notifications.indexOf(notification)].readBy.push(this.id);
      this.notNumber -= 1;
    });
  }

  private deleteNot(notification : Notification) {
    NotificationApi.deleteNotification({notifications: [notification._id]}).then((r:any) => {
      notification.deletedBy.push(this.id)
    });
  }


  private setTrainerTopicIscription(id: string, callback: any) {
    this.socket.on(id + '-planAccepted', callback);
    this.socket.on(id + '-newPlan', callback);
    this.socket.on(id + '-trainerAccepted', callback);
    this.socket.on(id + '-trainerRefused', callback);
    this.socket.on(id + '-planRefused', callback);
  }

  private setAdminTopicIscription(callback: any) {
    this.socket.on('admin-newTrainer', callback);
    this.socket.on('admin-newPlan', callback);
  }

  private setUserTopiIscription(id: string, callback: any) {
    this.socket.on(id + '-planCreated', callback);
  }

  private setTopicIscription(id: string, callback: any) {
    if (CredentialsUtils.userIsLogged()) {
      this.setUserTopiIscription(id, callback);
    } else if (CredentialsUtils.coachIsLogged()) {
      this.setTrainerTopicIscription(id, callback);
    }
  }

  private mounted() {
    this.id = this.$cookies.get('id');
    const callback = (params: any) => {
      this.notNumber += 1;
      this.notifications.push({
        _id: params._id,
        userType: params.userType,
        date: params.date,
        readBy: params.readBy,
        deletedBy: params.deletedBy,
        isRead: params.isRead,
        receiverId: params.receiverId,
        title: params.title,
        description: params.description,
        userId: params.userId,
        planId: params.planId,
        notificationType: params.notificationType,
      });
    };
    this.getNotification();
    if (CredentialsUtils.adminIsLogged()) {
      this.setAdminTopicIscription(callback);
    } else {
      this.setTopicIscription(this.id, callback);
    }
  }
}
</script>

<style scoped lang="scss">

.nav {
  position: relative;
  max-width: 400px;
  min-height: 60px;
  z-index: 500;

}

.toggleNotifications {
  position: relative;
  display: inline-flex;
  float: right;
  height: 58px;
  width: 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.toggleNotifications .show {
  flex: 1;
  margin: auto;
  height: 40px;
  max-width: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
  font-size: 24px;
  transition: all 0.2s;
}
.toggleNotifications .show:hover {
  background: lightgray;
  cursor: pointer;
}
.toggleNotifications .show i {
  line-height: 38px;
}

.count {
  position: absolute;
  top: 5px;
  right: 26px;
}
.count .num {
  position: absolute;
  top: 0px;
  left: -12px;
  background: #f22;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 17px;
  font-size: 11px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.notifications { //Div interno all'appertura
  position: absolute;
  top: 49px;
  right: 24px;
  width: 460px;
  max-height: 32vh;
  background: white;
  border: 1px solid #455;
  border-radius: 2px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  display:block;
  overflow-y:auto;
}

.notifications .btnbar {
  position: relative;
  height: 60px;
  background: #f4623A;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}
.notifications .btnbar .text {
  line-height: 60px;
  padding: 0px 20px;
  position: absolute;
  top: 0px;
  transition: all 1s;
  color:black;
}

.notifications .note {
  padding: 0px 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  transition: all 0.2s;
  overflow: hidden;
  max-height: 40px;
}
.notifications .note:first-of-type {
  margin-top: 0px;
}
.notifications .note.read {
  color: #CDCDCD;
}
.notifications .note:hover {
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.notifications .note i {
  position: relative;
  top: -1px;
  margin-right: 5px;
  vertical-align: middle;
  color: white;
}

#navtoggle {
  display: none;
}
#navtoggle:checked ~ .toggleNotifications .notifications {
  display:none;
}

#deletetoggle {
  display: none;
}
#deletetoggle:checked ~ .toggleNotifications .notifications .groupofnotes .note {
  max-height: 0px;
}
#deletetoggle:checked ~ .toggleNotifications .notifications .groupofnotes .note:nth-of-type(1) {
  transition-delay: 0.2s;
}
#deletetoggle:checked ~ .toggleNotifications .notifications .groupofnotes .note:nth-of-type(2) {
  transition-delay: 0.4s;
}
#deletetoggle:checked ~ .toggleNotifications .notifications .groupofnotes .note:nth-of-type(3) {
  transition-delay: 0.6s;
}
#deletetoggle:checked ~ .toggleNotifications .notifications .groupofnotes .note:nth-of-type(4) {
  transition-delay: 0.8s;
}
#deletetoggle:checked ~ .toggleNotifications .notifications .btnbar .delete {
  transition-delay: 1s;
  background: #465;
}

#deletetoggle:checked ~ .toggleNotifications .count .num {
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
#deletetoggle:checked ~ .toggleNotifications .count .num:nth-of-type(4) {
  transition-delay: 0.25s;
}
#deletetoggle:checked ~ .toggleNotifications .count .num:nth-of-type(3) {
  transition-delay: 0.3333333333s;
}
#deletetoggle:checked ~ .toggleNotifications .count .num:nth-of-type(2) {
  transition-delay: 0.5s;
}
#deletetoggle:checked ~ .toggleNotifications .count .num:nth-of-type(1) {
  transition-delay: 1s;
}

i.blackMail {
color:#f4623A !important;
}
.groupofnotes {
text-align:left !important;
}

.deleteNotification {
float:right !important;
margin-top:10px !important;
color:black !important;
padding-right:0 !important;
}
</style>
