<template>
  <div class="cont_plan">
  <svg style="display: none;">
<symbol id="product-icon" viewBox="0 0 26.458 26.458">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
  <circle style="fill:#CFF09E;" cx="255.995" cy="255.996" r="76.945"/>
  <g>
  	<path style="fill:#507C5C;" d="M255.997,347.463c-50.433,0-91.463-41.031-91.463-91.463s41.031-91.463,91.463-91.463
  		S347.46,205.567,347.46,256S306.429,347.463,255.997,347.463z M255.997,193.573c-34.422,0-62.427,28.005-62.427,62.427
  		s28.005,62.427,62.427,62.427s62.427-28.005,62.427-62.427S290.419,193.573,255.997,193.573z"/>
  	<path style="fill:#507C5C;" d="M255.997,512c-68.381,0-132.668-26.629-181.02-74.98c-5.669-5.669-5.669-14.862,0-20.533
  		c5.671-5.669,14.861-5.669,20.533,0c42.867,42.869,99.863,66.476,160.488,66.476s117.62-23.608,160.488-66.476
  		c42.867-42.867,66.476-99.863,66.476-160.488s-23.609-117.62-66.476-160.488c-42.869-42.869-99.863-66.476-160.488-66.476
  		S138.377,52.644,95.509,95.512c-57.256,57.256-79.73,141.45-58.65,219.728c2.085,7.742-2.503,15.708-10.244,17.793
  		c-7.75,2.088-15.708-2.501-17.795-10.244C-2.68,280.078-2.936,234.853,8.085,192.005c11.355-44.152,34.486-84.618,66.892-117.025
  		C123.329,26.629,187.616,0,255.997,0s132.668,26.629,181.02,74.98c48.352,48.352,74.98,112.639,74.98,181.02
  		s-26.629,132.667-74.98,181.02C388.665,485.371,324.377,512,255.997,512z"/>
  	<path style="fill:#507C5C;" d="M255.997,452.028c-108.091,0-196.028-87.938-196.028-196.028S147.906,59.972,255.997,59.972
  		c69.932,0,135.071,37.687,169.997,98.355c4.001,6.948,1.61,15.825-5.338,19.826c-6.951,4-15.823,1.609-19.824-5.338
  		c-29.76-51.693-85.258-83.807-144.834-83.807c-92.08,0-166.992,74.913-166.992,166.992s74.913,166.992,166.992,166.992
  		S422.989,348.079,422.989,256c0-8.018,6.501-14.518,14.518-14.518s14.518,6.5,14.518,14.518
  		C452.025,364.091,364.088,452.028,255.997,452.028z"/>
  </g>
  </svg>
</symbol>

<symbol id="pending" viewBox="0 0 26.458 26.458">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
  <circle style="fill:#FEE187;" cx="255.995" cy="255.996" r="76.945"/>
  <g>
  	<path style="fill:#FFC61B;" d="M255.997,347.463c-50.433,0-91.463-41.031-91.463-91.463s41.031-91.463,91.463-91.463
  		S347.46,205.567,347.46,256S306.429,347.463,255.997,347.463z M255.997,193.573c-34.422,0-62.427,28.005-62.427,62.427
  		s28.005,62.427,62.427,62.427s62.427-28.005,62.427-62.427S290.419,193.573,255.997,193.573z"/>
  	<path style="fill:#FFC61B;" d="M255.997,512c-68.381,0-132.668-26.629-181.02-74.98c-5.669-5.669-5.669-14.862,0-20.533
  		c5.671-5.669,14.861-5.669,20.533,0c42.867,42.869,99.863,66.476,160.488,66.476s117.62-23.608,160.488-66.476
  		c42.867-42.867,66.476-99.863,66.476-160.488s-23.609-117.62-66.476-160.488c-42.869-42.869-99.863-66.476-160.488-66.476
  		S138.377,52.644,95.509,95.512c-57.256,57.256-79.73,141.45-58.65,219.728c2.085,7.742-2.503,15.708-10.244,17.793
  		c-7.75,2.088-15.708-2.501-17.795-10.244C-2.68,280.078-2.936,234.853,8.085,192.005c11.355-44.152,34.486-84.618,66.892-117.025
  		C123.329,26.629,187.616,0,255.997,0s132.668,26.629,181.02,74.98c48.352,48.352,74.98,112.639,74.98,181.02
  		s-26.629,132.667-74.98,181.02C388.665,485.371,324.377,512,255.997,512z"/>
  	<path style="fill:#FFC61B;" d="M255.997,452.028c-108.091,0-196.028-87.938-196.028-196.028S147.906,59.972,255.997,59.972
  		c69.932,0,135.071,37.687,169.997,98.355c4.001,6.948,1.61,15.825-5.338,19.826c-6.951,4-15.823,1.609-19.824-5.338
  		c-29.76-51.693-85.258-83.807-144.834-83.807c-92.08,0-166.992,74.913-166.992,166.992s74.913,166.992,166.992,166.992
  		S422.989,348.079,422.989,256c0-8.018,6.501-14.518,14.518-14.518s14.518,6.5,14.518,14.518
  		C452.025,364.091,364.088,452.028,255.997,452.028z"/>
  </g>

  </svg>
</symbol>


<symbol id="refused" viewBox="0 0 26.458 26.458">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
  <circle style="fill:#F4B2B0;" cx="255.995" cy="255.996" r="76.945"/>
  <g>
  	<path style="fill:#B3404A;" d="M255.997,347.463c-50.433,0-91.463-41.031-91.463-91.463s41.031-91.463,91.463-91.463
  		S347.46,205.567,347.46,256S306.429,347.463,255.997,347.463z M255.997,193.573c-34.422,0-62.427,28.005-62.427,62.427
  		s28.005,62.427,62.427,62.427s62.427-28.005,62.427-62.427S290.419,193.573,255.997,193.573z"/>
  	<path style="fill:#B3404A;" d="M255.997,512c-68.381,0-132.668-26.629-181.02-74.98c-5.669-5.669-5.669-14.862,0-20.533
  		c5.671-5.669,14.861-5.669,20.533,0c42.867,42.869,99.863,66.476,160.488,66.476s117.62-23.608,160.488-66.476
  		c42.867-42.867,66.476-99.863,66.476-160.488s-23.609-117.62-66.476-160.488c-42.869-42.869-99.863-66.476-160.488-66.476
  		S138.377,52.644,95.509,95.512c-57.256,57.256-79.73,141.45-58.65,219.728c2.085,7.742-2.503,15.708-10.244,17.793
  		c-7.75,2.088-15.708-2.501-17.795-10.244C-2.68,280.078-2.936,234.853,8.085,192.005c11.355-44.152,34.486-84.618,66.892-117.025
  		C123.329,26.629,187.616,0,255.997,0s132.668,26.629,181.02,74.98c48.352,48.352,74.98,112.639,74.98,181.02
  		s-26.629,132.667-74.98,181.02C388.665,485.371,324.377,512,255.997,512z"/>
  	<path style="fill:#B3404A;" d="M255.997,452.028c-108.091,0-196.028-87.938-196.028-196.028S147.906,59.972,255.997,59.972
  		c69.932,0,135.071,37.687,169.997,98.355c4.001,6.948,1.61,15.825-5.338,19.826c-6.951,4-15.823,1.609-19.824-5.338
  		c-29.76-51.693-85.258-83.807-144.834-83.807c-92.08,0-166.992,74.913-166.992,166.992s74.913,166.992,166.992,166.992
  		S422.989,348.079,422.989,256c0-8.018,6.501-14.518,14.518-14.518s14.518,6.5,14.518,14.518
  		C452.025,364.091,364.088,452.028,255.997,452.028z"/>
  </g>
  </svg>

</symbol>

</svg>

<!-- HTML structure in which the card display is nested in a wrapping container and built with simple markup -->
<div class="component--card position-in-page">
<!--  at the top of the card show an icon included in the SVG set -->
  <svg v-if="!data.pending && data.approved" @click.preventDefault="notifyParent(data._id)" v-bind:class="'card__icon'">
    <use href="#product-icon"/>
  </svg>
  <svg v-if="data.pending" v-bind:class="'card__icon_notHovering'">
    <use href="#pending"/>
  </svg>
  <svg v-if="!data.pending && !data.approved" v-bind:class="'card__icon_notHovering'">
    <use href="#refused"/>
  </svg>

  <svg v-if="!data.pending && data.approved" id="clickText" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
      <defs>
          <path id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
      </defs>
      <circle cx="150" cy="100" r="75" fill="none"/>
      <g>
          <use xlink:href="#circlePath" fill="none"/>
          <text fill="#000">
              <textPath xlink:href="#circlePath">Click me!</textPath>
          </text>
      </g>
  </svg>
  <div class="card__title">
    <h3>Plan</h3>
      <span v-if="data.pending">Your request has been sent to a coach.</span>
      <span v-if="!data.pending && !data.approved">Your request has been refused.</span>
      <p>Trainer: {{trainerName}}</p>
      <button v-if="!data.pending && data.approved && rated == -1" @click.preventDefault="openModal()" @click="showModal = true" class="action-button">Review</button>

  </div>

  <div class="card__table">
    <div class="card__table__row row--title">
      <span> Muscles </span>
    </div>

    <div v-for="muscle in data.muscles" :muscle="muscle" :key="muscle.name" class="card__table__row">
         <span> {{muscle.name}} </span>
    </div>
    <RecommendedProducts v-if="!data.pending && data.approved && products.length > 0" :data="products" :idVal="data._id"></RecommendedProducts>

    <div v-if="!data.pending && data.approved && rated > -1 " class="card__table__row row--final">
      <span>Voto</span>
      <span></span>
      <span class="less-than-necessary"></span>
      <span>{{rated}}</span>
    </div>

  </div><!-- close table div -->

</div><!-- close component div  -->



  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, PropSync } from 'vue-property-decorator';
import $ from 'jquery';
import RecommendedProducts from '../components/RecommendedProducts/RecommendedProducts.vue';
import Product from '../models/Product';
import UserPlanApi from '../services/UserPlanApi';

interface Muscle {
  name: string;
}

interface PlanInterface {
  _id: string;
  approved: boolean;
  schedules: Schedule[];
  rating: number;
  isRated: boolean;
  muscles: Muscle[];
  description: string;
  compiledBy: string;
}

interface Exercise {
  _id: string;
  exerciseId: string;
  name: string;
  description: string;
  isTimed: boolean;
}

interface Card {
	amount: number;
  exercise: Exercise;
}

interface Schedule {
  cards: Card[];
  _id: string;
}



@Component({
components: {RecommendedProducts},
})
export default class Plan extends Vue {
  @Prop(String) private readonly setPlanEventName!: string;
  @Prop(String) private readonly openModalEventName!: string;
  @Prop(Object) private data!: PlanInterface;
  @Prop(Number) private planN!: number;
  @Prop(String) private trainerName!: string;

  private selected: boolean = false;
  private products: Product[] = [];
  private rated: number = -1;


  public mounted() {
    this.$parent.$on('Rev' + this.data._id, (rating: number) => { this.rated = rating; });
    let exerciseIds: number[];
    if (this.data.isRated) {this.rated = this.data.rating; }
    exerciseIds = [];
    for (const singleSchedule of this.data.schedules) {
      for (const singleCard of singleSchedule.cards) {
        exerciseIds.push(parseInt(singleCard.exercise.exerciseId, 10));
      }
    }
    if (this.data.schedules.length > 0) {
      const resp2 = UserPlanApi.getRecommendedProducts(exerciseIds);
      resp2.then((r2) => {
        this.products = r2.data;

      }).catch((error) => {
        console.log(error);
      });
    }
  }

  public notifyParent(planNumber: string) {
      if (this.selected === false) {
        this.selected = true;
        // $('.card__icon').addClass( 'pulse' );
      } else {
        this.selected = false;
        // $('.card__icon').removeClass( 'pulse' );
      }
      this.$emit(this.setPlanEventName, planNumber);
  }
  public openModal() {
    this.$emit(this.openModalEventName, this.data._id);
  }
}
</script>

<style scoped lang="scss">
#clickText {
position: absolute;
margin-top:-130px;
z-index: -100;
transform: rotate(60deg);
}

:root {
  --vertical-offset: -24px;
  --roll-in-animation: roll-in 0.7s ease-out forwards;
}



.card__title {
  --animation-delay: 0;
}


.row--final {

  --vertical-offset: -2rem;
}



/************ PULSE**************/
.pulse {
  position: relative;

  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(#FF8A1E, .5);
  animation: pulse 1.5s infinite;
}
.pulse:hover {
  animation: none;
}


@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(#FF8A1E, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(#FF8A1E, 0);
  }
}





@media (max-width: 450px) {
#clickText {
display:none;
}
}
</style>
