
.form-control:focus {
    border-color: #f4623a;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 136, 13, 0.6);
  }
  .fix-label-group {
    margin-left: 1%;
    align-items: center;
  }
  .fix-label-item {
    height: calc(2.25rem + 2px);
  }
  .logo {
      width: 120px;
      margin:auto;
  }