a {
	color: red !important;
}

.tag{
  padding: 0.3rem 1rem !important;
  border: 1px solid #8C8C8C !important;
  border-radius: 1rem !important;
  font-size: 1rem !important;
  color: #8C8C8C !important;
  transition: all 0.3s ease !important;
  margin-bottom: 0.3rem !important;
  position: relative !important;
}
.tag.mint{
  border-color: #f4623A !important;
  color: black !important;
}

.multiselect {
  $bg-color: #fff;
  $bd-color: #ccc;

  $suggest-height: 150px;
  $border-radius: 4px;
  $item-space: .3em;
  $suggest-zindex: 10;

  position: relative;

  .selected-hold {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    padding: $item-space 0 0 $item-space;
    border-radius: $border-radius;

    border: 1px solid $bd-color;
    background-color: $bg-color;

    &.focus {
      border-color: #f4623a;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 136, 13, 0.6)
    }
  }

  .selected-item {
    margin: 0 $item-space $item-space 0;
    padding: .1em .5em;
    border-radius: $border-radius;

    border: 1px solid darken($bd-color, 5%);
    background-color: white;

    .item-label {
      margin-right: .5em;
    }

    .close {
      outline: none;
    }

    &.active {
      border-color: darken(#66afe9, 20%);
    }
  }

  .item-search {
    width: 50px;
    margin: 0 .5em .5em 0;
    border: none;
    outline: none;
  }

  .suggest-panel {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: $suggest-zindex;
    width: 100%;
    max-height: $suggest-height;
    overflow: auto;

    border: 1px solid $bd-color;
    background-color: $bg-color;

    .suggest-item {
      padding: .4em .8em;

      &.active {
        background-color: darken($bg-color, 10%)
      }
      &.disabled {
        color: lighten(invert($bg-color), 60%);
        text-decoration: line-through;
      }

      .highlight {
        background-color: #ff0;
      }
    }
  }

  .text-tester {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
  }
}
