@import url('https://fonts.googleapis.com/css?family=Open+Sans');
:root {
  --vertical-offset: -24px;
  --roll-in-animation: roll-in 0.7s ease-out forwards;
}

.cont_plan {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;

  width:100%;
  margin: 5% 4%;
  display: inline-block;
}

.component--card {
  margin-top: 3rem;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background:#FFF;
	border-radius:0.51em;
	box-shadow:0px 5px 10px rgba(0,0,0,0.5);

}
.card__icon {
  width: 84px;
  height: 84px;
  border-radius: 90%;
  box-shadow: 0 0.5rem 1.3rem rgba(48,88,127,0.15);
  margin-top: -36px;
  padding: 1rem;
  background-color: #fff;
}


.card__icon{
  display: block;
  border-radius: 50%;
  border: 3px solid #FF8A1E;
  cursor: pointer;
  opacity: .8;
}
.card__icon:hover{
  border: 3px solid #03fc3d;
  opacity: 1;
  transform: scale(1.1);
}

.card__icon_notHovering{
  width: 84px;
  height: 84px;
  border-radius: 90%;
  box-shadow: 0 0.5rem 1.3rem rgba(48,88,127,0.15);
  margin-top: -36px;
  padding: 1rem;
  background-color: #fff;
  display: block;
  border-radius: 50%;
  border: 3px solid #FF8A1E;
  opacity: .8;
}




.card__title {
  --animation-delay: 0;
  margin: 1rem 0 2rem;
  line-height: 1.8;
  transform: translateY(-24px);
}
.card__title h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: rgba(48,88,127,1);
  margin-top:2%;
}
.card__title p {
  color: rgba(48,88,127,0.8);
  font-size: 1.1rem;
}

.card__table {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__table__row {
  width: 100%;
  display: flex;
  margin: 0.3rem 0;
  border-bottom: 1px solid rgba(48,88,127,0.1);
  line-height: 2;
  transform: translateY(-24px);
}
.card__table__row:nth-of-type(1) {
  animation-delay: 1.8s;
}
.card__table__row:nth-of-type(2) {
  animation-delay: 2s;
}
.card__table__row:nth-of-type(3) {
  animation-delay: 2.2s;
}
.card__table__row:nth-of-type(4) {
  animation-delay: 2.4s;
}
.card__table__row:nth-of-type(5) {
  animation-delay: 2.8s;
}
.card__table__row:nth-of-type(6) {
  animation-delay:3.2s;
}
.card__table__row:nth-of-type(7) {
  animation-delay: 3.6s;
}

.card__table__row:nth-last-of-type(2) {
  border-bottom: none;
}
.card__table__row span {
  width: 0;
  flex-grow: 1;
  color: rgba(48,88,127,0.8);
  font-size: 1.1rem;
}
.card__table__row span:nth-of-type(1) {
  //text-transform: capitalize;
}
.row--title span:nth-of-type(1) {
  text-transform: uppercase;
}
.row--title {
  text-transform: uppercase;
  border-width: 2px;
  border-color: rgba(48,88,127,0.4);
  line-height: 1.2;
}

.row--final {
  font-weight: bold;
  color: rgba(48,88,127,0.9);
  font-size: 1.15rem;
  border-bottom: none;
  margin: 2rem 0;
  border-top: 2px solid rgba(48,88,127,0.4);
  --vertical-offset: -2rem;
}

@keyframes roll-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {

  .card__title h3 {
    text-transform: capitalize;
    font-size: 1.2rem;
    color: rgba(48,88,127,1);
    margin-top:4%;
  }
  .card__title p {
    color: rgba(48,88,127,0.8);
    font-size: 1.0rem;
  }

  .card__table__row span {
    font-size: 1.0rem;

  }

  .card__icon {
    width: 74px;
    height: 74px;
    margin-top: -34px;
  }

  .pulse {
    width: 74px !important;
    height: 74px !important;

  }

}

/************ PULSE**************/
.pulse {
  position: relative;

  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(#FF8A1E, .5);
  animation: pulse 1.5s infinite;
}
.pulse:hover {
  animation: none;
}


@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(#FF8A1E, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(#FF8A1E, 0);
  }
}
