/******************** BUTTON *******************/

.btn_def{padding:0.45rem 0.75rem;
  font-size:.85rem;font-weight:700;text-transform:uppercase;border:none;border-radius:10rem;color:white!important;background-color:#f4623a;border-color:#f4623a}
.btn_def:hover{color:#fff;background-color:#f24516;border-color:#ee3e0d}
.btn_def.focus,.btn_def:focus{-webkit-box-shadow:0 0 0 .2rem rgba(246,122,88,.5);box-shadow:0 0 0 .2rem rgba(246,122,88,.5)}
.btn_def.disabled,.btn_def:disabled{color:#fff;background-color:#f4623a;border-color:#f4623a}
.btn_def:not(:disabled):not(.disabled).active,.btn_def:not(:disabled):not(.disabled):active,.show>.btn_def.dropdown-toggle{color:#fff;background-color:#ee3e0d;border-color:#e23a0d}
.btn_def:not(:disabled):not(.disabled).active:focus,.btn_def:not(:disabled):not(.disabled):active:focus,.show>.btn_def.dropdown-toggle:focus{-webkit-box-shadow:0 0 0 .2rem rgba(246,122,88,.5);box-shadow:0 0 0 .2rem rgba(246,122,88,.5)}


.action-button {
  width: 200px;
  background: #f4623A;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  font-size: 1em;
  background-color: white;
  border: 1px solid #F4623A;
  font-family: 'Roboto', sans-serif;
  border-radius:10rem;
}
.action-button:hover{
  background-color: rgba(255,138,30,.2);
}
.action-button:active {
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

.subtitle {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  width:100%;
  text-align: center;
}
.sub-subtitle {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  width:100%;
  text-align: center;
}
.text {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}
