/***************************** TIMELINE ACHIEVEMENTS ***********************************/
#timeline {
  overflow-y: scroll;
  height:500px !important;
  width:500px !important;
}
.ion-header-bar, .ion-content {
  width:100% !important;
}
.ion-content {
  overflow-y: scroll;
  width:100% !important;
  height:300px !important;
}

/*Optional*/
.bar-stable {
  margin-top:3%;
}
.icon-size-lg {
  font-size: 40px;
}

/*Timeline*/

.pos-absolute-right {
    position: absolute;
    right: 8px;
}

.timeline {
    position: relative;
    margin: 15px 0 0 0;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #afdcf8;
    left: 44px;
    margin-left: -10px;
    z-index: 1;
}

.timeline .timeline-thumb {
    border-radius: 500px;
    width: 50px;
    z-index: 2;
    position: absolute;
    left: 10px
}

.timeline .timeline-thumb.timeline-icon {
    height: 50px;
    text-align: center;
    color: white;
    border: 1px solid #CBD0D3;
}

.timeline .timeline-thumb.timeline-icon i {
    font-size: 28px;
    margin: 6px 0;
    display: block;
}



.timeline .timeline-item {
    margin-left: 72px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.timeline .timeline-stats {
    position: relative;
    font-size: 12px;
    color: #7F8C8D;
}


.divider-title {
    background: #f4623A;
    padding: 5px 15px;
    font-size:.85rem;font-weight:700;text-transform:uppercase;border:none;color:white!important;
}

.svg_icon {
  width:100%;
  left:0;
}

/* === Color Themes === */
.text-muted {
    color: #6d6d72 !important;
}

.bg-color-white {
    background-color: #ffffff;
}
