<template>
  <div class="container col-12">
    <!-- Top page stuff [AddNewProd, ChangeShowedCollection, ] -->
    <ProductHeader/>
    <!-- Search stuff [ByName, Category, Id, ] lasciare solo per nome e id, 
    tutto il resto cerca di mettere una sorta di ordinamento sugliu header della tabella-->
    <div class="filters row">
      <!-- Select filter type -->
      <div class="form-group col-sm-2">
        <b-form-select v-model="selectedFilter" :options="filterOptions" class="mb-3" required>
          <template slot="first">
            <option value="" disabled>-- Select filter type --</option>
          </template>
        </b-form-select>
      </div>
      <!-- Search by name -->
      <div class="form-group col-sm-3" v-if="selectedFilter === FILTER_BY_NAME">
        <input v-model="searchKey" type="text" class="form-control" placeholder="Product name" id="search-element"/>
      </div>
      <!-- Search by id -->
      <div class="form-group col-sm-3" v-if="selectedFilter === FILTER_BY_ID">
        <input v-model="searchKey" type="number" class="form-control" placeholder="Product id" id="search-element"/>
      </div>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th class="th-id">ID <a href="#" @click="sortTable(FILTER_BY_ID)"><i class="fas fa-sort-up"></i></a></th>
        <th class="th-id">Category ID <a href="#" @click="sortTable(FILTER_BY_CATID)"><i class="fas fa-sort-up"></i></a></th>
        <th class="th-large">Name <a href="#" @click="sortTable(FILTER_BY_NAME)"><i class="fas fa-sort-up"></i></a></th>
        <th class="th-large">Description</th>
        <th class="th-large">Image one</th>
        <th class="th-large">Image two</th>
        <th class="th-medium">Price <a href="#" @click="sortTable(FILTER_BY_PRICE)"><i class="fas fa-sort-up"></i></a></th>
        <th class="th-medium">On sale <a href="#" @click="sortTable(FILTER_BY_ONSALE)"><i class="fas fa-sort-up"></i></a></th>
        <th class="th-medium">Discounted price <a href="#" @click="sortTable(FILTER_BY_DISCPRICE)"><i class="fas fa-sort-up"></i></a></th>
        <th class="th-large">Exercises</th>
        <th class="th-medium">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="product in renderedProducts" :key="product.productId">
        <td class="td-id">{{ product.productId}}</td>
        <td class="td-id">{{ product.categoryId}}</td>
        <td class="td-large">{{ product.name}}</td>
        <td class="td-large">
          <div v-b-tooltip.hover.bottom :title="product.description">
            {{(product.description) ? checkTextMaxLength(product.description) : '--'}}
          </div>        
        </td>
        <td class="td-large breakline-style ">
            <a :href="product.imageOne">{{checkTextMaxLength(product.imageOne)}}</a>
        </td>
        <td class="td-large breakline-style ">
            <a :href="product.imageOne">{{(checkTextMaxLength(product.imageTwo))}}</a>
        </td>
        <td class="td-medium">{{ product.price }}</td>
        <td class="td-medium">{{ product.onSale }}</td>
        <td class="td-medium">{{ product.discountedPrice }}</td>
        <td class="td-large">
          {{product.exercises.map(exer => exer.name)}}
        </td>
        <td class="td-medium">
        <div class="btn-group-vertical" role="group">
          <!-- Edit Product -->
          <button type="button" class="btn btn-outline-info"  @click="$router.push({ name: 'addProduct', params: {productToEdit: product} })"> 
            Edit
          </button>
          <!-- Delete Product -->
          <button type="button" class="btn btn-outline-danger" @click="deleteProduct(product)">Delete</button>
        </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>


<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import ShopApi from '../../../services/ShopApi';
import CRUDApi from '../../../services/CRUDApi';
import Product from '../../../models/Product';
import { Watch } from 'vue-property-decorator';
import ProductHeader from './ProductHeader.vue'
import CrudUtils from './../CrudUtils'
import FilterOption from './../CrudUtils'
import Exercise from '../../../models/Exercise';

@Component({
  components: {
    ProductHeader,
  }
})
export default class CRUD extends Vue {
  private readonly FILTER_BY_NAME = 'name';
  private readonly FILTER_BY_ID = 'id';
  private readonly FILTER_BY_CATID = 'catid';
  private readonly FILTER_BY_PRICE = 'price';
  private readonly FILTER_BY_ONSALE = 'onsale';
  private readonly FILTER_BY_DISCPRICE = 'discprice';
  private products: Product[];
  private searchKey: string;
  private filterOptions: FilterOption[];
  private textMaxLength: number;
  private selectedFilter: string;
  private renderedProducts: Product[];
  
  constructor() {
    super();
    this.products = [];
    this.searchKey = '';
    this.textMaxLength = 40;
    this.selectedFilter = '';
    this.filterOptions = [];  
    this.renderedProducts = [];  
  }

  // Lifecycle hook
  private mounted() {
    this.getProducts();
    this.filterOptions = CrudUtils.getFilterOptions([this.FILTER_BY_NAME, this.FILTER_BY_ID]);
  }

  private async getProducts() {
    const response = await ShopApi.getAllProducts();
    this.products = response.data;
    this.updateGUI();
  }

  private deleteProduct(product: Product) {
    CRUDApi.deleteProduct(product.productId)
    .then((res: any) => {
      let index = this.products.indexOf(product);
      if (index !== -1) {
        this.products.splice(index, 1);
        this.updateGUI();
      }
    })
    .catch((error: any) => {
      console.log(`Error during product deletion: ${error}`);
    })
  }
  
  private updateGUI() {
    this.renderedProducts = this.products;
  }

  private renderExercises(exercises: Exercise[]): string {
    let result: string = '';
    exercises.forEach((exercise: Exercise) => {
      result += `${exercise.name}, `
    })
    return result;
  }

  private sortTable(sortBy: string) {
    switch(sortBy) {
      case this.FILTER_BY_ID:
        this.renderedProducts = this.products.sort(function(a, b) {
          return CrudUtils.compareNumberAsc(Number.parseInt(a.productId), Number.parseInt(b.productId));
        });
        break;
      case this.FILTER_BY_NAME:
        this.renderedProducts = this.products.sort(function(a, b){
          return CrudUtils.compareStringAsc(a.name, b.name);
        });
        break;
      case this.FILTER_BY_CATID:
        this.renderedProducts = this.products.sort(function(a, b) {
          return CrudUtils.compareNumberAsc(a.categoryId, b.categoryId);
        });
        break;
      case this.FILTER_BY_PRICE:
        this.renderedProducts = this.products.sort(function(a, b) {
          return CrudUtils.compareNumberAsc(a.price, b.price);
        });
        break;        
      case this.FILTER_BY_ONSALE:
        this.renderedProducts = this.products.sort(function(a, b) {
          return CrudUtils.compareBooleanAsc(a.onSale , b.onSale);
        });
        break;
      case this.FILTER_BY_DISCPRICE:
        this.renderedProducts = this.products.sort(function(a, b) {
          return CrudUtils.compareNumberAsc(a.discountedPrice, b.discountedPrice);
        });
        break;
    }
  }

  @Watch('searchKey') private onValueChange(newSearchKey: string) {
    if (newSearchKey.length === 0) {
      this.renderedProducts = this.products;
    } else {
      this.renderedProducts = (
        (this.selectedFilter === this.FILTER_BY_NAME) ? 
          CrudUtils.searchByName(this.products, newSearchKey) : 
          this.searchById()
        ) as Product[];
    }
  }

  private searchById() {
    let filtered: Product[] = [];
    this.products.forEach(prod => {
      if (prod.productId == this.searchKey) {
        filtered.push(prod);
      }
    });
    return filtered;
  }

  private checkTextMaxLength(text: string): string {
    return CrudUtils.checkTextMaxLength(text, this.textMaxLength);
  }
}
</script>

<style lang="scss" scoped src="./../style/crud.scss">