 <!-- CRUD top page stuff [AddNewProd, ChangeShowedCollection, ] -->
<template>
    <div>
      <b-button variant="light" class="add-stuff-button">
       <router-link class="text-dark" style="text-decoration: none;" :to="{ name: 'addProduct', params: {productToEdit: {}} }"><i class="fas fa-plus text-primary"></i> Add new product</router-link>
      </b-button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
@Component
export default class ProductHeader extends Vue {
}
</script>

<style lang="scss" scoped src="./../style/crud.scss">